<br/>
<br/>

<span>xml파일은 C:\eclipse-oxygen\workspace\WOORI-PBWON\file 경로에 저장</span>
<br/>
<span>java파일명이나 oneWay, srvcId, grid부분은 각자 수정해야함.</span>
<br/>
<span>**xml파일을 수정하는 경우 java파일명, srvcId 수정하여 생성가능 (oneWay값이나 그리드 부분은 생성 후 수정해야함)**</span>
<span>1. xml파일 안에 source_input태그의 id값(Input java명), source_output태그의 id값(Output java명) 수정</span>
<span>2. src_trn_cd 태그 값을 인터페이스에 해당하는 serviceID로 수정</span>
<br/>

<input id="voNm" value="" placeholder="VO xml파일명"/>
<input id="mode" value="xml" placeholder="mode(xml / excel 중 택 1)"/>
<input id="packagePath" value="" placeholder="package (ex)com.woori.pbw.api.fnd.vo"/>
<br/>

<button id="voBtn">vo생성</button>

<br/>
<br/>