<!--
/*************************************************************************
* @ 서비스경로 : IVINF51P
* @ 파일명      : IVINF51P.html 투자정보 > AI 시장지수 분석(데자View) 설정
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
-->

<div class="content">

	<!-- group-form -->
	<div class="group-form">
		<div class="group-title py16 px8">
			<strong class="title-large px0">지수 선택</strong>
		</div>
		<div class="group-content">
			<div class="inp-group">
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".KS11" data-name="코스피"> 
						<span class="label-title">코스피</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".KQ11" data-name="코스닥"> 
						<span class="label-title">코스닥</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".IXIC" data-name="나스닥"> 
						<span class="label-title">나스닥</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".NYA" data-name="뉴욕"> 
						<span class="label-title">뉴욕</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".INX" data-name="S&P500"> 
						<span class="label-title">S&P500</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".SSEC" data-name="상해종합"> 
						<span class="label-title">상해종합</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".SZSC" data-name="심천"> 
						<span class="label-title">심천</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".HSI" data-name="항셍"> 
						<span class="label-title">항셍</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ric"  value=".N225" data-name="니케이"> 
						<span class="label-title">니케이</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form">
		<div class="group-title py16 px8">
			<strong class="title-large px0">기간 선택</strong>
		</div>
		<div class="group-content">
			<div class="inp-group">
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="temDcnt" value="60"> 
						<span class="label-title">3개월</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="temDcnt" value="120"> 
						<span class="label-title">6개월</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="temDcnt" value="240"> 
						<span class="label-title">12개월</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->


	<!-- group-form -->
	<div class="group-form mt16">
		<div class="group-title py16 px8">
			<strong class="title-large px0">과거구간 선택</strong>
		</div>
		<div class="group-content">
			<div class="inp-group">
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ycnt" value="5"> 
						<span class="label-title">5년</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ycnt" value="10"> 
						<span class="label-title">10년</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> 
						<input type="radio" name="ycnt" value="20"> 
						<span class="label-title">20년</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->
</div>











