<!--
/*************************************************************************
* @ 서비스경로 : DSCMNG11M
* @ 파일명      : DSCMNG11M.html 일정관리 > 영업 캘린더 > 일정 검색
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
-->

<style>
	body {
		background-color: var(--background-bg_lightGray);
	}
</style>
<div class="content-fluid bg-surface-surface">
	<!-- group-form -->
	<p class="description caution body-small fc-typography-caption mt24">개인일정의 제목과 메모의 내용에서 검색해드려요.</p>
	<div class="group-form mt24">
		<div class="group-content">
			<div class="form" id="searchForm1">
				<div class="label"></div>
				<div class="input-wrap input-datepicker">
					<button type="button" aria-label="대상기간 시작일"
						data-micromodal-trigger="modal-datepicker1" id="searchStartBtn"></button>
					<div class="bul">-</div>
					<button type="button" aria-label="대상기간 종료일"
						data-micromodal-trigger="modal-datepicker2" id="searchEndBtn"></button>
				</div>
				<p class="validate-text" id="validDate"></p>
			</div>
		</div>
	</div>
	<!-- //group-form -->
	
	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-content">
			<div class="form" id="searchForm2">
				<div class="label"></div>
				<div class="input-wrap">
					<input id="searchKeyword" type="text" placeholder="제목, 메모 입력" aria-label="일정 검색">
					<button type="button" class="input-remove" aria-label="입력 내용 삭제"></button>
				</div>
				<p class="validate-text" id="validKeyword"></p>
			</div>
		</div>
	</div>
	<!-- //group-form -->
	<!-- bottom-btn -->
	<div class="btn-wrap pt24">
		<button type="button" class="btn-medium btn-primary" id="searchBtn"><i class="ico-search"></i>검색</button>
	</div>
	<!-- //bottom-btn -->
</div>

<!-- schedule-section -->
<div id="dataForm">
</div>
<!-- //schedule-section -->
<div class="division-center content-fluid bg-background-bg_lightGray pb24" id="noDataForm" style="display:none">
	<div class="no-result">
		<i class="icon-only icon-48 icon-noresult bg-icon-gray_1"></i>
		<p class="body-medium fw-400">검색 결과가 없습니다.</p>
	</div>
</div>