<div class="ui-guide">
	<h1>SampleMain</h1>
	<p>Sample을 제공합니다.</p>

	<br/>
	<br/>

	<hr>
	<div class="ui-guide-section">
		<h2>파일 다운로드 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fileDown">파일 다운로드</button>
		</div>
		<hr>

		<h2>파일 업로드 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fileUp">파일 업로드</button>
		</div>
		<hr>
		<h2>데이터 바인딩 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleDataBinding">데이터 바인딩</button>
		</div>
		<hr>

		<h2>레이아웃 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/layout">레이아웃</button>
		</div>
		<hr>

		<h2>팝업 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleModal">팝업</button>
		</div>
		<hr>

		<h2>Alert <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleAlert">Alert</button>
		</div>
		<hr>

		<h2>Radio <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleRadio">Radio</button>
		</div>
		<hr>

		<h2>SelectBox <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleSelect">SelectBox</button>
		</div>
		<hr>

		<h2>리스트 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleList">리스트</button>
		</div>
		<hr>

		<h2>Native 샘플 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sampleNative">Native 샘플</button>
		</div>
		<hr>

		<h2>AI 지식상담 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/aiCnslng">AI 지식상담</button>
		</div>
		<hr>

		<h2>AI 지식상담 TEST <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/aiSample">AI 지식상담 TEST</button>
		</div>
		<hr>

		<h2>Utils <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/utils">유틸리티</button>
		</div>
		<hr>
		
		<h2>Vo생성 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/createVo">xml -> Vo생성</button>
		</div>
		<hr>
		
		<h2>PDF Viewer <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/samplePdfViewer">PDF Viewr</button>
		</div>
		<hr>
	</div>
</div>