<div class="ui-guide">
    <h1>Select Box</h1>
    <p>SelectBox 관련 Sample을 제공합니다.</p>

    <div class="ui-guide-section">
        <div class="ui-guide-box">
            <h2>SelectBox</h2>
            <hr>
            <div class="ui-guide-section">
                <div class="guide-column-list">
                    <button id="selBtn" class="select" data-micromodal-trigger="selectModal" data-placeholder="선택하세요"><span>5개 이상</span></button>
                </div>
                <input id="selectVal" type="text" title="선택값" value=""/>
                </div>
            </div>
        </div>
    </div>
    <button id="goBtn" type="button" class="btn-large btn-primary">페이지 이동</button>

</div>
