
/* bs-card */
.bs-card-wrap {position:relative;}
.bs-card-wrap input[type="radio"] {appearance:none;-webkit-appearance:none;position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;opacity:0;}


/* px bs-card */
.bs-card-wrap input[type="radio"]:checked ~ .bs-card {box-shadow:0px 0px 2px 2px var(--status-focused)}
.bs-card {position:relative;border-radius:8px;border:1px solid var(--border-8);box-shadow:0px 0.5px 0px 0px var(--shadow-gray_1), 0px 2px 4px -1px var(--shadow-gray_1);-webkit-text-size-adjust:auto;transition:box-shadow 0.3s ease;}
.bs-card .bs-typeA {background-color:var(--background-bg_lightGray);border-radius:inherit;}
.bs-card .bs-typeA .title figure {margin-top:-8px;}
.bs-card .bs-typeB {background-color:#F7F7F1;border-radius:inherit;}
.bs-card .bs-typeB .top {padding-bottom:12px;}
.bs-card .bs-typeB .title {border-bottom:1px solid #7A533C;padding-bottom:10px;}
.bs-card .bs-typeB .title .left {min-height:58px;}
.bs-card .bs-typeB .location {margin-top:12px;}

.bs-card .right {margin-left:auto;}
.bs-card .top {display:flex;align-items:center;justify-content:space-between;padding:13px 18px 10px;}
.bs-card .line picture img {width:100%;}
.bs-card .center {padding:0 18px 10px;}

.bs-card .title {display:flex;justify-content:space-between;gap:10px;}
.bs-card .title .left {display:flex;gap:8px;align-items:flex-start;}
.bs-card .title .right {flex:0;white-space:nowrap;word-break:break-word;}

.bs-card dl {text-align:right;}
.bs-card dl dt {font-size:18px;font-weight:500;color:var(--typography-title);letter-spacing:5px;margin-right:-5px;line-height:1;margin-bottom:8px;}
.bs-card dl dd {font-size:11px;font-weight:400;color:var(--typography-body);line-height:1;}
.bs-card dl dd:not(:last-child) {margin-bottom:3px;}

.bs-card .info {display:flex;justify-content:space-between;gap:10px;padding-top:8px;}
.bs-card .location {font-size:10px;font-weight:400;color:var(--typography-body);line-height:1.3;}
.bs-card .location:not(:first-child) {margin-top:3px;}
.bs-card .email {font-size:10px;font-weight:400;color:var(--typography-body);line-height:1.3;margin-top:2px;}
.bs-card .info .right {flex:0;white-space:nowrap;}

.bs-card .contact {display:table;}
.bs-card .contact .row {display:table-row;}
.bs-card .contact .row .th {width:0;white-space:nowrap;font-weight:500;}
.bs-card .contact .row .td {display:table-cell;padding-left:10px;}
.bs-card .contact .row .th,
.bs-card .contact .row .td {display:table-cell;font-size:9px;font-weight:500;line-height:1.3;color:var(--typography-body);text-align:right;}
.bs-card .contact .row:not(:last-child) .th,
.bs-card .contact .row:not(:last-child) .td {border-bottom:2px solid transparent;}
.bs-card .bottom {padding:8px 12px;background-color:var(--surface-surface100);border-radius:0 0 8px 8px;min-height:26px;}
.bs-card .bottom ul {display:flex;gap:2px 6px;flex-wrap:wrap;}
.bs-card .bottom ul li {font-size:8px;font-weight:400;color:var(--typography-gray);line-height:1.3;}

.bs-card figure picture {display:flex;width:46px;height:59px;align-items:center;justify-content:center;}

.bs-card .top-logo01 {display:flex;width:68px;height:20px;}
.bs-card .top-logo02 {display:flex;width:136px;height:31px;margin-bottom:-10px;}
.bs-card .top-logo03 {display:flex;width:112px;height:15px;}
.bs-card .top-aff01 {display:flex;width:69px;height:12px;}
.bs-card .center-logo01 {display:flex;width:77px;height:18px;}
.bs-card .center-cfp {display:flex;width:32px;height:21px;}
.bs-card .info-logo01 {display:flex;width:68px;}

.bs-card .top-logo01 img,
.bs-card .top-logo02 img,
.bs-card .top-logo03 img,
.bs-card .top-aff01 img,
.bs-card .center-logo01 img,
.bs-card .center-cfp img,
.bs-card .info-logo01 img {width:100%;object-fit:contain;}
.bs-card-wrap.capturing .bs-card {box-shadow:none!important;transition:none!important;overflow:hidden!important;}


/* bs-card vw */
.bs-card-wrap input[type="radio"]:checked ~ .bs-card {box-shadow:0.0000vw 0.0000vw 0.5556vw 0.5556vw var(--status-focused)}
.bs-card {position:relative;border-radius:2.2222vw;border:0.2778vw solid var(--border-8);box-shadow:0.0000vw 0.1389vw 0.0000vw 0.0000vw var(--shadow-gray_1), 0.0000vw 0.5556vw 1.1111vw -0.2778vw var(--shadow-gray_1);-webkit-text-size-adjust:auto;transition:box-shadow 0.3s ease;}
.bs-card .bs-typeA {background-color:var(--background-bg_lightGray);border-radius:inherit;}
.bs-card .bs-typeA .title figure {margin-top:-2.2222vw;}
.bs-card .bs-typeB {background-color:#F7F7F1;border-radius:inherit;}
.bs-card .bs-typeB .top {padding-bottom:3.3333vw;}
.bs-card .bs-typeB .title {border-bottom:0.2778vw solid #7A533C;padding-bottom:2.7778vw;}
.bs-card .bs-typeB .title .left {min-height:16.1111vw;}
.bs-card .bs-typeB .location {margin-top:3.3333vw;}

.bs-card .right {margin-left:auto;}
.bs-card .top {display:flex;align-items:center;justify-content:space-between;padding:3.6111vw 5.0000vw 2.7778vw;}
.bs-card .line picture img {width:100%;}
.bs-card .center {padding:0 5.0000vw 2.7778vw;}

.bs-card .title {display:flex;justify-content:space-between;gap:2.7778vw;}
.bs-card .title .left {display:flex;gap:2.2222vw;align-items:flex-start;}
.bs-card .title .right {flex:0;white-space:nowrap;word-break:break-word;}

.bs-card dl {text-align:right;}
.bs-card dl dt {font-size:5.0000vw;font-weight:500;color:var(--typography-title);letter-spacing:1.3889vw;margin-right:-1.3889vw;line-height:1;margin-bottom:2.2222vw;}
.bs-card dl dd {font-size:3.0556vw;font-weight:400;color:var(--typography-body);line-height:1;}
.bs-card dl dd:not(:last-child) {margin-bottom:0.8333vw;}

.bs-card .info {display:flex;justify-content:space-between;gap:2.7778vw;padding-top:2.2222vw;}
.bs-card .location {font-size:2.7778vw;font-weight:400;color:var(--typography-body);line-height:1.3;}
.bs-card .location:not(:first-child) {margin-top:0.8333vw;}
.bs-card .email {font-size:2.7778vw;font-weight:400;color:var(--typography-body);line-height:1.3;margin-top:0.5556vw;}
.bs-card .info .right {flex:0;white-space:nowrap;}

.bs-card .contact {display:table;}
.bs-card .contact .row {display:table-row;}
.bs-card .contact .row .th {width:0;white-space:nowrap;font-weight:500;}
.bs-card .contact .row .td {display:table-cell;padding-left:2.7778vw;}
.bs-card .contact .row .th,
.bs-card .contact .row .td {display:table-cell;font-size:2.5000vw;font-weight:500;line-height:1.3;color:var(--typography-body);text-align:right;}
.bs-card .contact .row:not(:last-child) .th,
.bs-card .contact .row:not(:last-child) .td {border-bottom:0.5556vw solid transparent;}
.bs-card .bottom {padding:2.2222vw 3.3333vw;background-color:var(--surface-surface100);border-radius:0 0 2.2222vw 2.2222vw;min-height:7.2222vw;}
.bs-card .bottom ul {display:flex;gap:0.5556vw 1.6667vw;flex-wrap:wrap;}
.bs-card .bottom ul li {font-size:2.2222vw;font-weight:400;color:var(--typography-gray);line-height:1.3;}
.bs-card .bottom1 {padding:2.2222vw 3.3333vw;background-color:var(--surface-surface100);border-radius:0 0 2.2222vw 2.2222vw;min-height:7.2222vw;}
.bs-card .bottom1 ul {display:flex;gap:0.5556vw 1.6667vw;flex-wrap:wrap;}
.bs-card .bottom1 ul li {font-size:2.2222vw;font-weight:400;color:var(--typography-gray);line-height:1.3;}

.bs-card figure picture {display:flex;width:12.7778vw;height:16.3889vw;align-items:center;justify-content:center;overflow:hidden;}

.bs-card .top-logo01 {display:flex;width:18.8889vw;height:5.5556vw;}
.bs-card .top-logo02 {display:flex;width:37.7778vw;height:8.6111vw;margin-bottom:-2.7778vw;}
.bs-card .top-logo03 {display:flex;width:31.1111vw;height:4.1667vw;}
.bs-card .top-aff01 {display:flex;width:19.1667vw;height:3.3333vw;}
.bs-card .center-logo01 {display:flex;width:21.3889vw;height:5.0000vw;}
.bs-card .center-cfp {display:flex;width:8.8889vw;height:5.8333vw;}
.bs-card .info-logo01 {display:flex;width:18.8889vw;}

.bs-card .top-logo01 img,
.bs-card .top-logo02 img,
.bs-card .top-logo03 img,
.bs-card .top-aff01 img,
.bs-card .center-logo01 img,
.bs-card .center-cfp img,
.bs-card .info-logo01 img {width:100%;object-fit:contain;}
.bs-card-wrap.capturing .bs-card {box-shadow:none!important;transition:none!important;overflow:hidden!important;}

@media (min-width:768px) and (orientation:landscape) {

    /* section-tablet bs-card vw */
    .section-tablet .bs-card-wrap input[type="radio"]:checked ~ .bs-card {box-shadow:0.0000vw 0.0000vw 0.1953vw 0.1953vw var(--status-focused)}
    .section-tablet .bs-card {position:relative;border-radius:0.7813vw;border:0.0977vw solid var(--border-8);box-shadow:0.0000vw 0.0488vw 0.0000vw 0.0000vw var(--shadow-gray_1), 0.0000vw 0.1953vw 0.3906vw -0.0977vw var(--shadow-gray_1);-webkit-text-size-adjust:auto;transition:box-shadow 0.3s ease;}
    .section-tablet .bs-card .bs-typeA {background-color:var(--background-bg_lightGray);border-radius:inherit;}
    .section-tablet .bs-card .bs-typeA .title figure {margin-top:-0.7813vw;}
    .section-tablet .bs-card .bs-typeB {background-color:#F7F7F1;border-radius:inherit;}
    .section-tablet .bs-card .bs-typeB .top {padding-bottom:1.1719vw;}
    .section-tablet .bs-card .bs-typeB .title {border-bottom:0.0977vw solid #7A533C;padding-bottom:0.9766vw;}
    .section-tablet .bs-card .bs-typeB .title .left {min-height:5.6641vw;}
    .section-tablet .bs-card .bs-typeB .location {margin-top:1.1719vw;}

    .section-tablet .bs-card .right {margin-left:auto;}
    .section-tablet .bs-card .top {display:flex;align-items:center;justify-content:space-between;padding:1.2695vw 1.7578vw 0.9766vw;}
    .section-tablet .bs-card .line picture img {width:100%;}
    .section-tablet .bs-card .center {padding:0 1.7578vw 0.9766vw;}

    .section-tablet .bs-card .title {display:flex;justify-content:space-between;gap:0.9766vw;}
    .section-tablet .bs-card .title .left {display:flex;gap:0.7813vw;align-items:flex-start;}
    .section-tablet .bs-card .title .right {flex:0;white-space:nowrap;word-break:break-word;}

    .section-tablet .bs-card dl {text-align:right;}
    .section-tablet .bs-card dl dt {font-size:1.7578vw;font-weight:500;color:var(--typography-title);letter-spacing:0.4883vw;margin-right:-0.4883vw;line-height:1;margin-bottom:0.7813vw;}
    .section-tablet .bs-card dl dd {font-size:1.0742vw;font-weight:400;color:var(--typography-body);line-height:1;}
    .section-tablet .bs-card dl dd:not(:last-child) {margin-bottom:0.2930vw;}

    .section-tablet .bs-card .info {display:flex;justify-content:space-between;gap:0.9766vw;padding-top:0.7813vw;}
    .section-tablet .bs-card .location {font-size:0.9766vw;font-weight:400;color:var(--typography-body);line-height:1.3;}
    .section-tablet .bs-card .location:not(:first-child) {margin-top:0.2930vw;}
    .section-tablet .bs-card .email {font-size:0.9766vw;font-weight:400;color:var(--typography-body);line-height:1.3;margin-top:0.1953vw;}
    .section-tablet .bs-card .info .right {flex:0;white-space:nowrap;}

    .section-tablet .bs-card .contact {display:table;}
    .section-tablet .bs-card .contact .row {display:table-row;}
    .section-tablet .bs-card .contact .row .th {width:0;white-space:nowrap;font-weight:500;}
    .section-tablet .bs-card .contact .row .td {display:table-cell;padding-left:0.9766vw;}
    .section-tablet .bs-card .contact .row .th,
    .section-tablet .bs-card .contact .row .td {display:table-cell;font-size:0.8789vw;font-weight:500;line-height:1.3;color:var(--typography-body);text-align:right;}
    .section-tablet .bs-card .contact .row:not(:last-child) .th,
    .section-tablet .bs-card .contact .row:not(:last-child) .td {border-bottom:0.1953vw solid transparent;}
    .section-tablet .bs-card .bottom {padding:0.7813vw 1.1719vw;background-color:var(--surface-surface100);border-radius:0 0 0.7813vw 0.7813vw;min-height:2.5391vw;}
    .section-tablet .bs-card .bottom ul {display:flex;gap:0.1953vw 0.5859vw;flex-wrap:wrap;}
    .section-tablet .bs-card .bottom ul li {font-size:0.7813vw;font-weight:400;color:var(--typography-gray);line-height:1.3;}

    .section-tablet .bs-card figure picture {display:flex;width:4.4922vw;height:5.7617vw;align-items:center;justify-content:center;}

    .section-tablet .bs-card .top-logo01 {display:flex;width:6.6406vw;height:1.9531vw;}
    .section-tablet .bs-card .top-logo02 {display:flex;width:13.2813vw;height:3.0273vw;margin-bottom:-0.9766vw;}
    .section-tablet .bs-card .top-logo03 {display:flex;width:10.9375vw;height:1.4648vw;}
    .section-tablet .bs-card .top-aff01 {display:flex;width:6.7383vw;height:1.1719vw;}
    .section-tablet .bs-card .center-logo01 {display:flex;width:7.5195vw;height:1.7578vw;}
    .section-tablet .bs-card .center-cfp {display:flex;width:3.1250vw;height:2.0508vw;}
    .section-tablet .bs-card .info-logo01 {display:flex;width:6.6406vw;}

    .section-tablet .bs-card .top-logo01 img,
    .section-tablet .bs-card .top-logo02 img,
    .section-tablet .bs-card .top-logo03 img,
    .section-tablet .bs-card .top-aff01 img,
    .section-tablet .bs-card .center-logo01 img,
    .section-tablet .bs-card .center-cfp img,
    .section-tablet .bs-card .info-logo01 img {width:100%;object-fit:contain;}
    .section-tablet .bs-card-wrap.capturing .bs-card {box-shadow:none!important;transition:none!important;overflow:hidden!important;}
}
/* http://publishing.kr/vw/ */
