@charset "utf-8";

:root {
    -webkit-tap-highlight-color:transparent;
}

/* Reset */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,input,textarea,i,u,em,strong,b,a,button,th,td,code,figure,figcaption,picture,object{margin:0;padding:0;}
h1,h2,h3,h4,h5,strong {font-weight:700;}
b {font-weight:500;}
h1,h2,h3,h4,h5,h6 {font-size:inherit;line-height:1.5;}
*,*:before,*:after {box-sizing:border-box;}
img,fieldset,iframe,button{border:0;letter-spacing:inherit;}
img {max-width:100%;}
ul,ol{list-style:none}
ul li {list-style-type:inherit;list-style-position:inherit;}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {appearance:none;} */
/* input[type=number] {-moz-appearance:textfield;} */
input,select,button,label,textarea,a {}
input,textarea,button {font-size:inherit;font-family:inherit;color:inherit;line-height:inherit;}
input,textarea {background-clip:padding-box;font-weight:inherit;}
input[type="password"] {font-family:inherit;}
select {font-size:inherit;color:inherit;line-height:inherit;font-family:inherit;}
input:disabled,select:disabled,button:disabled,label:disabled,a:disabled,textarea:disabled {cursor:default;opacity:1;}
textarea {resize:none;}
label,button,select,a{cursor:pointer;}
table{border-collapse:separate;border-spacing:0;width:100%;table-layout:auto;}
legend {overflow:hidden;visibility:hidden;font-size:1px;text-indent:-9999px;margin-top:-1px;width:1px;height:1px;}
a {text-decoration:none;color:inherit;}
a:visited {text-decoration:none;}
a:hover,
a:focus {text-decoration:none;}
button {background:none;font-family:inherit;overflow:visible;text-align:inherit;font-weight:inherit;}
em {font-style:normal;font-weight:700;}
i {font-style:normal;}
code {display:inline;color:inherit;font-size:inherit;line-height:inherit;font-family:inherit;font-weight:inherit;}
pre {color:inherit;font-size:inherit;line-height:inherit;font-family:inherit;font-weight:inherit;margin:0;white-space:break-spaces;}
table caption {position:absolute;width:1px;height:1px;overflow:hidden;}
table .caption-visible {position:static;width:auto;height:auto;padding:inherit;}
picture {}
picture img {display:flex;}
object {display:block;}

button:focus-visible,a:focus-visible {outline-offset:-1px;outline:1px solid var(--status-focused);}

html {-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch;overscroll-behavior:none;}

body {word-break:break-word;font-size:14px;line-height:1.6;font-family:'Pretendard';font-weight:500;color:var(--typography-body);}

/* hidden */ 
.blind {position:absolute!important;color:transparent!important;opacity:0!important;width:1px!important;height:1px!important;font-size:1px!important;overflow:hidden!important;padding:0!important;border:0!important;}

.tabpanel {display:none;}
.tabpanel.tab-active {display:block;}

.accordion-content .acc-panel {display:none;}
.accordion-content .acc-panel.acc-active {display:block;}

.ac {text-align:center!important;}
.al {text-align:left!important;}
.ar {text-align:right!important;}

.vm {vertical-align:middle!important;}
.vt {vertical-align:top!important;}
.vb {vertical-align:bottom!important;}

.nowrap {white-space:nowrap!important;}
.normal-wrap {white-space:normal!important;}
.d-flex {display:flex!important;}
.d-inflex {display:inline-flex!important;}
.j-between {justify-content:space-between!important;}
.j-center {justify-content:center!important;}
.j-start {justify-content:start!important;}
.j-end {justify-content:flex-end!important;}
.a-start {align-items:flex-start!important;}
.a-end {align-items:flex-end!important;}
.a-center {align-items:center!important;}
.flex-column {flex-direction:column!important;}
.flex-row {flex-direction:row!important;}
.flex-wrap {flex-wrap:wrap!important;}
.no-flex-wrap {flex-wrap:nowrap!important;}
.flex-auto {flex:auto!important;}
.width-auto {width:auto!important;}
.min-width-auto {min-width:auto!important;}
.relative {position:relative!important;}
.table-layout-auto {table-layout:auto!important;}
.br8 {border-radius:8px!important;}
.br12 {border-radius:12px!important;}

/* font */
.fw-300 {font-weight:300!important;}
.fw-400 {font-weight:400!important;}
.fw-500 {font-weight:500!important;}
.fw-700 {font-weight:700!important;}
.fs-10 {font-size:10px!important;}
.fs-11 {font-size:11px!important;}
.fs-12 {font-size:12px!important;}
.fs-13 {font-size:13px!important;}
.fs-14 {font-size:14px!important;}
.fs-15 {font-size:15px!important;}
.fs-16 {font-size:16px!important;}
.fs-17 {font-size:17px!important;}
.fs-18 {font-size:18px!important;}
.fs-19 {font-size:19px!important;}
.fs-20 {font-size:20px!important;}
.fs-21 {font-size:21px!important;}
.fs-22 {font-size:22px!important;}
.fs-23 {font-size:23px!important;}
.fs-24 {font-size:24px!important;}

.underline {text-decoration:underline!important;}
.ellipsis {display:-webkit-inline-box!important;-webkit-box-orient:vertical!important;overflow:hidden!important;text-overflow:ellipsis!important;vertical-align:top;-webkit-line-clamp:1;word-break:break-all;}
.ellipsis[data-ellipsis="1"] {}
.ellipsis[data-ellipsis="2"] {-webkit-line-clamp:2;}
.ellipsis[data-ellipsis="3"] {-webkit-line-clamp:3;}

.gap0 {gap:0px!important;}
.gap1 {gap:1px!important;}
.gap2 {gap:2px!important;}
.gap3 {gap:3px!important;}
.gap4 {gap:4px!important;}
.gap5 {gap:5px!important;}
.gap6 {gap:6px!important;}
.gap7 {gap:7px!important;}
.gap8 {gap:8px!important;}
.gap9 {gap:9px!important;}
.gap10 {gap:10px!important;}
.gap11 {gap:11px!important;}
.gap12 {gap:12px!important;}
.gap13 {gap:13px!important;}
.gap14 {gap:14px!important;}
.gap15 {gap:15px!important;}
.gap16 {gap:16px!important;}
.gap17 {gap:17px!important;}
.gap18 {gap:18px!important;}
.gap19 {gap:19px!important;}
.gap20 {gap:20px!important;}
.gap30 {gap:30px!important;}

.mtauto {margin-top:auto!important;}
.mt0 {margin-top:0px!important;}
.mt2 {margin-top:2px!important;}
.mt4 {margin-top:4px!important;}
.mt5 {margin-top:5px!important;}
.mt6 {margin-top:6px!important;}
.mt8 {margin-top:8px!important;}
.mt10 {margin-top:10px!important;}
.mt12 {margin-top:12px!important;}
.mt14 {margin-top:14px!important;}
.mt15 {margin-top:15px!important;}
.mt16 {margin-top:16px!important;}
.mt20 {margin-top:20px!important;}
.mt24 {margin-top:24px!important;}
.mt25 {margin-top:25px!important;}
.mt30 {margin-top:30px!important;}
.mt32 {margin-top:32px!important;}
.mt35 {margin-top:35px!important;}
.mt40 {margin-top:40px!important;}
.mt42 {margin-top:42px!important;}
.mt45 {margin-top:45px!important;}
.mt50 {margin-top:50px!important;}
.mt70 {margin-top:70px!important;}
.mt100 {margin-top:100px!important;}

.mbauto {margin-bottom:auto!important;}
.mb0 {margin-bottom:0px!important;}
.mb2 {margin-bottom:2px!important;}
.mb4 {margin-bottom:4px!important;}
.mb5 {margin-bottom:5px!important;}
.mb6 {margin-bottom:6px!important;}
.mb8 {margin-bottom:8px!important;}
.mb10 {margin-bottom:10px!important;}
.mb12 {margin-bottom:12px!important;}
.mb14 {margin-bottom:14px!important;}
.mb15 {margin-bottom:15px!important;}
.mb16 {margin-bottom:16px!important;}
.mb20 {margin-bottom:20px!important;}
.mb24 {margin-bottom:24px!important;}
.mb25 {margin-bottom:25px!important;}
.mb30 {margin-bottom:30px!important;}
.mb32 {margin-bottom:32px!important;}
.mb35 {margin-bottom:35px!important;}
.mb40 {margin-bottom:40px!important;}
.mb45 {margin-bottom:45px!important;}
.mb50 {margin-bottom:50px!important;}
.mb70 {margin-bottom:70px!important;}
.mb100 {margin-bottom:100px!important;}

.mlauto {margin-left:auto!important;}
.ml0 {margin-left:0px!important;}
.ml2 {margin-left:2px!important;}
.ml4 {margin-left:4px!important;}
.ml5 {margin-left:5px!important;}
.ml6 {margin-left:6px!important;}
.ml8 {margin-left:8px!important;}
.ml10 {margin-left:10px!important;}
.ml12 {margin-left:12px!important;}
.ml15 {margin-left:15px!important;}
.ml16 {margin-left:16px!important;}
.ml20 {margin-left:20px!important;}
.ml24 {margin-left:24px!important;}
.ml25 {margin-left:25px!important;}
.ml30 {margin-left:30px!important;}
.ml32 {margin-left:32px!important;}
.ml35 {margin-left:35px!important;}
.ml40 {margin-left:40px!important;}
.ml45 {margin-left:45px!important;}
.ml50 {margin-left:50px!important;}
.ml70 {margin-left:70px!important;}
.ml100 {margin-left:100px!important;}

.mrauto {margin-right:auto!important;}
.mr0 {margin-right:0px!important;}
.mr2 {margin-right:2px!important;}
.mr4 {margin-right:4px!important;}
.mr5 {margin-right:5px!important;}
.mr6 {margin-right:6px!important;}
.mr8 {margin-right:8px!important;}
.mr10 {margin-right:10px!important;}
.mr12 {margin-right:12px!important;}
.mr15 {margin-right:15px!important;}
.mr16 {margin-right:16px!important;}
.mr20 {margin-right:20px!important;}
.mr24 {margin-right:24px!important;}
.mr25 {margin-right:25px!important;}
.mr30 {margin-right:30px!important;}
.mr32 {margin-right:32px!important;}
.mr35 {margin-right:35px!important;}
.mr40 {margin-right:40px!important;}
.mr45 {margin-right:45px!important;}
.mr50 {margin-right:50px!important;}
.mr70 {margin-right:70px!important;}
.mr100 {margin-right:100px!important;}

.mauto {margin:auto!important;}
.m0 {margin:0px!important;}
.m4 {margin:4px!important;}
.m5 {margin:5px!important;}
.m6 {margin:6px!important;}
.m8 {margin:8px!important;}
.m10 {margin:10px!important;}
.m12 {margin:12px!important;}
.m15 {margin:15px!important;}
.m16 {margin:16px!important;}
.m20 {margin:20px!important;}
.m24 {margin:24px!important;}
.m25 {margin:25px!important;}
.m30 {margin:30px!important;}
.m32 {margin:32px!important;}
.m35 {margin:35px!important;}
.m40 {margin:40px!important;}
.m45 {margin:45px!important;}
.m50 {margin:50px!important;}
.m70 {margin:70px!important;}
.m100 {margin:100px!important;}

.my0 {margin-top:0px!important;margin-bottom:0px!important;}
.my4 {margin-top:4px!important;margin-bottom:4px!important;}
.my5 {margin-top:5px!important;margin-bottom:5px!important;}
.my6 {margin-top:6px!important;margin-bottom:6px!important;}
.my8 {margin-top:8px!important;margin-bottom:8px!important;}
.my10 {margin-top:10px!important;margin-bottom:10px!important;}
.my12 {margin-top:12px!important;margin-bottom:12px!important;}
.my13 {margin-top:13px!important;margin-bottom:13px!important;}
.my15 {margin-top:15px!important;margin-bottom:15px!important;}
.my16 {margin-top:16px!important;margin-bottom:16px!important;}
.my20 {margin-top:20px!important;margin-bottom:20px!important;}
.my24 {margin-top:24px!important;margin-bottom:24px!important;}
.my25 {margin-top:25px!important;margin-bottom:25px!important;}
.my30 {margin-top:30px!important;margin-bottom:30px!important;}
.my32 {margin-top:32px!important;margin-bottom:32px!important;}
.my35 {margin-top:35px!important;margin-bottom:35px!important;}
.my40 {margin-top:40px!important;margin-bottom:40px!important;}
.my45 {margin-top:45px!important;margin-bottom:45px!important;}
.my50 {margin-top:50px!important;margin-bottom:50px!important;}
.my70 {margin-top:70px!important;margin-bottom:70px!important;}
.my100 {margin-top:100px!important;margin-bottom:100px!important;}

.mx0 {margin-left:0px!important;margin-right:0px!important;}
.mx4 {margin-left:4px!important;margin-right:4px!important;}
.mx5 {margin-left:5px!important;margin-right:5px!important;}
.mx6 {margin-left:6px!important;margin-right:6px!important;}
.mx8 {margin-left:8px!important;margin-right:8px!important;}
.mx10 {margin-left:10px!important;margin-right:10px!important;}
.mx12 {margin-left:12px!important;margin-right:12px!important;}
.mx13 {margin-left:13px!important;margin-right:13px!important;}
.mx15 {margin-left:15px!important;margin-right:15px!important;}
.mx16 {margin-left:16px!important;margin-right:16px!important;}
.mx20 {margin-left:20px!important;margin-right:20px!important;}
.mx24 {margin-left:24px!important;margin-right:24px!important;}
.mx25 {margin-left:25px!important;margin-right:25px!important;}
.mx30 {margin-left:30px!important;margin-right:30px!important;}
.mx32 {margin-left:32px!important;margin-right:32px!important;}
.mx35 {margin-left:35px!important;margin-right:35px!important;}
.mx40 {margin-left:40px!important;margin-right:40px!important;}
.mx45 {margin-left:45px!important;margin-right:45px!important;}
.mx50 {margin-left:50px!important;margin-right:50px!important;}
.mx70 {margin-left:70px!important;margin-right:70px!important;}
.mx100 {margin-left:100px!important;margin-right:100px!important;}

.mt-2 {margin-top:-2px!important;}
.mt-4 {margin-top:-4px!important;}
.mt-5 {margin-top:-5px!important;}
.mt-6 {margin-top:-6px!important;}
.mt-8 {margin-top:-8px!important;}
.mt-10 {margin-top:-10px!important;}
.mt-12 {margin-top:-12px!important;}
.mt-14 {margin-top:-14px!important;}
.mt-15 {margin-top:-15px!important;}
.mt-16 {margin-top:-16px!important;}
.mt-20 {margin-top:-20px!important;}
.mt-24 {margin-top:-24px!important;}
.mt-25 {margin-top:-25px!important;}
.mt-30 {margin-top:-30px!important;}
.mt-32 {margin-top:-32px!important;}
.mt-35 {margin-top:-35px!important;}
.mt-40 {margin-top:-40px!important;}
.mt-42 {margin-top:-42px!important;}
.mt-45 {margin-top:-45px!important;}
.mt-50 {margin-top:-50px!important;}
.mt-70 {margin-top:-70px!important;}
.mt-100 {margin-top:-100px!important;}

.mb-2 {margin-bottom:-2px!important;}
.mb-4 {margin-bottom:-4px!important;}
.mb-5 {margin-bottom:-5px!important;}
.mb-6 {margin-bottom:-6px!important;}
.mb-8 {margin-bottom:-8px!important;}
.mb-10 {margin-bottom:-10px!important;}
.mb-12 {margin-bottom:-12px!important;}
.mb-14 {margin-bottom:-14px!important;}
.mb-15 {margin-bottom:-15px!important;}
.mb-16 {margin-bottom:-16px!important;}
.mb-20 {margin-bottom:-20px!important;}
.mb-24 {margin-bottom:-24px!important;}
.mb-25 {margin-bottom:-25px!important;}
.mb-30 {margin-bottom:-30px!important;}
.mb-32 {margin-bottom:-32px!important;}
.mb-35 {margin-bottom:-35px!important;}
.mb-40 {margin-bottom:-40px!important;}
.mb-45 {margin-bottom:-45px!important;}
.mb-50 {margin-bottom:-50px!important;}
.mb-70 {margin-bottom:-70px!important;}
.mb-100 {margin-bottom:-100px!important;}

.ml-2 {margin-left:-2px!important;}
.ml-4 {margin-left:-4px!important;}
.ml-5 {margin-left:-5px!important;}
.ml-6 {margin-left:-6px!important;}
.ml-8 {margin-left:-8px!important;}
.ml-10 {margin-left:-10px!important;}
.ml-12 {margin-left:-12px!important;}
.ml-15 {margin-left:-15px!important;}
.ml-16 {margin-left:-16px!important;}
.ml-20 {margin-left:-20px!important;}
.ml-24 {margin-left:-24px!important;}
.ml-25 {margin-left:-25px!important;}
.ml-30 {margin-left:-30px!important;}
.ml-32 {margin-left:-32px!important;}
.ml-35 {margin-left:-35px!important;}
.ml-40 {margin-left:-40px!important;}
.ml-45 {margin-left:-45px!important;}
.ml-50 {margin-left:-50px!important;}
.ml-70 {margin-left:-70px!important;}
.ml-100 {margin-left:-100px!important;}

.mr-2 {margin-right:-2px!important;}
.mr-4 {margin-right:-4px!important;}
.mr-5 {margin-right:-5px!important;}
.mr-6 {margin-right:-6px!important;}
.mr-8 {margin-right:-8px!important;}
.mr-10 {margin-right:-10px!important;}
.mr-12 {margin-right:-12px!important;}
.mr-15 {margin-right:-15px!important;}
.mr-16 {margin-right:-16px!important;}
.mr-20 {margin-right:-20px!important;}
.mr-24 {margin-right:-24px!important;}
.mr-25 {margin-right:-25px!important;}
.mr-30 {margin-right:-30px!important;}
.mr-32 {margin-right:-32px!important;}
.mr-35 {margin-right:-35px!important;}
.mr-40 {margin-right:-40px!important;}
.mr-45 {margin-right:-45px!important;}
.mr-50 {margin-right:-50px!important;}
.mr-70 {margin-right:-70px!important;}
.mr-100 {margin-right:-100px!important;}

.my-0 {margin-top:-0px!important;margin-bottom:-0px!important;}
.my-4 {margin-top:-4px!important;margin-bottom:-4px!important;}
.my-5 {margin-top:-5px!important;margin-bottom:-5px!important;}
.my-6 {margin-top:-6px!important;margin-bottom:-6px!important;}
.my-8 {margin-top:-8px!important;margin-bottom:-8px!important;}
.my-10 {margin-top:-10px!important;margin-bottom:-10px!important;}
.my-12 {margin-top:-12px!important;margin-bottom:-12px!important;}
.my-13 {margin-top:-13px!important;margin-bottom:-13px!important;}
.my-15 {margin-top:-15px!important;margin-bottom:-15px!important;}
.my-16 {margin-top:-16px!important;margin-bottom:-16px!important;}
.my-20 {margin-top:-20px!important;margin-bottom:-20px!important;}
.my-24 {margin-top:-24px!important;margin-bottom:-24px!important;}
.my-25 {margin-top:-25px!important;margin-bottom:-25px!important;}
.my-30 {margin-top:-30px!important;margin-bottom:-30px!important;}
.my-32 {margin-top:-32px!important;margin-bottom:-32px!important;}
.my-35 {margin-top:-35px!important;margin-bottom:-35px!important;}
.my-40 {margin-top:-40px!important;margin-bottom:-40px!important;}
.my-45 {margin-top:-45px!important;margin-bottom:-45px!important;}
.my-50 {margin-top:-50px!important;margin-bottom:-50px!important;}
.my-70 {margin-top:-70px!important;margin-bottom:-70px!important;}
.my-100 {margin-top:-100px!important;margin-bottom:-100px!important;}

.mx-0 {margin-left:-0px!important;margin-right:-0px!important;}
.mx-4 {margin-left:-4px!important;margin-right:-4px!important;}
.mx-5 {margin-left:-5px!important;margin-right:-5px!important;}
.mx-6 {margin-left:-6px!important;margin-right:-6px!important;}
.mx-8 {margin-left:-8px!important;margin-right:-8px!important;}
.mx-10 {margin-left:-10px!important;margin-right:-10px!important;}
.mx-12 {margin-left:-12px!important;margin-right:-12px!important;}
.mx-13 {margin-left:-13px!important;margin-right:-13px!important;}
.mx-15 {margin-left:-15px!important;margin-right:-15px!important;}
.mx-16 {margin-left:-16px!important;margin-right:-16px!important;}
.mx-20 {margin-left:-20px!important;margin-right:-20px!important;}
.mx-24 {margin-left:-24px!important;margin-right:-24px!important;}
.mx-25 {margin-left:-25px!important;margin-right:-25px!important;}
.mx-30 {margin-left:-30px!important;margin-right:-30px!important;}
.mx-32 {margin-left:-32px!important;margin-right:-32px!important;}
.mx-35 {margin-left:-35px!important;margin-right:-35px!important;}
.mx-40 {margin-left:-40px!important;margin-right:-40px!important;}
.mx-45 {margin-left:-45px!important;margin-right:-45px!important;}
.mx-50 {margin-left:-50px!important;margin-right:-50px!important;}
.mx-70 {margin-left:-70px!important;margin-right:-70px!important;}
.mx-100 {margin-left:-100px!important;margin-right:-100px!important;}

.pt0 {padding-top:0px!important;}
.pt4 {padding-top:4px!important;}
.pt5 {padding-top:5px!important;}
.pt6 {padding-top:6px!important;}
.pt8 {padding-top:8px!important;}
.pt10 {padding-top:10px!important;}
.pt12 {padding-top:12px!important;}
.pt13 {padding-top:13px!important;}
.pt15 {padding-top:15px!important;}
.pt16 {padding-top:16px!important;}
.pt20 {padding-top:20px!important;}
.pt24 {padding-top:24px!important;}
.pt25 {padding-top:25px!important;}
.pt30 {padding-top:30px!important;}
.pt32 {padding-top:32px!important;}
.pt35 {padding-top:35px!important;}
.pt40 {padding-top:40px!important;}
.pt45 {padding-top:45px!important;}
.pt50 {padding-top:50px!important;}
.pt70 {padding-top:70px!important;}
.pt100 {padding-top:100px!important;}

.pb0 {padding-bottom:0px!important;}
.pb4 {padding-bottom:4px!important;}
.pb5 {padding-bottom:5px!important;}
.pb6 {padding-bottom:6px!important;}
.pb8 {padding-bottom:8px!important;}
.pb10 {padding-bottom:10px!important;}
.pb12 {padding-bottom:12px!important;}
.pb13 {padding-bottom:13px!important;}
.pb15 {padding-bottom:15px!important;}
.pb16 {padding-bottom:16px!important;}
.pb20 {padding-bottom:20px!important;}
.pb24 {padding-bottom:24px!important;}
.pb25 {padding-bottom:25px!important;}
.pb30 {padding-bottom:30px!important;}
.pb32 {padding-bottom:32px!important;}
.pb35 {padding-bottom:35px!important;}
.pb40 {padding-bottom:40px!important;}
.pb45 {padding-bottom:45px!important;}
.pb50 {padding-bottom:50px!important;}
.pb70 {padding-bottom:70px!important;}
.pb100 {padding-bottom:100px!important;}

.pl0 {padding-left:0px!important;}
.pl4 {padding-left:4px!important;}
.pl5 {padding-left:5px!important;}
.pl6 {padding-left:6px!important;}
.pl8 {padding-left:8px!important;}
.pl10 {padding-left:10px!important;}
.pl12 {padding-left:12px!important;}
.pl13 {padding-left:13px!important;}
.pl15 {padding-left:15px!important;}
.pl16 {padding-left:16px!important;}
.pl20 {padding-left:20px!important;}
.pl24 {padding-left:24px!important;}
.pl25 {padding-left:25px!important;}
.pl30 {padding-left:30px!important;}
.pl32 {padding-left:32px!important;}
.pl35 {padding-left:35px!important;}
.pl40 {padding-left:40px!important;}
.pl45 {padding-left:45px!important;}
.pl50 {padding-left:50px!important;}
.pl70 {padding-left:70px!important;}
.pl100 {padding-left:100px!important;}

.pr0 {padding-right:0px!important;}
.pr4 {padding-right:4px!important;}
.pr5 {padding-right:5px!important;}
.pr6 {padding-right:6px!important;}
.pr8 {padding-right:8px!important;}
.pr10 {padding-right:10px!important;}
.pr12 {padding-right:12px!important;}
.pr13 {padding-right:13px!important;}
.pr15 {padding-right:15px!important;}
.pr16 {padding-right:16px!important;}
.pr20 {padding-right:20px!important;}
.pr24 {padding-right:24px!important;}
.pr25 {padding-right:25px!important;}
.pr30 {padding-right:30px!important;}
.pr32 {padding-right:32px!important;}
.pr35 {padding-right:35px!important;}
.pr40 {padding-right:40px!important;}
.pr45 {padding-right:45px!important;}
.pr50 {padding-right:50px!important;}
.pr70 {padding-right:70px!important;}
.pr100 {padding-right:100px!important;}

.p0 {padding:0px!important;}
.p4 {padding:4px!important;}
.p5 {padding:5px!important;}
.p6 {padding:6px!important;}
.p8 {padding:8px!important;}
.p10 {padding:10px!important;}
.p12 {padding:12px!important;}
.p13 {padding:13px!important;}
.p15 {padding:15px!important;}
.p16 {padding:16px!important;}
.p20 {padding:20px!important;}
.p24 {padding:24px!important;}
.p25 {padding:25px!important;}
.p30 {padding:30px!important;}
.p32 {padding:32px!important;}
.p35 {padding:35px!important;}
.p40 {padding:40px!important;}
.p45 {padding:45px!important;}
.p50 {padding:50px!important;}
.p70 {padding:70px!important;}
.p100 {padding:100px!important;}


.py0 {padding-top:0px!important;padding-bottom:0px!important;}
.py4 {padding-top:4px!important;padding-bottom:4px!important;}
.py5 {padding-top:5px!important;padding-bottom:5px!important;}
.py5 {padding-top:5px!important;padding-bottom:5px!important;}
.py6 {padding-top:6px!important;padding-bottom:6px!important;}
.py8 {padding-top:8px!important;padding-bottom:8px!important;}
.py10 {padding-top:10px!important;padding-bottom:10px!important;}
.py12 {padding-top:12px!important;padding-bottom:12px!important;}
.py13 {padding-top:13px!important;padding-bottom:13px!important;}
.py15 {padding-top:15px!important;padding-bottom:15px!important;}
.py16 {padding-top:16px!important;padding-bottom:16px!important;}
.py20 {padding-top:20px!important;padding-bottom:20px!important;}
.py24 {padding-top:24px!important;padding-bottom:24px!important;}
.py25 {padding-top:25px!important;padding-bottom:25px!important;}
.py30 {padding-top:30px!important;padding-bottom:30px!important;}
.py32 {padding-top:32px!important;padding-bottom:32px!important;}
.py35 {padding-top:35px!important;padding-bottom:35px!important;}
.py40 {padding-top:40px!important;padding-bottom:40px!important;}
.py45 {padding-top:45px!important;padding-bottom:45px!important;}
.py50 {padding-top:50px!important;padding-bottom:50px!important;}
.py70 {padding-top:70px!important;padding-bottom:70px!important;}
.py100 {padding-top:100px!important;padding-bottom:100px!important;}

.px0 {padding-left:0px!important;padding-right:0px!important;}
.px4 {padding-left:4px!important;padding-right:4px!important;}
.px5 {padding-left:5px!important;padding-right:5px!important;}
.px6 {padding-left:6px!important;padding-right:6px!important;}
.px8 {padding-left:8px!important;padding-right:8px!important;}
.px10 {padding-left:10px!important;padding-right:10px!important;}
.px12 {padding-left:12px!important;padding-right:12px!important;}
.px13 {padding-left:13px!important;padding-right:13px!important;}
.px15 {padding-left:15px!important;padding-right:15px!important;}
.px16 {padding-left:16px!important;padding-right:16px!important;}
.px20 {padding-left:20px!important;padding-right:20px!important;}
.px24 {padding-left:24px!important;padding-right:24px!important;}
.px25 {padding-left:25px!important;padding-right:25px!important;}
.px30 {padding-left:30px!important;padding-right:30px!important;}
.px32 {padding-left:32px!important;padding-right:32px!important;}
.px35 {padding-left:35px!important;padding-right:35px!important;}
.px40 {padding-left:40px!important;padding-right:40px!important;}
.px45 {padding-left:45px!important;padding-right:45px!important;}
.px50 {padding-left:50px!important;padding-right:50px!important;}
.px70 {padding-left:70px!important;padding-right:70px!important;}
.px100 {padding-left:100px!important;padding-right:100px!important;}

.wauto {width:auto!important;}
.hauto {height:auto!important;}
.w100 {width:100%;}

.block {display:block!important;}
.d-none {display:none!important;}
.inflex {display:inline-flex!important;}

.noafter:after {display:none;}

.lh130 {line-height:1.3!important;}
.ff-42DotSans {font-family:'42DotSans'!important;}