@charset "utf-8";

/* ExtraLight */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:100;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-ExtraLight.woff2) format("woff2"),
}
/* Thin */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:200;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-Thin.woff2) format("woff2"),
}
/* Light */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:300;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-Light.woff2) format("woff2"),
}
/* Regular */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:400;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-Regular.woff2) format("woff2"),
}
/* Medium */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:500;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-Medium.woff2) format("woff2"),
}
/* SemiBold */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:600;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-SemiBold.woff2) format("woff2"),
}
/* Bold */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:700;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-Bold.woff2) format("woff2"),
}
/* ExtraBold */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:800;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-ExtraBold.woff2) format("woff2"),
}
/* Black */
@font-face {
    font-family:"Pretendard";
    font-style:normal;
    font-weight:900;
	font-display:swap;
    src:url(/resources/fonts/Pretendard-Black.woff2) format("woff2"),
}
/* Black */
@font-face {
    font-family:"42DotSans";
    font-style:normal;
    font-weight:400;
	font-display:swap;
    src:url(/resources/fonts/42dotSans-Regular.woff2) format("woff2"),
}


