@charset "utf-8";

/* sweetalert2 */
div:where(.swal2-container) {
  left: 0;
  top: 0;
  width: 100%;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  width: calc(100vw - 72px);
  border-radius: 12px;
  padding-bottom: 0;
  overflow: hidden;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 18px;
  color: var(--typography-title);
  text-align: left;
  font-weight: 500;
  padding: 24px 24px 8px !important;
}

div:where(.swal2-container) .swal2-html-container {
  margin: 16px 24px 0;
}
div:where(.swal2-container) div:where(.swal2-actions).btn-wrap {
  margin: 0;
  padding: 16px;
}
div:where(.swal2-container) div:where(.swal2-actions) .btn-alert {
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
  color: var(--gray900);
  text-align: center;
}
div:where(.swal2-container)
  div:where(.swal2-actions)
  .btn-alert:not(:last-child) {
  border-right: 1px solid var(--gray100);
}

div:where(.swal2-container) {
  z-index: var(--alert-zIndex);
  padding: 0;
  transition: background-color 0.3s;
}
div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background-color: var(--status-dimmed);
}
@keyframes swal2-show {
  0% {
    transform: scale(0.99);
  }
  45% {
    transform: scale(1.01);
  }
  80% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}
div:where(.swal2-container) button:where(.swal2-close) {
  position: absolute;
  font-size: 0;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  background: url(../../resources/images/ico/ico_close.svg) center center /
    contain no-repeat;
}
div:where(.swal2-container) button:where(.swal2-close):hover {
}

/* micromodal */
.modal {
  font-family: inherit;
}
.micromodal-slide.is-open {
  position: relative;
  z-index: var(--modal-zIndex);
}
.modal__container {
  padding: 0;
  max-width: none;
  max-height: calc(100% - 40px);
  flex: 1 1 100%;
  background-color: var(--white-100);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
}
.modal__content {
  margin: 0;
  line-height: inherit;
  color: inherit;
  padding: 0;
  border-radius: 0;
  flex: 1 1 calc(100% - 52px);
  overflow-y: auto;
  overscroll-behavior: none;
}
.modal__content > .content {
  min-height: 100%;
  height: auto;
}

.micromodal-content .modal__overlay {
  background-color: transparent;
}

.modal__header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 11px 16px;
  background-color: var(--white-100);
  border-radius: 20px 20px 0 0;
}
.modal__header__alert {
  padding: 24px 24px 8px;
  min-height: 56px;
  gap: 10px;
}
.modal__header .modal__title {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  min-height: 30px;
}
.modal__header .modal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}
.modal__header .modal__close:before {
  content: "";
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: url(../../resources/images/ico/ico_close.svg) center center /
    contain no-repeat;
  display: block;
}
.modal__header__alert .title-large {
  justify-content: flex-start;
}
.modal__header__alert .modal__close {
  position: static;
  padding: 0;
  margin-left: auto;
}

.modal__content__alert {
  padding: 16px 0 0;
}
.modal__content__alert .body-large {
  padding: 0 8px;
}

.modal__footer_alert .btn-wrap {
  padding-top: 40px;
}

.modal__overlay {
  display: block;
  background-color: var(--status-dimmed);
}

.micromodal-slide-select .modal__overlay,
.micromodal-slide-dropdown .modal__overlay {
  background-color: transparent;
}
.micromodal-slide-select .modal__header,
.micromodal-slide-dropdown .modal__header {
  display: none;
}
.micromodal-slide-select .modal__container,
.micromodal-slide-dropdown .modal__container {
  max-height: none;
  position: absolute;
}
.micromodal-slide-select .modal__container,
.micromodal-slide-dropdown .modal__container {
  border-radius: 6px;
  box-shadow: 0px 2px 30px -4px rgba(0, 0, 0, 0.15);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: initial;
}
.micromodal-slide-bottom .modal__overlay {
  display: flex;
  align-items: flex-end;
}
.micromodal-slide-bottom .modal__container {
  overflow: hidden;
}
.micromodal-slide-bottom .modal__content {
  /* background-color:var(--white-100); */ /* padding:30px 16px 20px; */ /* border-radius:20px 20px 0 0; */ /* max-height:80vh; */ /* overflow-y:auto; */
}
.micromodal-slide-bottom.micromodal-slide-bottom-full .modal__container {
  height: 100%;
}

.micromodal-slide-left {
}
.micromodal-slide-left .modal__overlay {
  align-items: flex-start;
}
.micromodal-slide-left .modal__container {
  height: 100%;
  max-height: 100%;
  border-radius: 0;
}

/* .micromodal-slide-dropdown .modal__container {position:absolute;background-color:var(--white);padding:10px 24px;border-radius:12px;} */

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide-left[aria-hidden="false"] .modal__overlay {
  animation: mmfadeLeftIn 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide-left[aria-hidden="false"] .modal__container {
  animation: mmslideLeftIn 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide-left[aria-hidden="true"] .modal__overlay {
  animation: mmfadeLeftOut 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide-left[aria-hidden="true"] .modal__container {
  animation: mmslideLeftOut 0.5s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes mmslideIn {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes mmslideLeftIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    z-index: var(--modal-zIndex);
  }
}
@keyframes mmslideLeftOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    z-index: -1;
  }
}

/* jstree icons */
/* jstree folder */
.jstree-work .jstree-default .jstree-node,
.jstree-work .jstree-default .jstree-icon {
}
.jstree-work .jstree-default .jstree-closed > .jstree-ocl {
  background: url(../../resources/images/form/form-jstree-closed.svg) center
    center / 12px 12px no-repeat;
}
.jstree-work .jstree-default .jstree-open > .jstree-ocl {
  background: url(../../resources/images/form/form-jstree-open.svg) center
    center / 12px 12px no-repeat;
}
.jstree-work .jstree-anchor > .jstree-themeicon {
  display: none;
}
.jstree-work.jstree-folder .jstree-anchor > .jstree-themeicon {
  display: inline-block;
  background: url(../../resources/images/ico/ico-folder-16.svg) center center /
    16px 16px no-repeat;
}

/* toastr */
#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
  width: auto;
  margin: 8px 16px;
}
#toast-container > div {
  border-radius: 8px;
  padding: 12px 14px;
  box-shadow: none;
  -webkit-box-shadow: none;
  opacity: 1;
  background-color: var(--surface-surface800);
}
.toast-title,
.toast-message {
  font-size: 16px;
  color: var(--white-100);
  font-weight: 400;
  padding: 0 4px;
}
.toast-message {
  margin-top: 10px;
}
.btn-toast-wrap {
  display: flex;
  justify-content: flex-end;
}
.toast-success .toast-title,
.toast-info .toast-title,
.toast-caution .toast-title,
.toast-error .toast-title {
  position: relative;
  padding-left: 24px;
}
.toast-success .toast-title:before,
.toast-info .toast-title:before,
.toast-caution .toast-title:before,
.toast-error .toast-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 16px;
}
.toast-success .toast-title:before {
  background: url(../../resources/images/toastr/ico_success.svg) center center /
    contain no-repeat;
}
.toast-info .toast-title:before {
  background: url(../../resources/images/toastr/ico_info.svg) center center /
    contain no-repeat;
}
.toast-caution .toast-title:before {
  background: url(../../resources/images/toastr/ico_caution.svg) center center /
    contain no-repeat;
}
.toast-error .toast-title:before {
  background: url(../../resources/images/toastr/ico_error.svg) center center /
    contain no-repeat;
}
.toast-bottom-center {
  bottom: 12px;
}
/* .toast-bottom-center.has-bottom-btn {bottom:76px;} */
#toast-container > div:hover {
  box-shadow: none;
}
button.toast-close-button {
  position: absolute;
  right: 12px;
  top: 14px;
  font-size: 0;
  width: 16px;
  height: 16px;
  opacity: 1;
  -webkit-mask-image: url(../../resources/images/icon_only/icon_close.svg);
  mask-image: url(../../resources/images/icon_only/icon_close.svg);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--background-bg_white);
}
.toast-dimmed {
  pointer-events: auto !important;
}
.toast-dimmed:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--status-dimmed);
  z-index: calc(var(--modal-zIndex) + 1);
}
.toast-dimmed .toast {
  z-index: calc(var(--modal-zIndex) + 2);
}
/* datepicker-wrap */
.datepicker-wrap {
}
.datepicker-wrap .ui-widget.ui-widget-content {
  border: 0;
  background-color: var(--white-100);
  color: var(--typography-black);
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  width: auto;
  padding: 16px 0 0;
  height: auto;
  position: relative;
  overflow: hidden;
}
.datepicker-wrap .ui-datepicker .ui-datepicker-header {
  padding: 0;
  border-radius: 0;
  border: 0;
  background-color: var(--white-100);
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 500;
  color: var(--typography-black);
}
.datepicker-wrap .ui-datepicker .ui-datepicker-prev,
.datepicker-wrap .ui-datepicker .ui-datepicker-next {
  top: 0;
  width: 52px;
  height: 52px;
  background-color: var(--surface-surface50);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.datepicker-wrap .ui-datepicker .ui-datepicker-prev:active,
.datepicker-wrap .ui-datepicker .ui-datepicker-next:active {
  background-color: var(--surface-surface200);
}
.datepicker-wrap .ui-datepicker .ui-icon {
  position: static;
}
.datepicker-wrap .ui-icon-circle-triangle-w {
  background: url(../../resources/images/arrow/arrow_date_prev.svg) center
    center / 12px 24px no-repeat;
}
.datepicker-wrap .ui-icon-circle-triangle-e {
  background: url(../../resources/images/arrow/arrow_date_next.svg) center
    center / 12px 24px no-repeat;
}

.datepicker-wrap .ui-datepicker .ui-datepicker-next,
.datepicker-wrap .ui-datepicker .ui-datepicker-next-hover {
  right: 0;
}
.datepicker-wrap .ui-datepicker .ui-datepicker-prev,
.datepicker-wrap .ui-datepicker .ui-datepicker-prev-hover {
  left: 0;
}
.datepicker-wrap .ui-datepicker .ui-datepicker-prev span,
.datepicker-wrap .ui-datepicker .ui-datepicker-next span {
  margin: 0;
}

.datepicker-wrap .ui-datepicker .ui-datepicker-title {
  display: flex;
  gap: 4px;
  margin: 0 52px;
  line-height: 52px;
  align-items: center;
  justify-content: center;
}

.datepicker-wrap .ui-datepicker table {
  position: relative;
  table-layout: fixed;
  margin: 0 auto;
  font-size: inherit;
  border-collapse: separate;
  border: 0;
}
.datepicker-wrap .ui-datepicker table tbody {
  clip: auto !important;
  width: 100% !important;
}

.datepicker-wrap .ui-datepicker-calendar thead th {
  color: var(--gray-400);
}
.datepicker-wrap .ui-datepicker-calendar tbody td {
  color: var(--typography-black);
}
.datepicker-wrap .ui-datepicker-calendar thead th,
.datepicker-wrap .ui-datepicker-calendar tbody td {
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  text-align: center;
  padding: 0;
}
.datepicker-wrap .ui-widget-content .schedule_01 > *,
.datepicker-wrap .ui-widget-content .schedule_02 > *,
.datepicker-wrap .ui-widget-content .schedule_03 > * {
  background-color: var(--surface-surface50);
}
.datepicker-wrap .ui-datepicker-calendar tbody tr:not(:last-child) > * {
}
.datepicker-wrap .ui-datepicker-calendar td.ui-datepicker-other-month {
}
.datepicker-wrap:not(.datepicker-collapsed)
  .ui-datepicker-calendar
  td.ui-datepicker-other-month
  span,
.datepicker-wrap:not(.datepicker-collapsed)
  .ui-datepicker-calendar
  td.ui-datepicker-other-month
  a {
  color: var(--gray-400);
}
.datepicker-wrap .ui-datepicker-calendar td span,
.datepicker-wrap .ui-datepicker-calendar td a {
  position: relative;
  padding: 0;
  text-align: center;
  border: 2px solid transparent;
  background: none;
  font-weight: inherit;
  color: inherit;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 8px;
  margin: 0 auto;
}

.datepicker-wrap .ui-widget-content .ui-state-active {
  background-color: var(--brandPrimary-blue600);
  color: var(--typography-white);
}
.datepicker-wrap .ui-widget-content .ui-datepicker-today .ui-state-default {
  border: 2px solid var(--blue-100);
  color: var(--brandPrimary-blue600);
}
.datepicker-wrap
  .ui-widget-content
  .ui-datepicker-current-day.ui-datepicker-today
  .ui-state-active {
  color: var(--typography-white);
}

.datepicker-wrap .ui-datepicker .ui-datepicker-buttonpane button {
  float: none;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 16px;
  border-width: 1px;
  border-radius: 8px;
  padding: 6px 12px;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
  gap: 4px;
  line-height: 18px;
  background-color: var(--button-outlined-enabled);
  color: var(--button-outlined-onEnabled);
  border-color: var(--button-outlined-border);
  border-style: solid;
  margin: 0;
}

/* .datepicker-wrap .ui-state-disabled,
.datepicker-wrap .ui-widget-content .ui-state-disabled,
.datepicker-wrap .ui-widget-header .ui-state-disabled {opacity:1;} */

.datepicker-wrap .ui-datepicker .ui-datepicker-buttonpane {
  display: flex;
  margin: 0;
  border: 0;
}

.datepicker-wrap-month .ui-widget.ui-widget-content {
  height: auto;
}
.datepicker-wrap-month .ui-datepicker .ui-datepicker-header {
  font-size: 0;
  gap: 0;
}
.datepicker-wrap-month .ui-datepicker .ui-datepicker-header span {
  font-size: 26px;
  font-weight: 500;
  color: var(--typography-black);
}
.datepicker-wrap-month .ui-datepicker .ui-datepicker-month {
  display: none;
}
.datepicker-wrap-month .ui-datepicker-calendar tbody td {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.datepicker-wrap-month .ui-datepicker-calendar td span,
.datepicker-wrap-month .ui-datepicker-calendar td a {
  display: flex;
  text-align: center;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--button-outlined-enabled);
  color: var(--button-outlined-onEnabled);
  border-color: var(--button-outlined-border);
  border-style: solid;
  border-width: 1px;
}

/* .datepicker-wrap tbody {position:relative!important;} */
.datepicker-wrap tbody .ui-datepicker-week-end:first-child {
  color: var(--red-400);
}
.datepicker-wrap tbody .ui-datepicker-week-end:last-child {
  color: var(--blue-400);
}
.schedule-wrap {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.schedule-wrap .sc-label {
  flex: 0 0 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: scSlideUp 0.3s ease forwards;
}
.schedule-wrap .sc-label:nth-child(1) {
  animation-delay: 0.2s;
}
.schedule-wrap .sc-label:nth-child(2) {
  animation-delay: 0.4s;
}
.schedule-wrap .sc-label:nth-child(3) {
  animation-delay: 0.6s;
}
.schedule-wrap .sc-label:nth-child(4) {
  animation-delay: 0.8s;
}
.schedule-wrap .sc-label:nth-child(5) {
  animation-delay: 1s;
}
.sc-label.label01 {
  background-color: var(--yellow-700);
}
.sc-label.label02 {
  background-color: var(--cyan-500);
}
.sc-label.label03 {
  background-color: var(--purple-500);
}
.sc-label.label04 {
  background-color: var(--gray-900);
}
.sc-label.label05 {
  background-color: var(--cyan-400);
}
.sc-label.label06 {
  background-color: var(--red-600);
}
.sc-label.label07 {
  background-color: var(--yellow-700);
}
.sc-label.label08 {
  background-color: var(--deepblue-600);
}

@keyframes scSlideUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(35%);
  }
  100% {
    transform: translateY(0);
  }
}
/* datepicker collapsed */
.datepicker-weekend.datepicker-collapsed {
  position: sticky;
  top: var(--header-height);
  background-color: var(--surface-surface);
  z-index: var(--sticky-zIndex);
}
.datepicker-weekend.datepicker-collapsed .inp-group {
  display: none;
}
.datepicker-weekend.datepicker-collapsed .ui-widget.ui-widget-content {
  height: 82px;
  overflow: hidden;
  padding: 0;
}
.datepicker-weekend.datepicker-collapsed
  .ui-widget.ui-widget-content
  .ui-datepicker-header {
  height: 14px;
  overflow: hidden;
  margin: 0 0 16px;
}
.datepicker-weekend.datepicker-collapsed .ui-widget.ui-widget-content table {
  overflow: hidden;
  background-color: #ecf6ff;
  border-radius: 8px;
  padding: 2px 16px;
}
.datepicker-weekend.datepicker-collapsed
  .ui-widget.ui-widget-content
  table
  thead {
  display: none;
}
.datepicker-weekend.datepicker-collapsed
  .ui-widget.ui-widget-content
  table
  tr:not(.thisWeek) {
  display: none;
}
/* .datepicker-weekend .ui-widget-content .ui-state-active {border-color:transparent;background-color:transparent;color:var(--typography-body);} */
/* .datepicker-weekend .ui-widget-content .ui-datepicker-current-day.ui-datepicker-today .ui-state-active {color:var(--brandPrimary-blue600);} */
/* .datepicker-weekend.datepicker-collapsed .ui-datepicker-calendar td.ui-datepicker-other-month {color:var(--typography-black);} */
.datepicker-weekend.datepicker-collapsed .ui-datepicker .ui-datepicker-title {
  font-size: 14px;
  line-height: 1;
  color: var(--typography-caption);
  align-items: center;
  justify-content: center;
}

.datepicker-weekend.datepicker-collapsed .ui-datepicker .ui-datepicker-prev,
.datepicker-weekend.datepicker-collapsed .ui-datepicker .ui-datepicker-next {
  top: -9999px;
}

.datepicker-weekend:not(.datepicker-collapsed) .thisWeek td {
  background-color: #ecf6ff;
  border-radius: 0;
}
.datepicker-weekend:not(.datepicker-collapsed) .thisWeek td:first-child {
  border-radius: 8px 0 0 8px;
}
.datepicker-weekend:not(.datepicker-collapsed) .thisWeek td:last-child {
  border-radius: 0 8px 8px 0;
}

/* .datepicker-weekend.datepicker-collapsed tbody .thisWeek .ui-datepicker-week-end:first-child > * {color:var(--red-400)!important;}
.datepicker-weekend.datepicker-collapsed tbody .thisWeek .ui-datepicker-week-end:last-child > * {color:var(--blue-400)!important;} */
/* .datepicker-weekend.datepicker-collapsed tbody .thisWeek * {pointer-events:none;} */

.datepicker-weekend .thisWeek.selectPrev {
  animation: dpslideLeftIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.datepicker-weekend .thisWeek.selectNext {
  animation: dpslideRightIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.datepicker-weekend .datepicker-unfold {
  display: none;
}
.datepicker-weekend.datepicker-collapsed .datepicker-unfold {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.datepicker-weekend.datepicker-collapsed .datepicker-unfold button {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  background: url(../../resources/images/btn/btn_unfold.svg) center center /
    contain no-repeat;
}

.datepicker-weekend .datepicker-arrow {
  display: none;
}
.datepicker-weekend.datepicker-weekend.datepicker-collapsed .datepicker-arrow {
  display: block;
}
.datepicker-weekend .datepicker-arrow button {
  position: absolute;
  width: 16px;
  height: 52px;
  top: 46px;
}
.datepicker-weekend .datepicker-arrow .arrow-prev {
  background: url(../../resources/images/arrow/arrow_datepicker_prev.svg) center
    center / 6px 12px no-repeat;
  left: 16px;
}
.datepicker-weekend .datepicker-arrow .arrow-next {
  background: url(../../resources/images/arrow/arrow_datepicker_next.svg) center
    center / 6px 12px no-repeat;
  right: 16px;
}
.datepicker-weekend .ui-helper-clearfix:after {
  display: none;
}

@keyframes dpslideLeftIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes dpslideRightIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.swiper-pagination.swiper-pagination-tab {
  position: relative;
  display: flex;
  z-index: var(--tab-zIndex);
  gap: 8px;
  border-bottom: 1px solid var(--border-8);
  background-color: var(--white-100);
  bottom: auto;
  top: auto;
  left: auto;
  width: auto;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-tab
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-tab
  .swiper-pagination-bullet {
  margin: auto;
  background: none;
  height: auto;
  opacity: 1;
}
.swiper-pagination.swiper-pagination-tab .swiper-pagination-bullet {
  display: flex;
  flex: 1;
  position: relative;
  padding: 0 10px;
  width: 100%;
  border-radius: 0;
  outline: 0;
}
.swiper-pagination.swiper-pagination-tab .swiper-pagination-bullet button,
.swiper-pagination.swiper-pagination-tab .swiper-pagination-bullet a {
  position: relative;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  align-items: center;
  justify-content: center;
  color: var(--typography-gray);
  width: 100%;
  padding: 0 6px;
  white-space: nowrap;
}
.swiper-pagination.swiper-pagination-tab
  .swiper-pagination-bullet
  button:before,
.swiper-pagination.swiper-pagination-tab .swiper-pagination-bullet a:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.swiper-pagination.swiper-pagination-tab
  .swiper-pagination-bullet.swiper-pagination-bullet-active
  a,
.swiper-pagination.swiper-pagination-tab
  .swiper-pagination-bullet.swiper-pagination-bullet-active
  button {
  color: var(--typography-title);
  font-weight: 700;
}
.swiper-pagination.swiper-pagination-tab
  .swiper-pagination-bullet.swiper-pagination-bullet-active
  a:before,
.swiper-pagination.swiper-pagination-tab
  .swiper-pagination-bullet.swiper-pagination-bullet-active
  button:before {
  background-color: var(--border-72);
}
