@charset "utf-8";
:root{
    --black-0:#0C0C0D;
    --black-100:#0C0C0D;
    --black-12:#0C0C0D1F;
    --black-16:#0C0C0D29;
    --black-20:#0C0C0D33;
    --black-24:#0C0C0D3D;
    --black-32:#0C0C0D52;
    --black-4:#0C0C0D0A;
    --black-40:#0C0C0D66;
    --black-56:#0C0C0D8F;
    --black-60:#0C0C0D99;
    --black-72:#0C0C0DB8;
    --black-8:#0C0C0D14;
    --black-80:#0C0C0DCC;
    --black-88:#0C0C0DE0;
    --black-96:#0C0C0DF5;
    --blue-100:#D1EAFF;
    --blue-200:#90C9FD;
    --blue-300:#5BABFB;
    --blue-400:#3996F9;
    --blue-50:#EAF4FF;
    --blue-500:#2589F4;
    --blue-600:#0871F3;
    --blue-700:#1563C1;
    --blue-800:#1759B0;
    --blue-900:#174A92;
    --cyan-100:#CBEEF6;
    --cyan-200:#91D2E1;
    --cyan-300:#64BFD4;
    --cyan-400:#46B6CF;
    --cyan-50:#E0F6FB;
    --cyan-500:#1AA3C1;
    --cyan-600:#1B91AC;
    --cyan-700:#1B849B;
    --cyan-800:#187388;
    --cyan-900:#146274;
    --deepblue-100:#CFDEFC;
    --deepblue-200:#A7BFFB;
    --deepblue-300:#7A9EFA;
    --deepblue-400:#5682FB;
    --deepblue-50:#E5EFFF;
    --deepblue-500:#3F72FD;
    --deepblue-600:#2658ED;
    --deepblue-700:#1641D0;
    --deepblue-800:#1938A9;
    --deepblue-900:#162C8D;
    --gray-200:#F1F3F5;
    --gray-300:#E9ECEF;
    --gray-400:#CFD4D9;
    --gray-50:#F8F9FA;
    --gray-500:#A4A9AE;
    --gray-600:#777E85;
    --gray-700:#495057;
    --gray-800:#343A40;
    --gray-900:#212528;
    --green-100:#BAECDD;
    --green-200:#76E0C0;
    --green-300:#47D1A8;
    --green-400:#20C594;
    --green-50:#DFF7DF;
    --green-500:#00AD7C;
    --green-600:#02976D;
    --green-700:#048B65;
    --green-800:#047B5B;
    --green-900:#066B51;
    --pink-100:#FFD6E6;
    --pink-200:#FDA5C8;
    --pink-300:#F882B3;
    --pink-400:#F35E9C;
    --pink-50:#FFEBF2;
    --pink-500:#F0448E;
    --pink-600:#E52A71;
    --pink-700:#CD1D67;
    --pink-800:#A22F66;
    --pink-900:#8C2B5A;
    --purple-100:#F7DDFD;
    --purple-200:#E5A1F7;
    --purple-300:#D378F2;
    --purple-400:#C45FEC;
    --purple-50:#F9EDFC;
    --purple-500:#B348E5;
    --purple-600:#A13ED0;
    --purple-700:#8A31B4;
    --purple-800:#772D99;
    --purple-900:#662B82;
    --red-100:#FDD8D9;
    --red-200:#F9A9AA;
    --red-300:#F68486;
    --red-400:#F06065;
    --red-50:#FCEEEE;
    --red-500:#EE444A;
    --red-600:#E32B31;
    --red-700:#CC1E24;
    --red-800:#B01C23;
    --red-900:#99141D;
    --violet-100:#D4CFF7;
    --violet-200:#8C81EB;
    --violet-300:#8C81EB;
    --violet-400:#7163EE;
    --violet-50:#EBE9FB;
    --violet-500:#6050F2;
    --violet-600:#4E46DA;
    --violet-700:#3A34D0;
    --violet-800:#2A2AB7;
    --violet-900:#1A259E;
    --white-0:#FFFFFF;
    --white-100:#FFFFFF;
    --white-12:#FFFFFF1F;
    --white-16:#FFFFFF29;
    --white-20:#FFFFFF33;
    --white-24:#FFFFFF3D;
    --white-32:#FFFFFF52;
    --white-4:#FFFFFF0A;
    --white-40:#FFFFFF66;
    --white-56:#FFFFFF8F;
    --white-60:#FFFFFF99;
    --white-72:#FFFFFFB8;
    --white-8:#FFFFFF14;
    --white-80:#FFFFFFCC;
    --white-88:#FFFFFFE0;
    --white-96:#FFFFFFF5;
    --yellow-100:#FFEFB2;
    --yellow-200:#FFE68A;
    --yellow-300:#FFDB66;
    --yellow-400:#FFD138;
    --yellow-50:#FFF4D1;
    --yellow-500:#FEBB10;
    --yellow-600:#F9AA01;
    --yellow-700:#F79A02;
    --yellow-800:#E78404;
    --yellow-900:#A95A00;
    --background-bg_blue:#5BABFB;
    --background-bg_cyan:#64BFD4;
    --background-bg_deepBlue:#0871F3;
    --background-bg_deepGray:#E9ECEF;
    --background-bg_disabled:#0C0C0D0A;
    --background-bg_gray:#F1F3F5;
    --background-bg_lightGray:#F8F9FA;
    --background-bg_lightBlue:#EAF4FF;
    --background-bg_lightCyan:#E0F6FB;
    --background-bg_lightPink:#FFEBF2;
    --background-bg_lightPurple:#F9EDFC;
    --background-bg_lightRed:#FCEEEE;
    --background-bg_lightViolet:#EBE9FB;
    --background-bg_lightYellow:#FFF4D1;
    --background-bg_pink:#F882B3;
    --background-bg_purple:#D378F2;
    --background-bg_red:#F68486;
    --background-bg_violet:#8C81EB;
    --background-bg_white:#FFFFFF;
    --background-bg_yellow:#FFD138;
    --basic-black:#0C0C0DE0;
    --basic-white:#FFFFFF;
    --border-0:#0C0C0D00;
    --border-12:#0C0C0D1F;
    --border-4:#0C0C0D0A;
    --border-72:#0C0C0DB8;
    --border-8:#0C0C0D14;
    --border-primary_enabled:#2589F4;
    --brandPrimary-blue400:#3996F9;
    --brandPrimary-blue500:#2589F4;
    --brandPrimary-blue600:#0871F3;
    --button-ghost-border:#0C0C0D1F;
    --button-ghost-disabled:#FFFFFF;
    --button-ghost-enabled:#FFFFFF00;
    --button-ghost-onDisabled:#C5CBD1;
    --button-ghost-onEnabled:#495057;
    --button-ghost-pressed:#FFFFFF29;
    --button-ghostw-border:#FFFFFFB8;
    --button-ghostw-border_disabled:#FFFFFF29;
    --button-ghostw-disabled:#FFFFFF00;
    --button-ghostw-enabled:#FFFFFF00;
    --button-ghostw-onDisabled:#FFFFFF3D;
    --button-ghostw-onEnabled:#FFFFFFF5;
    --button-ghostw-pressed:#FFFFFF29;
    --button-outlined-border:#0C0C0D1F;
    --button-outlined-disabled:#7786973D;
    --button-outlined-enabled:#FFFFFF;
    --button-outlined-onDisabled:#FFFFFF;
    --button-outlined-onEnabled:#495057;
    --button-outlined-pressed:#7484950D;
    --button-primary-disabled:#7786973D;
    --button-primary-enabled:#2589F4;
    --button-primary-onDisabled:#FFFFFF;
    --button-primary-onEnabled:#FFFFFF;
    --button-primary-pressed:#1D61AA;
    --button-secondary-border:#3996F9;
    --button-secondary-disabled:#7786973D;
    --button-secondary-enabled:#FFFFFF;
    --button-secondary-onDisabled:#FFFFFF;
    --button-secondary-onEnabled:#2589F4;
    --button-secondary-pressed:#7484950D ;
    --button-textBtn-Enabled:#777E85;
    --icon-default:#0C0C0DE0;
    --icon-disabled:#777E854D;
    --icon-gray_1:#CFD4D9;
    --icon-gray_2:#A4A9AE;
    --icon-white:#FFFFFF;
    --shadow-blue_1:#EAF4FF;
    --shadow-blue_2:#D1EAFF;
    --shadow-blue_3:#90C9FD;
    --shadow-gray_1:#0C0C0D0A;
    --shadow-gray_2:#0C0C0D14;
    --shadow-gray_3:#0C0C0D1F;
    --status-active:#3996F9;
    --status-caution:#FEBB10;
    --status-dimmed:#0C0C0DB8;
    --status-error:#EE444A;
    --status-help:#B348E5;
    --status-info:#1AA3C1;
    --status-success:#00AD7C;
    --status-focused:#2658ED;
    --status-disabled_bg:#0C0C0D0A;
    --status-disabled_font:#0C0C0D1F;
    --surface-surface:#FFFFFF;
    --surface-surface0:#FFFFFF;
    --surface-surface100:#8295A71C;
    --surface-surface200:#8597A82E;
    --surface-surface300:#7786973D;
    --surface-surface400:#6F7D8C66;
    --surface-surface50:#7484950D;
    --surface-surface500:#323F4F80;
    --surface-surface700:#0C172399;
    --surface-surface800:#070F16D1;
    --surface-surface900:#0B0F13E8;
    --typography-black:#0C0C0DE0;
    --typography-body:#495057;
    --typography-caption:#989FA7;
    --typography-disabled:#989FA7;
    --typography-gray:#495057;
    --typography-placeholder:#0C0C0D3D;
    --typography-title:#212528;
    --typography-white:#FFFFFF;
    --header-height:52px;
    --tab-zIndex:10;
    --sticky-zIndex:50;
    --header-zIndex:100;
    --modal-zIndex:200;
    --alert-zIndex:300;
    --loader-zIndex:400;
}
.fc-black-0{color:var(--black-0)!important;}
.fc-black-100{color:var(--black-100)!important;}
.fc-black-12{color:var(--black-12)!important;}
.fc-black-16{color:var(--black-16)!important;}
.fc-black-20{color:var(--black-20)!important;}
.fc-black-24{color:var(--black-24)!important;}
.fc-black-32{color:var(--black-32)!important;}
.fc-black-4{color:var(--black-4)!important;}
.fc-black-40{color:var(--black-40)!important;}
.fc-black-56{color:var(--black-56)!important;}
.fc-black-60{color:var(--black-60)!important;}
.fc-black-72{color:var(--black-72)!important;}
.fc-black-8{color:var(--black-8)!important;}
.fc-black-80{color:var(--black-80)!important;}
.fc-black-88{color:var(--black-88)!important;}
.fc-black-96{color:var(--black-96)!important;}
.fc-blue-100{color:var(--blue-100)!important;}
.fc-blue-200{color:var(--blue-200)!important;}
.fc-blue-300{color:var(--blue-300)!important;}
.fc-blue-400{color:var(--blue-400)!important;}
.fc-blue-50{color:var(--blue-50)!important;}
.fc-blue-500{color:var(--blue-500)!important;}
.fc-blue-600{color:var(--blue-600)!important;}
.fc-blue-700{color:var(--blue-700)!important;}
.fc-blue-800{color:var(--blue-800)!important;}
.fc-blue-900{color:var(--blue-900)!important;}
.fc-cyan-100{color:var(--cyan-100)!important;}
.fc-cyan-200{color:var(--cyan-200)!important;}
.fc-cyan-300{color:var(--cyan-300)!important;}
.fc-cyan-400{color:var(--cyan-400)!important;}
.fc-cyan-50{color:var(--cyan-50)!important;}
.fc-cyan-500{color:var(--cyan-500)!important;}
.fc-cyan-600{color:var(--cyan-600)!important;}
.fc-cyan-700{color:var(--cyan-700)!important;}
.fc-cyan-800{color:var(--cyan-800)!important;}
.fc-cyan-900{color:var(--cyan-900)!important;}
.fc-deepblue-100{color:var(--deepblue-100)!important;}
.fc-deepblue-200{color:var(--deepblue-200)!important;}
.fc-deepblue-300{color:var(--deepblue-300)!important;}
.fc-deepblue-400{color:var(--deepblue-400)!important;}
.fc-deepblue-50{color:var(--deepblue-50)!important;}
.fc-deepblue-500{color:var(--deepblue-500)!important;}
.fc-deepblue-600{color:var(--deepblue-600)!important;}
.fc-deepblue-700{color:var(--deepblue-700)!important;}
.fc-deepblue-800{color:var(--deepblue-800)!important;}
.fc-deepblue-900{color:var(--deepblue-900)!important;}
.fc-gray-200{color:var(--gray-200)!important;}
.fc-gray-300{color:var(--gray-300)!important;}
.fc-gray-400{color:var(--gray-400)!important;}
.fc-gray-50{color:var(--gray-50)!important;}
.fc-gray-500{color:var(--gray-500)!important;}
.fc-gray-600{color:var(--gray-600)!important;}
.fc-gray-700{color:var(--gray-700)!important;}
.fc-gray-800{color:var(--gray-800)!important;}
.fc-gray-900{color:var(--gray-900)!important;}
.fc-green-100{color:var(--green-100)!important;}
.fc-green-200{color:var(--green-200)!important;}
.fc-green-300{color:var(--green-300)!important;}
.fc-green-400{color:var(--green-400)!important;}
.fc-green-50{color:var(--green-50)!important;}
.fc-green-500{color:var(--green-500)!important;}
.fc-green-600{color:var(--green-600)!important;}
.fc-green-700{color:var(--green-700)!important;}
.fc-green-800{color:var(--green-800)!important;}
.fc-green-900{color:var(--green-900)!important;}
.fc-pink-100{color:var(--pink-100)!important;}
.fc-pink-200{color:var(--pink-200)!important;}
.fc-pink-300{color:var(--pink-300)!important;}
.fc-pink-400{color:var(--pink-400)!important;}
.fc-pink-50{color:var(--pink-50)!important;}
.fc-pink-500{color:var(--pink-500)!important;}
.fc-pink-600{color:var(--pink-600)!important;}
.fc-pink-700{color:var(--pink-700)!important;}
.fc-pink-800{color:var(--pink-800)!important;}
.fc-pink-900{color:var(--pink-900)!important;}
.fc-purple-100{color:var(--purple-100)!important;}
.fc-purple-200{color:var(--purple-200)!important;}
.fc-purple-300{color:var(--purple-300)!important;}
.fc-purple-400{color:var(--purple-400)!important;}
.fc-purple-50{color:var(--purple-50)!important;}
.fc-purple-500{color:var(--purple-500)!important;}
.fc-purple-600{color:var(--purple-600)!important;}
.fc-purple-700{color:var(--purple-700)!important;}
.fc-purple-800{color:var(--purple-800)!important;}
.fc-purple-900{color:var(--purple-900)!important;}
.fc-red-100{color:var(--red-100)!important;}
.fc-red-200{color:var(--red-200)!important;}
.fc-red-300{color:var(--red-300)!important;}
.fc-red-400{color:var(--red-400)!important;}
.fc-red-50{color:var(--red-50)!important;}
.fc-red-500{color:var(--red-500)!important;}
.fc-red-600{color:var(--red-600)!important;}
.fc-red-700{color:var(--red-700)!important;}
.fc-red-800{color:var(--red-800)!important;}
.fc-red-900{color:var(--red-900)!important;}
.fc-violet-100{color:var(--violet-100)!important;}
.fc-violet-200{color:var(--violet-200)!important;}
.fc-violet-300{color:var(--violet-300)!important;}
.fc-violet-400{color:var(--violet-400)!important;}
.fc-violet-50{color:var(--violet-50)!important;}
.fc-violet-500{color:var(--violet-500)!important;}
.fc-violet-600{color:var(--violet-600)!important;}
.fc-violet-700{color:var(--violet-700)!important;}
.fc-violet-800{color:var(--violet-800)!important;}
.fc-violet-900{color:var(--violet-900)!important;}
.fc-white-0{color:var(--white-0)!important;}
.fc-white-100{color:var(--white-100)!important;}
.fc-white-12{color:var(--white-12)!important;}
.fc-white-16{color:var(--white-16)!important;}
.fc-white-20{color:var(--white-20)!important;}
.fc-white-24{color:var(--white-24)!important;}
.fc-white-32{color:var(--white-32)!important;}
.fc-white-4{color:var(--white-4)!important;}
.fc-white-40{color:var(--white-40)!important;}
.fc-white-56{color:var(--white-56)!important;}
.fc-white-60{color:var(--white-60)!important;}
.fc-white-72{color:var(--white-72)!important;}
.fc-white-8{color:var(--white-8)!important;}
.fc-white-80{color:var(--white-80)!important;}
.fc-white-88{color:var(--white-88)!important;}
.fc-white-96{color:var(--white-96)!important;}
.fc-yellow-100{color:var(--yellow-100)!important;}
.fc-yellow-200{color:var(--yellow-200)!important;}
.fc-yellow-300{color:var(--yellow-300)!important;}
.fc-yellow-400{color:var(--yellow-400)!important;}
.fc-yellow-50{color:var(--yellow-50)!important;}
.fc-yellow-500{color:var(--yellow-500)!important;}
.fc-yellow-600{color:var(--yellow-600)!important;}
.fc-yellow-700{color:var(--yellow-700)!important;}
.fc-yellow-800{color:var(--yellow-800)!important;}
.fc-yellow-900{color:var(--yellow-900)!important;}
.fc-background-bg_blue{color:var(--background-bg_blue)!important;}
.fc-background-bg_cyan{color:var(--background-bg_cyan)!important;}
.fc-background-bg_deepBlue{color:var(--background-bg_deepBlue)!important;}
.fc-background-bg_deepGray{color:var(--background-bg_deepGray)!important;}
.fc-background-bg_disabled{color:var(--background-bg_disabled)!important;}
.fc-background-bg_gray{color:var(--background-bg_gray)!important;}
.fc-background-bg_lightGray{color:var(--background-bg_lightGray)!important;}
.fc-background-bg_lightBlue{color:var(--background-bg_lightBlue)!important;}
.fc-background-bg_lightCyan{color:var(--background-bg_lightCyan)!important;}
.fc-background-bg_lightPink{color:var(--background-bg_lightPink)!important;}
.fc-background-bg_lightPurple{color:var(--background-bg_lightPurple)!important;}
.fc-background-bg_lightRed{color:var(--background-bg_lightRed)!important;}
.fc-background-bg_lightViolet{color:var(--background-bg_lightViolet)!important;}
.fc-background-bg_lightYellow{color:var(--background-bg_lightYellow)!important;}
.fc-background-bg_pink{color:var(--background-bg_pink)!important;}
.fc-background-bg_purple{color:var(--background-bg_purple)!important;}
.fc-background-bg_red{color:var(--background-bg_red)!important;}
.fc-background-bg_violet{color:var(--background-bg_violet)!important;}
.fc-background-bg_white{color:var(--background-bg_white)!important;}
.fc-background-bg_yellow{color:var(--background-bg_yellow)!important;}
.fc-basic-black{color:var(--basic-black)!important;}
.fc-basic-white{color:var(--basic-white)!important;}
.fc-border-0{color:var(--border-0)!important;}
.fc-border-12{color:var(--border-12)!important;}
.fc-border-4{color:var(--border-4)!important;}
.fc-border-72{color:var(--border-72)!important;}
.fc-border-8{color:var(--border-8)!important;}
.fc-border-primary_enabled{color:var(--border-primary_enabled)!important;}
.fc-brandPrimary-blue400{color:var(--brandPrimary-blue400)!important;}
.fc-brandPrimary-blue500{color:var(--brandPrimary-blue500)!important;}
.fc-brandPrimary-blue600{color:var(--brandPrimary-blue600)!important;}
.fc-button-ghost-border{color:var(--button-ghost-border)!important;}
.fc-button-ghost-disabled{color:var(--button-ghost-disabled)!important;}
.fc-button-ghost-enabled{color:var(--button-ghost-enabled)!important;}
.fc-button-ghost-onDisabled{color:var(--button-ghost-onDisabled)!important;}
.fc-button-ghost-onEnabled{color:var(--button-ghost-onEnabled)!important;}
.fc-button-ghost-pressed{color:var(--button-ghost-pressed)!important;}
.fc-button-ghostw-border{color:var(--button-ghostw-border)!important;}
.fc-button-ghostw-border_disabled{color:var(--button-ghostw-border_disabled)!important;}
.fc-button-ghostw-disabled{color:var(--button-ghostw-disabled)!important;}
.fc-button-ghostw-enabled{color:var(--button-ghostw-enabled)!important;}
.fc-button-ghostw-onDisabled{color:var(--button-ghostw-onDisabled)!important;}
.fc-button-ghostw-onEnabled{color:var(--button-ghostw-onEnabled)!important;}
.fc-button-ghostw-pressed{color:var(--button-ghostw-pressed)!important;}
.fc-button-outlined-border{color:var(--button-outlined-border)!important;}
.fc-button-outlined-disabled{color:var(--button-outlined-disabled)!important;}
.fc-button-outlined-enabled{color:var(--button-outlined-enabled)!important;}
.fc-button-outlined-onDisabled{color:var(--button-outlined-onDisabled)!important;}
.fc-button-outlined-onEnabled{color:var(--button-outlined-onEnabled)!important;}
.fc-button-outlined-pressed{color:var(--button-outlined-pressed)!important;}
.fc-button-primary-disabled{color:var(--button-primary-disabled)!important;}
.fc-button-primary-enabled{color:var(--button-primary-enabled)!important;}
.fc-button-primary-onDisabled{color:var(--button-primary-onDisabled)!important;}
.fc-button-primary-onEnabled{color:var(--button-primary-onEnabled)!important;}
.fc-button-primary-pressed{color:var(--button-primary-pressed)!important;}
.fc-button-secondary-disabled{color:var(--button-secondary-disabled)!important;}
.fc-button-secondary-enabled{color:var(--button-secondary-enabled)!important;}
.fc-button-secondary-onDisabled{color:var(--button-secondary-onDisabled)!important;}
.fc-button-secondary-onEnabled{color:var(--button-secondary-onEnabled)!important;}
.fc-button-secondary-pressed{color:var(--button-secondary-pressed)!important;}
.fc-button-textBtn-Enabled{color:var(--button-textBtn-Enabled)!important;}
.fc-icon-default{color:var(--icon-default)!important;}
.fc-icon-disabled{color:var(--icon-disabled)!important;}
.fc-icon-gray_1{color:var(--icon-gray_1)!important;}
.fc-icon-gray_2{color:var(--icon-gray_2)!important;}
.fc-icon-white{color:var(--icon-white)!important;}
.fc-shadow-blue_1{color:var(--shadow-blue_1)!important;}
.fc-shadow-blue_2{color:var(--shadow-blue_2)!important;}
.fc-shadow-blue_3{color:var(--shadow-blue_3)!important;}
.fc-shadow-gray_1{color:var(--shadow-gray_1)!important;}
.fc-shadow-gray_2{color:var(--shadow-gray_2)!important;}
.fc-shadow-gray_3{color:var(--shadow-gray_3)!important;}
.fc-status-active{color:var(--status-active)!important;}
.fc-status-alim-active{color:var(--gray-900)!important;}
.fc-status-alim-unactive{color:var(--gray-500)!important;}
.fc-status-caution{color:var(--status-caution)!important;}
.fc-status-dimmed{color:var(--status-dimmed)!important;}
.fc-status-error{color:var(--status-error)!important;}
.fc-status-help{color:var(--status-help)!important;}
.fc-status-info{color:var(--status-info)!important;}
.fc-status-success{color:var(--status-success)!important;}
.fc-status-focused{color:var(--status-focused)!important;}
.fc-status-disabled_bg{color:var(--status-disabled_bg)!important;}
.fc-status-disabled_font{color:var(--status-disabled_font)!important;}
.fc-surface-surface{color:var(--surface-surface)!important;}
.fc-surface-surface0{color:var(--surface-surface0)!important;}
.fc-surface-surface100{color:var(--surface-surface100)!important;}
.fc-surface-surface200{color:var(--surface-surface200)!important;}
.fc-surface-surface300{color:var(--surface-surface300)!important;}
.fc-surface-surface400{color:var(--surface-surface400)!important;}
.fc-surface-surface50{color:var(--surface-surface50)!important;}
.fc-surface-surface500{color:var(--surface-surface500)!important;}
.fc-surface-surface700{color:var(--surface-surface700)!important;}
.fc-surface-surface800{color:var(--surface-surface800)!important;}
.fc-surface-surface900{color:var(--surface-surface900)!important;}
.fc-typography-black{color:var(--typography-black)!important;}
.fc-typography-body{color:var(--typography-body)!important;}
.fc-typography-caption{color:var(--typography-caption)!important;}
.fc-typography-disabled{color:var(--typography-disabled)!important;}
.fc-typography-gray{color:var(--typography-gray)!important;}
.fc-typography-placeholder{color:var(--typography-placeholder)!important;}
.fc-typography-title{color:var(--typography-title)!important;}
.fc-typography-white{color:var(--typography-white)!important;}

.bg-black-0{background-color:var(--black-0)!important;}
.bg-black-100{background-color:var(--black-100)!important;}
.bg-black-12{background-color:var(--black-12)!important;}
.bg-black-16{background-color:var(--black-16)!important;}
.bg-black-20{background-color:var(--black-20)!important;}
.bg-black-24{background-color:var(--black-24)!important;}
.bg-black-32{background-color:var(--black-32)!important;}
.bg-black-4{background-color:var(--black-4)!important;}
.bg-black-40{background-color:var(--black-40)!important;}
.bg-black-56{background-color:var(--black-56)!important;}
.bg-black-60{background-color:var(--black-60)!important;}
.bg-black-72{background-color:var(--black-72)!important;}
.bg-black-8{background-color:var(--black-8)!important;}
.bg-black-80{background-color:var(--black-80)!important;}
.bg-black-88{background-color:var(--black-88)!important;}
.bg-black-96{background-color:var(--black-96)!important;}
.bg-blue-100{background-color:var(--blue-100)!important;}
.bg-blue-200{background-color:var(--blue-200)!important;}
.bg-blue-300{background-color:var(--blue-300)!important;}
.bg-blue-400{background-color:var(--blue-400)!important;}
.bg-blue-50{background-color:var(--blue-50)!important;}
.bg-blue-500{background-color:var(--blue-500)!important;}
.bg-blue-600{background-color:var(--blue-600)!important;}
.bg-blue-700{background-color:var(--blue-700)!important;}
.bg-blue-800{background-color:var(--blue-800)!important;}
.bg-blue-900{background-color:var(--blue-900)!important;}
.bg-cyan-100{background-color:var(--cyan-100)!important;}
.bg-cyan-200{background-color:var(--cyan-200)!important;}
.bg-cyan-300{background-color:var(--cyan-300)!important;}
.bg-cyan-400{background-color:var(--cyan-400)!important;}
.bg-cyan-50{background-color:var(--cyan-50)!important;}
.bg-cyan-500{background-color:var(--cyan-500)!important;}
.bg-cyan-600{background-color:var(--cyan-600)!important;}
.bg-cyan-700{background-color:var(--cyan-700)!important;}
.bg-cyan-800{background-color:var(--cyan-800)!important;}
.bg-cyan-900{background-color:var(--cyan-900)!important;}
.bg-deepblue-100{background-color:var(--deepblue-100)!important;}
.bg-deepblue-200{background-color:var(--deepblue-200)!important;}
.bg-deepblue-300{background-color:var(--deepblue-300)!important;}
.bg-deepblue-400{background-color:var(--deepblue-400)!important;}
.bg-deepblue-50{background-color:var(--deepblue-50)!important;}
.bg-deepblue-500{background-color:var(--deepblue-500)!important;}
.bg-deepblue-600{background-color:var(--deepblue-600)!important;}
.bg-deepblue-700{background-color:var(--deepblue-700)!important;}
.bg-deepblue-800{background-color:var(--deepblue-800)!important;}
.bg-deepblue-900{background-color:var(--deepblue-900)!important;}
.bg-gray-200{background-color:var(--gray-200)!important;}
.bg-gray-300{background-color:var(--gray-300)!important;}
.bg-gray-400{background-color:var(--gray-400)!important;}
.bg-gray-50{background-color:var(--gray-50)!important;}
.bg-gray-500{background-color:var(--gray-500)!important;}
.bg-gray-600{background-color:var(--gray-600)!important;}
.bg-gray-700{background-color:var(--gray-700)!important;}
.bg-gray-800{background-color:var(--gray-800)!important;}
.bg-gray-900{background-color:var(--gray-900)!important;}
.bg-green-100{background-color:var(--green-100)!important;}
.bg-green-200{background-color:var(--green-200)!important;}
.bg-green-300{background-color:var(--green-300)!important;}
.bg-green-400{background-color:var(--green-400)!important;}
.bg-green-50{background-color:var(--green-50)!important;}
.bg-green-500{background-color:var(--green-500)!important;}
.bg-green-600{background-color:var(--green-600)!important;}
.bg-green-700{background-color:var(--green-700)!important;}
.bg-green-800{background-color:var(--green-800)!important;}
.bg-green-900{background-color:var(--green-900)!important;}
.bg-pink-100{background-color:var(--pink-100)!important;}
.bg-pink-200{background-color:var(--pink-200)!important;}
.bg-pink-300{background-color:var(--pink-300)!important;}
.bg-pink-400{background-color:var(--pink-400)!important;}
.bg-pink-50{background-color:var(--pink-50)!important;}
.bg-pink-500{background-color:var(--pink-500)!important;}
.bg-pink-600{background-color:var(--pink-600)!important;}
.bg-pink-700{background-color:var(--pink-700)!important;}
.bg-pink-800{background-color:var(--pink-800)!important;}
.bg-pink-900{background-color:var(--pink-900)!important;}
.bg-purple-100{background-color:var(--purple-100)!important;}
.bg-purple-200{background-color:var(--purple-200)!important;}
.bg-purple-300{background-color:var(--purple-300)!important;}
.bg-purple-400{background-color:var(--purple-400)!important;}
.bg-purple-50{background-color:var(--purple-50)!important;}
.bg-purple-500{background-color:var(--purple-500)!important;}
.bg-purple-600{background-color:var(--purple-600)!important;}
.bg-purple-700{background-color:var(--purple-700)!important;}
.bg-purple-800{background-color:var(--purple-800)!important;}
.bg-purple-900{background-color:var(--purple-900)!important;}
.bg-red-100{background-color:var(--red-100)!important;}
.bg-red-200{background-color:var(--red-200)!important;}
.bg-red-300{background-color:var(--red-300)!important;}
.bg-red-400{background-color:var(--red-400)!important;}
.bg-red-50{background-color:var(--red-50)!important;}
.bg-red-500{background-color:var(--red-500)!important;}
.bg-red-600{background-color:var(--red-600)!important;}
.bg-red-700{background-color:var(--red-700)!important;}
.bg-red-800{background-color:var(--red-800)!important;}
.bg-red-900{background-color:var(--red-900)!important;}
.bg-violet-100{background-color:var(--violet-100)!important;}
.bg-violet-200{background-color:var(--violet-200)!important;}
.bg-violet-300{background-color:var(--violet-300)!important;}
.bg-violet-400{background-color:var(--violet-400)!important;}
.bg-violet-50{background-color:var(--violet-50)!important;}
.bg-violet-500{background-color:var(--violet-500)!important;}
.bg-violet-600{background-color:var(--violet-600)!important;}
.bg-violet-700{background-color:var(--violet-700)!important;}
.bg-violet-800{background-color:var(--violet-800)!important;}
.bg-violet-900{background-color:var(--violet-900)!important;}
.bg-white-0{background-color:var(--white-0)!important;}
.bg-white-100{background-color:var(--white-100)!important;}
.bg-white-12{background-color:var(--white-12)!important;}
.bg-white-16{background-color:var(--white-16)!important;}
.bg-white-20{background-color:var(--white-20)!important;}
.bg-white-24{background-color:var(--white-24)!important;}
.bg-white-32{background-color:var(--white-32)!important;}
.bg-white-4{background-color:var(--white-4)!important;}
.bg-white-40{background-color:var(--white-40)!important;}
.bg-white-56{background-color:var(--white-56)!important;}
.bg-white-60{background-color:var(--white-60)!important;}
.bg-white-72{background-color:var(--white-72)!important;}
.bg-white-8{background-color:var(--white-8)!important;}
.bg-white-80{background-color:var(--white-80)!important;}
.bg-white-88{background-color:var(--white-88)!important;}
.bg-white-96{background-color:var(--white-96)!important;}
.bg-yellow-100{background-color:var(--yellow-100)!important;}
.bg-yellow-200{background-color:var(--yellow-200)!important;}
.bg-yellow-300{background-color:var(--yellow-300)!important;}
.bg-yellow-400{background-color:var(--yellow-400)!important;}
.bg-yellow-50{background-color:var(--yellow-50)!important;}
.bg-yellow-500{background-color:var(--yellow-500)!important;}
.bg-yellow-600{background-color:var(--yellow-600)!important;}
.bg-yellow-700{background-color:var(--yellow-700)!important;}
.bg-yellow-800{background-color:var(--yellow-800)!important;}
.bg-yellow-900{background-color:var(--yellow-900)!important;}
.bg-background-bg_blue{background-color:var(--background-bg_blue)!important;}
.bg-background-bg_cyan{background-color:var(--background-bg_cyan)!important;}
.bg-background-bg_deepBlue{background-color:var(--background-bg_deepBlue)!important;}
.bg-background-bg_deepGray{background-color:var(--background-bg_deepGray)!important;}
.bg-background-bg_disabled{background-color:var(--background-bg_disabled)!important;}
.bg-background-bg_gray{background-color:var(--background-bg_gray)!important;}
.bg-background-bg_lightGray{background-color:var(--background-bg_lightGray)!important;}
.bg-background-bg_lightBlue{background-color:var(--background-bg_lightBlue)!important;}
.bg-background-bg_lightCyan{background-color:var(--background-bg_lightCyan)!important;}
.bg-background-bg_lightPink{background-color:var(--background-bg_lightPink)!important;}
.bg-background-bg_lightPurple{background-color:var(--background-bg_lightPurple)!important;}
.bg-background-bg_lightRed{background-color:var(--background-bg_lightRed)!important;}
.bg-background-bg_lightViolet{background-color:var(--background-bg_lightViolet)!important;}
.bg-background-bg_lightYellow{background-color:var(--background-bg_lightYellow)!important;}
.bg-background-bg_pink{background-color:var(--background-bg_pink)!important;}
.bg-background-bg_purple{background-color:var(--background-bg_purple)!important;}
.bg-background-bg_red{background-color:var(--background-bg_red)!important;}
.bg-background-bg_violet{background-color:var(--background-bg_violet)!important;}
.bg-background-bg_white{background-color:var(--background-bg_white)!important;}
.bg-background-bg_yellow{background-color:var(--background-bg_yellow)!important;}
.bg-basic-black{background-color:var(--basic-black)!important;}
.bg-basic-white{background-color:var(--basic-white)!important;}
.bg-border-0{background-color:var(--border-0)!important;}
.bg-border-12{background-color:var(--border-12)!important;}
.bg-border-4{background-color:var(--border-4)!important;}
.bg-border-72{background-color:var(--border-72)!important;}
.bg-border-8{background-color:var(--border-8)!important;}
.bg-border-primary_enabled{background-color:var(--border-primary_enabled)!important;}
.bg-brandPrimary-blue400{background-color:var(--brandPrimary-blue400)!important;}
.bg-brandPrimary-blue500{background-color:var(--brandPrimary-blue500)!important;}
.bg-brandPrimary-blue600{background-color:var(--brandPrimary-blue600)!important;}
.bg-button-ghost-border{background-color:var(--button-ghost-border)!important;}
.bg-button-ghost-disabled{background-color:var(--button-ghost-disabled)!important;}
.bg-button-ghost-enabled{background-color:var(--button-ghost-enabled)!important;}
.bg-button-ghost-onDisabled{background-color:var(--button-ghost-onDisabled)!important;}
.bg-button-ghost-onEnabled{background-color:var(--button-ghost-onEnabled)!important;}
.bg-button-ghost-pressed{background-color:var(--button-ghost-pressed)!important;}
.bg-button-ghostw-border{background-color:var(--button-ghostw-border)!important;}
.bg-button-ghostw-border_disabled{background-color:var(--button-ghostw-border_disabled)!important;}
.bg-button-ghostw-disabled{background-color:var(--button-ghostw-disabled)!important;}
.bg-button-ghostw-enabled{background-color:var(--button-ghostw-enabled)!important;}
.bg-button-ghostw-onDisabled{background-color:var(--button-ghostw-onDisabled)!important;}
.bg-button-ghostw-onEnabled{background-color:var(--button-ghostw-onEnabled)!important;}
.bg-button-ghostw-pressed{background-color:var(--button-ghostw-pressed)!important;}
.bg-button-outlined-border{background-color:var(--button-outlined-border)!important;}
.bg-button-outlined-disabled{background-color:var(--button-outlined-disabled)!important;}
.bg-button-outlined-enabled{background-color:var(--button-outlined-enabled)!important;}
.bg-button-outlined-onDisabled{background-color:var(--button-outlined-onDisabled)!important;}
.bg-button-outlined-onEnabled{background-color:var(--button-outlined-onEnabled)!important;}
.bg-button-outlined-pressed{background-color:var(--button-outlined-pressed)!important;}
.bg-button-primary-disabled{background-color:var(--button-primary-disabled)!important;}
.bg-button-primary-enabled{background-color:var(--button-primary-enabled)!important;}
.bg-button-primary-onDisabled{background-color:var(--button-primary-onDisabled)!important;}
.bg-button-primary-onEnabled{background-color:var(--button-primary-onEnabled)!important;}
.bg-button-primary-pressed{background-color:var(--button-primary-pressed)!important;}
.bg-button-secondary-disabled{background-color:var(--button-secondary-disabled)!important;}
.bg-button-secondary-enabled{background-color:var(--button-secondary-enabled)!important;}
.bg-button-secondary-onDisabled{background-color:var(--button-secondary-onDisabled)!important;}
.bg-button-secondary-onEnabled{background-color:var(--button-secondary-onEnabled)!important;}
.bg-button-secondary-pressed{background-color:var(--button-secondary-pressed)!important;}
.bg-button-textBtn-Enabled{background-color:var(--button-textBtn-Enabled)!important;}
.bg-icon-default{background-color:var(--icon-default)!important;}
.bg-icon-disabled{background-color:var(--icon-disabled)!important;}
.bg-icon-gray_1{background-color:var(--icon-gray_1)!important;}
.bg-icon-gray_2{background-color:var(--icon-gray_2)!important;}
.bg-icon-white{background-color:var(--icon-white)!important;}
.bg-shadow-blue_1{background-color:var(--shadow-blue_1)!important;}
.bg-shadow-blue_2{background-color:var(--shadow-blue_2)!important;}
.bg-shadow-blue_3{background-color:var(--shadow-blue_3)!important;}
.bg-shadow-gray_1{background-color:var(--shadow-gray_1)!important;}
.bg-shadow-gray_2{background-color:var(--shadow-gray_2)!important;}
.bg-shadow-gray_3{background-color:var(--shadow-gray_3)!important;}
.bg-status-active{background-color:var(--status-active)!important;}
.bg-status-caution{background-color:var(--status-caution)!important;}
.bg-status-dimmed{background-color:var(--status-dimmed)!important;}
.bg-status-error{background-color:var(--status-error)!important;}
.bg-status-help{background-color:var(--status-help)!important;}
.bg-status-info{background-color:var(--status-info)!important;}
.bg-status-success{background-color:var(--status-success)!important;}
.bg-status-focused{background-color:var(--status-focused)!important;}
.bg-status-disabled_bg{background-color:var(--status-disabled_bg)!important;}
.bg-status-disabled_font{background-color:var(--status-disabled_font)!important;}
.bg-surface-surface{background-color:var(--surface-surface)!important;}
.bg-surface-surface0{background-color:var(--surface-surface0)!important;}
.bg-surface-surface100{background-color:var(--surface-surface100)!important;}
.bg-surface-surface200{background-color:var(--surface-surface200)!important;}
.bg-surface-surface300{background-color:var(--surface-surface300)!important;}
.bg-surface-surface400{background-color:var(--surface-surface400)!important;}
.bg-surface-surface50{background-color:var(--surface-surface50)!important;}
.bg-surface-surface500{background-color:var(--surface-surface500)!important;}
.bg-surface-surface700{background-color:var(--surface-surface700)!important;}
.bg-surface-surface800{background-color:var(--surface-surface800)!important;}
.bg-surface-surface900{background-color:var(--surface-surface900)!important;}
.bg-typography-black{background-color:var(--typography-black)!important;}
.bg-typography-body{background-color:var(--typography-body)!important;}
.bg-typography-caption{background-color:var(--typography-caption)!important;}
.bg-typography-disabled{background-color:var(--typography-disabled)!important;}
.bg-typography-gray{background-color:var(--typography-gray)!important;}
.bg-typography-placeholder{background-color:var(--typography-placeholder)!important;}
.bg-typography-title{background-color:var(--typography-title)!important;}
.bg-typography-white{background-color:var(--typography-white)!important;}
.bg-transparent{background-color:transparent!important;}
