<!--
/*************************************************************************
* @ 서비스경로 : NTBX10M
* @ 파일명      : NTBX10M.html  메인 > [T] 알림함
* @ 작성자      : 90196258
* @ 작성일      : 2025-02-14
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-02-14       90196258                 최초작성
*************************************************************************/
-->

<p class="description info body-small fc-typography-caption mt16">알림의 조회 기간은 14일입니다.</p>
<div class="alarm-list mt16" id="armListArea" style="display:none;">
	<ul id="armList">
	</ul>
</div>

<div class="division-center" id="noData" style="display:none;">
	<style>
		body {
			background-color: var(--background-bg_lightGray);
		}
	</style>

	<div class="no-result">
		<i class="icon-only icon-48 icon-alarm bg-icon-gray_1"></i>
		<p class="body-medium fw-400">받은 알림이 없습니다.</p>
	</div>
</div>