<!-- main -->
<main>
	<!-- header -->
	<header>
           <div class="main-header">
               <div class="left">
                   <button type="button" id="backBtn" class="header-btn" aria-label="뒤로 가기"><i class="i-back"></i></button>
               </div>
               <div class="center">
                   <h1>Title</h1>
               </div>
               <div class="right">
                   <button type="button" id="menuBtn" class="header-btn" aria-label="메뉴 열기"><i class="i-menu"></i></button>
               </div>
           </div>
       </header>
	<!-- //header -->

	<!-- main-inner -->
	<!-- content start -->
	<div class="main-inner">
		<section>

           </section>
	</div>
	<!-- //content end -->
	<!-- //main-inner -->


	<!-- bottom-btn -->
	<div class="bottom-btn">
		<div class="btn-wrap">
			<button id="btmBtn1" type="button" class="btn-large btn-secondary">등록</button>
			<button id="btmBtn2" type="button" class="btn-large btn-primary">공유</button>
		</div>
	</div>
	<!-- //bottom-btn -->
</main>
<!-- main -->
