<a type="button" class="customer-card">
	<strong class="title-medium" data-bind="cusKorlNm"></strong>
	<dl class="group gap8">
		<dt>실명번호</dt>
		<dd data-bind="acnmNo"></dd>
	</dl>
	<dl class="group gap8">
		<dt>실명번호구분</dt>
		<dd data-bind="acnmNoDscd"></dd>
	</dl>
	<dl class="group gap8">
		<dt>통합고객번호</dt>
		<dd data-bind="itcsno"></dd>
	</dl>
	<dl class="group gap8">
		<dt>여권발급국가</dt>
		<dd data-bind="psptIsuNacd"></dd>
	</dl>
	<dl class="group gap8">
		<dt>잠재고객여부</dt>
		<dd data-bind="ptntCusYn"></dd>
	</dl>
</a>