<!--
/*************************************************************************
* @ 서비스경로 : CRMPMNG42p
* @ 파일명      : CRMPMNG42p.html  고객관리 > 기업정보조회 > 기업일반 > 대표자정보
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="content">

	<strong class="title-large py16">인적사항</strong>


	<div class="table-row">
		<table>
			<caption class="caption-visible"  id="sdt-dt">
				
			</caption>
			<tbody>
				<tr>
					<th scope="row">성명/직위</th>
					<td id="name"></td>
				</tr>
				<tr>
					<th scope="row">대표자 구분</th>
					<td id="reper-ccd"></td>
				</tr>
				<tr>
					<th scope="row">표시대표자여부</th>
					<td id="mrk-reper-yn"></td>
				</tr>
				<tr>
					<th scope="row">취임일자</th>
					<td id="asmp-dt"></td>
				</tr>
				<tr>
					<th scope="row">퇴임일자</th>
					<td id="rtir-dt"></td>
				</tr>
				<tr>
					<th scope="row">현직여부</th>
					<td id="po-yn"></td>
				</tr>
				<tr>
					<th scope="row">직위</th>
					<td id="ttl"></td>
				</tr>
				<tr>
					<th scope="row">경영형태</th>
					<td id="mng-fcd"></td>
				</tr>
				<tr>
					<th scope="row">대표자로서의 동종계 종사기간</th>
					<td id="sind-eg-prd"></td>
				</tr>
				<tr>
					<th scope="row">경영실권자와의 관계</th>
					<td id="sind-eg-prd" id="mdm-rel-cd"></td>
				</tr>
				<tr>
					<th scope="row">경영능력</th>
					<td id="reper-mabl-cd"></td>
				</tr>
				<tr>
					<th scope="row">주식소유현황(보통주)</th>
					<td id="cstk-own"></td>
				</tr>
				<tr>
					<th scope="row">주식소유현황(우선주)</th>
					<td id="pstk-own"></td>
				</tr>
				<tr>
					<th scope="row">스톡옵션부여(주식수)</th>
					<td id="so-reg-cn"></td>
				</tr>
				<tr>
					<th scope="row">비고</th>
					<td id="rmk"></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>