<!--
/*************************************************************************
* @ 서비스경로 : CRMPMNG31M
* @ 파일명      : CRMPMNG31M.html  고객관리 > 고객기여도 조회 결과
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<style>
	body {
		background-color: var(--background-bg_lightGray);
	}
</style>

<!-- box-list -->
<div class="customer-contribution-list content-fluid px0 mb-24">
	<div class="tablet-maxwidth bg-background-bg_white">
		<!-- box -->
		<div class="box">
			<h2 class="headline-small">고객정보</h2>
			<div class="table-row mt24">
				<table>
					<caption>고객정보</caption>
					<tbody>
						<tr>
							<th scope="row">고객명</th>
							<td id="cusNm1"></td>
						</tr>
						<tr>
							<th scope="row">통합고객번호</th>
							<td id="itcsno1"></td>
						</tr>
						<tr>
							<th scope="row">법인번호</th>
							<td id="encyAcnmNo1"></td>
						</tr>
						<tr>
							<th scope="row">사업자번호</th>
							<td id="encyAcnmNo2"></td>
						</tr>
						<tr>
							<th scope="row">대상기간</th>
							<td id="test_date"></td>
						</tr>
						<tr>
							<th scope="row">대상지점</th>
							<td id="brcdKorlNm1"></td>
						</tr>
						<tr>
							<th scope="row">계열번호</th>
							<td id="affNo"></td>
						</tr>
						<tr>
							<th scope="row">상장구분</th>
							<td id="lstnDscdNm"></td>
						</tr>
						<tr>
							<th scope="row">처리구분</th>
							<td id="prcDscdNm"></td>
						</tr>
						<tr>
							<th scope="row">기업규모</th>
							<td id="cmszDisNm"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- //box -->
	
		<div class="stroke stroke4"></div>
	
		<!-- box -->
		<div class="box">
			<h2 class="headline-small">평가지표</h2>
			<div class="table-row mt24">
				<table>
					<caption class="caption-visible"><span class="blind">평가지표</span> (단위: 천원, 천미불)</caption>
					<tbody>
						<tr>
							<th scope="row">총자산이익율</th>
							<td class="ar" id="tapftRsltRt"></td>
						</tr>
						<tr>
							<th scope="row">RWA</th>
							<td class="ar" id="riskWgtdAsetAm"></td>
						</tr>
						<tr>
							<th scope="row">수출실적</th>
							<td class="ar" id="xprsAm"></td>
						</tr>
						<tr>
							<th scope="row">RAROC</th>
							<td class="ar" id="riskWgtdRsltRt"></td>
						</tr>
						<tr>
							<th scope="row">RORWA</th>
							<td class="ar" id="riskWgtdAsetPrftRt"></td>
						</tr>
						<tr>
							<th scope="row">수입실적</th>
							<td class="ar" id="impRsltAm"></td>
						</tr>
						<tr>
							<th scope="row">사업부, 특별MOR반영</th>
							<td class="ar" id="bsdvSpclMorRflcAm"></td>
						</tr>
						<tr>
							<th scope="row">RAR</th>
							<td class="ar" id="rarAm"></td>
						</tr>
						<tr>
							<th scope="row">로칼, L/C개설</th>
							<td class="ar" id="lcalOpngAm"></td>
						</tr>
						<tr>
							<th scope="row">대출금이익율</th>
							<td class="ar" id="lnamPftRt"></td>
						</tr>
						<tr>
							<th scope="row">RAR율</th>
							<td class="ar" id="rarRt"></td>
						</tr>
						<tr>
							<th scope="row">로칼, L/C매입</th>
							<td class="ar" id="lcalBuyAm"></td>
						</tr>
						<tr>
							<th scope="row">사업부, 특별 MOR미반영</th>
							<td class="ar" id="bsdvSpclMorNtyRflcAm"></td>
						</tr>
						<tr>
							<th scope="row">위험조정영업수익</th>
							<td class="ar" id="totCtbRar"></td>
						</tr>
						<tr>
							<th scope="row">외환실적</th>
							<td class="ar" id="fxRsltAm"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- //box -->
	
		<div class="stroke stroke4"></div>
	
		<!-- box -->
		<div class="box">
			<h2 class="headline-small">운용 평가지표</h2>
			<div class="table-col mt24">
				<table>
					<caption class="caption-visible"><span class="blind">운용 평가지표</span>(단위: 천원)</caption>
					<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">평잔</th>
							<th scope="col">손익</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row" class="al">일반부문계</th>
							<td class="ar" id="opgAvblSum2"></td>
							<td class="ar" id="opgPlSum2"></td>
						</tr>
						<tr>
							<th scope="row" class="al">신탁부문계</th>
							<td class="ar" id="opgAvblSum4"></td>
							<td class="ar" id="opgPlSum4"></td>
						</tr>
						<tr>
							<th scope="row" class="al">외환부문계</th>
							<td class="ar" id="opgAvblSum6"></td>
							<td class="ar" id="opgPlSum6"></td>
						</tr>
						<tr>
							<th scope="row" class="al">카드부문계</th>
							<td class="ar" id="opgAvblSum8"></td>
							<td class="ar" id="opgPlSum8"></td>
						</tr>
						<tr>
							<th scope="row" class="al">총합계</th>
							<td class="ar" id="opgAvblSum9"></td>
							<td class="ar" id="opgPlSum9"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- //box -->
	
		<div class="stroke stroke4"></div>
	
		<!-- box -->
		<div class="box">
			<h2 class="headline-small">조달 평가지표</h2>
			<div class="table-col mt24">
				<table>
					<caption class="caption-visible"><span class="blind">조달 평가지표</span>(단위: 천원)</caption>
					<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">평잔</th>
							<th scope="col">손익</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row" class="al">일반부문계</th>
							<td class="ar" id="prrmAvblSum2"></td>
							<td class="ar" id="prrmPlSum2"></td>
						</tr>
						<tr>
							<th scope="row" class="al">신탁부문계</th>
							<td class="ar" id="prrmAvblSum4"></td>
							<td class="ar" id="prrmPlSum4"></td>
						</tr>
						<tr>
							<th scope="row" class="al">외환부문계</th>
							<td class="ar" id="prrmAvblSum6"></td>
							<td class="ar" id="prrmPlSum6"></td>
						</tr>
						<tr>
							<th scope="row" class="al">카드부문계</th>
							<td class="ar" id="prrmAvblSum8"></td>
							<td class="ar" id="prrmPlSum8"></td>
						</tr>
						<tr>
							<th scope="row" class="al">총합계</th>
							<td class="ar" id="prrmAvblSum9"></td>
							<td class="ar" id="prrmPlSum9"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- //box -->
	</div>

</div>
<!-- //customer-contribution-list -->