<!--
/*************************************************************************
* @ 서비스경로 : CRMPMNG41M
* @ 파일명      : CRMPMNG41M.html  고객관리 > 기업정보조회 > 결과
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<style>
body {
	background-color: var(--background-bg_lightGray);
}
</style>

<!-- customer-card-list -->
<div class="customer-card-list mt40">
	<div class="section-tablet">
		<strong class="search-result">검색결과</strong>
		<div class="tablet-grid" id="listContainer" style="display: none;">

		</div>
		<div id="com_search_notfound" style="display: none;"
			class="division-center content-fluid bg-background-bg_lightGray">

			<div class="no-result">
				<i class="icon-only icon-48 icon-noresult bg-icon-gray_1"></i>
				<p class="body-medium fw-400">검색 결과가 없습니다.</p>
			</div>
		</div>
	</div>
</div>

<!-- //customer-card-list -->