<div class="ui-guide-box">
  <!-- business-card-info -->
  <div class="business-card-info mt40">
    <div class="info-title">
      <div class="info-name">
        <div class="info-thumb">
          <picture>
            <source srcset="../../resources/images/ico/ico_profile.svg" />
            <img src="../../resources/images/ico/ico_profile.svg" alt="" />
          </picture>
          <strong data-bind="name" class="headline-small">나고객</strong>
        </div>
        <div data-bind="isShow" class="tags tags-medium tags-lightBlue">
          <i class="icon-only icon-18 icon-keyman"></i>키맨
        </div>
      </div>
      <div class="divide-list mt16">
        <span data-bind="divNm">부서명</span>
        <div class="division h12 mx8"></div>
        <span data-bind="divNm2">부서명</span>
      </div>
    </div>
    <div class="info-detail-list mt24">
      <div class="info-table">
        <div class="info-body">
          <div class="info-row">
            <div class="info-th">회사</div>
            <div class="info-td">
              <div class="group gap10 py0">
                <span data-bind="companyNm">회사이름</span>
                <a id="srchCmpny" class="anchor chevron fs-14">기업조회</a>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="info-th">휴대폰</div>
            <div class="info-td" data-bind="mbpNo">010-****-5736</div>
          </div>
          <div class="info-row">
            <div class="info-th">이메일</div>
            <div class="info-td" data-bind="eml">**c@a**.com</div>
          </div>
          <div class="info-row">
            <div class="info-th">전화번호</div>
            <div class="info-td" data-bind="pNo">02-****-5678</div>
          </div>
          <div class="info-row">
            <div class="info-th">팩스번호</div>
            <div class="info-td" data-bind="fNo">02-****-4321</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //business-card-info -->
</div>
