<!--
/*************************************************************************
* @ 서비스경로 : FNCPLS11P
* @ 파일명      : FNCPLS11P.html  금융+ > 예적금계산기 > 예금계산 > 결과
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="content">

	<!-- tab-content -->
	<div class="tab-content tab-sticky">
		<ul class="tab-list tab-col overflow-list" role="tablist">
			<li class="tab tab-active" id="dan" ><a role="tab" href="javascript:void(0)">단리</a></li>
			<li class="tab" id="bok" ><a role="tab" href="javascript:void(0)">복리</a></li>
		</ul>
	</div>
	<!-- //tab-content -->

	<div class="content-fluid px0" id="danDiv">

		<!-- box -->
		<div class="box">
			<h2 class="headline-small">일반과세</h2>
			<div class="table-row mt24">
				<table>
					<caption>일반과세</caption>
					<tbody>
						<tr>
							<th scope="row" class="al">세율</th>
							<td id="area1" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">예치금액</th>
							<td id="area2" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">만기지급액</th>
							<td id="area3" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세금</th>
							<td id="area4" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세후이자</th>
							<td id="area5" class="ar"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- box -->

		<div class="stroke stroke4"></div>

		<!-- box -->
		<div class="box">
			<h2 class="headline-small">비과세</h2>
			<div class="table-row mt24">
				<table>
					<caption>비과세</caption>
					<tbody>
						<tr>
							<th scope="row" class="al">세율</th>
							<td id="area6" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">예치금액</th>
							<td id="area7" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">만기지급액</th>
							<td id="area8" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세금</th>
							<td id="area9" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세후이자</th>
							<td id="area10" class="ar"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- box -->

	</div>
	
	<div class="content-fluid px0" style="display:none" id="bokDiv">

		<!-- box -->
		<div class="box">
			<h2 class="headline-small">일반과세</h2>
			<div class="table-row mt24">
				<table>
					<caption>일반과세</caption>
					<tbody>
						<tr>
							<th scope="row" class="al">세율</th>
							<td id="area11" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">예치금액</th>
							<td id="area12" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">만기지급액</th>
							<td id="area13" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세금</th>
							<td id="area14" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세후이자</th>
							<td id="area15" class="ar"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- box -->

		<div class="stroke stroke4"></div>

		<!-- box -->
		<div class="box">
			<h2 class="headline-small">비과세</h2>
			<div class="table-row mt24">
				<table>
					<caption>비과세</caption>
					<tbody>
						<tr>
							<th scope="row" class="al">세율</th>
							<td id="area16" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">예치금액</th>
							<td id="area17" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">만기지급액</th>
							<td id="area18" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세금</th>
							<td id="area19" class="ar"></td>
						</tr>
						<tr>
							<th scope="row" class="al">세후이자</th>
							<td id="area20" class="ar"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- box -->

	</div>
</div>