<div class="content">
	<div class="exchange-wrap content-fluid mb-24">
		<h2 class="title-large al mb16">어느 국가의 환율을 알림받으시겠어요?</h2>
	
		<div class="exchange-list">
			<button id="USD" name="exlist" class="flag flag-us flag-fluid"><strong>USD</strong><span>미국 달러</span></button>
		</div>
		<div class="exchange-list">
			<button id="JPY" name="exlist" class="flag flag-jp flag-fluid"><strong>JPY</strong><span>일본 엔</span></button>
		</div>
		<div class="exchange-list">
			<button id="EUR" name="exlist" class="flag flag-eu flag-fluid"><strong>EUR</strong><span>유럽 유로</span></button>
		</div>
		<div class="exchange-list">
			<button id="GBP" name="exlist" class="flag flag-gb flag-fluid"><strong>GBP</strong><span>영국 파운드</span></button>
		</div>
		<div class="exchange-list">
			<button id="CAD" name="exlist" class="flag flag-ca flag-fluid"><strong>CAD</strong><span>캐나다 달러</span></button>
		</div>
		<div class="exchange-list">
			<button id="CHF" name="exlist" class="flag flag-ch flag-fluid"><strong>CHF</strong><span>스위스 프랑</span></button>
		</div>
		<div class="exchange-list">
			<button id="HKD" name="exlist" class="flag flag-hk flag-fluid"><strong>HKD</strong><span>홍콩 달러</span></button>
		</div>
		<div class="exchange-list">
			<button id="CNY" name="exlist" class="flag flag-cn flag-fluid"><strong>CNY</strong><span>중국 위안</span></button>
		</div>
		<div class="exchange-list">
			<button id="THB" name="exlist" class="flag flag-th flag-fluid"><strong>THB</strong><span>태국 바트</span></button>
		</div>
		<div class="exchange-list">
			<button id="SEK" name="exlist" class="flag flag-se flag-fluid"><strong>SEK</strong><span>스웨덴 크로나</span></button>
		</div>
		<div class="exchange-list">
			<button id="AUD" name="exlist" class="flag flag-au flag-fluid"><strong>AUD</strong><span>호주 달러</span></button>
		</div>
		<div class="exchange-list">
			<button id="DKK" name="exlist" class="flag flag-dk flag-fluid"><strong>DKK</strong><span>덴마크 크로네</span></button>
		</div>
		<div class="exchange-list">
			<button id="NOK" name="exlist" class="flag flag-no flag-fluid"><strong>NOK</strong><span>노르웨이 크로네</span></button>
		</div>
		<div class="exchange-list">
			<button id="SGD" name="exlist" class="flag flag-sg flag-fluid"><strong>SGD</strong><span>싱가포르 달러</span></button>
		</div>
		<div class="exchange-list">
			<button id="NZD" name="exlist" class="flag flag-nz flag-fluid"><strong>NZD</strong><span>뉴질랜드 달러</span></button>
		</div>
		<div class="exchange-list">
			<button id="PHP" name="exlist" class="flag flag-ph flag-fluid"><strong>PHP</strong><span>필리핀 페소</span></button>
		</div>
	</div>
</div>