<!--
/*************************************************************************
* @ 서비스경로 : FNCPLS60M
* @ 파일명      : FNCPLS60M.html  [P] 전체 메뉴 > 목표환율 알림설정
* @ 작성자      : 
* @ 작성일      : 2026-04-01
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-04-01    90196258         최초작성
*************************************************************************/
-->

<!-- group-form -->
<div class="group-form mt16">
	<div class="group-title">
		<strong class="title-medium">목표환율에 도달 시 최초 1회 알림을 보내드려요.</strong>
	</div>
	<div class="group-title">
		<p class="body-small fc-typography-caption fs-14 px4">(최대 5개까지 설정 가능)</p>
	</div>
</div>
<!-- //group-form -->

<!-- group-form -->
<div class="group-form mt40">
	<div class="group-title">
		<strong class="title-medium">대상 통화 선택</strong>
	</div>
	<div class="group-content">
		<button id="selectCurrency" type="button" class="anchor chevron anchor-fluid anchor-border" data-micromodal-trigger="modal-repeat"><span id="selectCurrencyText" class="body-large fw-700">선택</span></button>
	</div>
</div>
<!-- //group-form -->

<!-- group-form -->
<div class="group-form mt40">
	<div class="group-title">
		<strong class="title-medium">환율 종류 선택</strong>
	</div>
	<div class="group-content">
		<button id="selectCurrencyType" type="button" class="anchor chevron anchor-fluid anchor-border" data-micromodal-trigger="modal-repeat"><span id="selectCurrencyTypeText" class="body-large fw-700">선택</span></button>
	</div>
	<span class="anchor-border mt10">
		<div id="nowCurrency" name="exlist" class="flag flag-us flag-fluid">
			<strong id="curIcon" style="display:none;"></strong>
			<span class="fs-16" style="color:var(--black-88);">현재환율</span>
		</div>
		<span id="curTxt" class="body-large fw-500 fs-16" style="display:none;"><span id="nowCurrency1" class="mr5" style="color:var(--blue-400);"></span><span id="nowCurrency2"></span></span>
	</span>
</div>
<!-- //group-form -->

<!-- form -->
<div class="group-form mt40">
	<div class="group-title">
		<strong class="title-medium">목표환율</strong>
	</div>
	<div style="display:flex; justify-content:space-between;">
		<div class="input-wrap input-placeholder" style="width:54%;">
			<input type="text" inputmode="numeric" maxlength="4" pattern="[0-9]*" inputmode="decimal" name="keepRate" id="keepRate1" class="ar" placeholder="0" aria-label="환율">
			<button type="button" class="input-remove" name="delBtn" value="keepRate" aria-label="입력 내용 삭제"></button>
		</div>
		<strong class="title-small mt30">.</strong>
		<div class="input-wrap input-placeholder" style="width:115px;">
			<input type="text" inputmode="numeric" maxlength="2" pattern="[0-9]*" inputmode="decimal" name="keepRate" id="keepRate2" class="ar" placeholder="0" aria-label="환율소수점">
			<button type="button" class="input-remove" name="delBtn" value="keepRate" aria-label="입력 내용 삭제"></button>
		</div>
		<strong id="strongUpDownTxt" class="title-small mt30 fw-500" style="white-space: nowrap;">원</strong>
		<div id="divUpDown" class="inp-group flex p0" style="width:70px;gap: 5px;">
			<div class="inp inp-medium">
				<label>
					<input type="radio" name="updown" id="up" value="1" checked="true">
					<span class="fs-15" style="white-space: nowrap;">이상</span>
				</label>
			</div>
			<div class="inp inp-medium">
				<label>
					<input type="radio" name="updown" id="down" value="2">
					<span class="fs-15" style="white-space: nowrap;">이하</span>
				</label>
			</div>
		</div>
	</div>
	<p class="validate-text">필수 항목 입니다.</p>
</div>
<!-- //form -->


<!-- group-form -->
<div class="group-form mt40">
	<div class="group-title">
		<strong class="title-medium">알림기간</strong>
	</div>
	<div class="group-content">
		<strong id="alimEnd" class="title-small anchor anchor-fluid anchor-border pt15 pb13"></strong>
	</div>
</div>
<!-- //group-form -->

<!-- bottom-btn -->
<div class="modal__footer">
	<div class="bottom-btn">
		<div class="btn-wrap">
			<button id="savealim" type="button" class="btn-large btn-primary"><i class="ico-check"></i>저장</button>
		</div>
		<span class="btn-wrap pt0" style="display:block">
			<p class="description caution body-small fc-typography-caption fw-400 mr10 mb5">환율 도달 시, 최초 1회 알림 서비스(PUSH)를 제공해 드립니다.</p>
			<p class="description body-small fc-typography-caption fw-400 mr10 mb5">환율 알림은 영업일 오전 9시부터 오후 5시 사이에 제공됩니다.</p>
			<p class="description body-small fc-typography-caption fw-400 mr10 mb10">알림 받은 환율은 실제 외환거래를 할 때 적용되는 환율과 다를 수 있습니다.</p>
		</span>
	</div>
</div>
<!-- //bottom-btn -->