<div class="content">
	<div class="table-col mt5">
		<table>
			<caption>당발송금 수수료 안내</caption>
			<colgroup>
				<col style="">
				<col style="">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">송금액</th>
					<th scope="col">수수료</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>USD500 상당액 이하</td>
					<td>5,000 원</td>
				</tr>
				<tr>
					<td>USD500 상당액 초과 ~ USD2,000 상당액 이하</td>
					<td>10,000 원</td>
				</tr>
				<tr>
					<td>USD2,000 상당액 초과 ~ USD5,000 상당액 이하</td>
					<td>15,000 원</td>
				</tr>
				<tr>
					<td>USD5,000 상당액 초과 ~ USD20,000 상당액 이하</td>
					<td>15,000 원</td>
				</tr>
				<tr>
					<td>USD20,000 상당액 초과</td>
					<td>20,000 원</td>
				</tr>
				<tr>
					<td>CRS 및 WEFAS 송금수표 발행시</td>
					<td>건당 USD5 상당액 추가징수</td>
				</tr>
				<tr>
					<td>인터넷뱅킹 또는 영업점에서 국외점포로 바로바로 해외송금시</td>
					<td>건당 2,000원 상당액 추가징수</td>
				</tr>
			</tbody>

		</table>
	</div>

	<p class="description success body-small fc-typography-caption mt16">인터넷/WON 뱅킹을 통한 송금시 우리가족우대서비스에 따라 Family 등급 이상은 당발송금수수료 면제</p>
</div>