<div class="content">
	<div class="exchange-wrap content-fluid mb-24">
		<div class="exchange-list">
			<button id="1" name="exlist" value="매매기준율" class="flag flag-fluid">
				<span style="color:var(--black-88);display:flex;">매매기준율<span id="a1" class="ml10" style="color:var(--red-300); display:none;">알림받는중</span></span>
				<span id="l1" class="mr5" style="color:var(--blue-400);">1479.50원</span>
			</button>
		</div>
		<div class="exchange-list">
			<button id="2" name="exlist" value="송금할 때" class="flag flag-fluid">
				<span style="color:var(--black-88);display:flex;">송금할 때<span id="a2" class="ml10" style="color:var(--red-300); display:none;">알림받는중</span></span>
				<span id="l2" class="mr5" style="color:var(--blue-400);">1479.50원</span>
			</button>
		</div>
		<div class="exchange-list">
			<button id="3" name="exlist" value="송금받을 때" class="flag flag-fluid">
				<span style="color:var(--black-88);display:flex;">송금받을 때<span id="a3" class="ml10" style="color:var(--red-300); display:none;">알림받는중</span></span>
				<span id="l3" class="mr5" style="color:var(--blue-400);">1479.50원</span>
			</button>
		</div>
		<div class="exchange-list">
			<button id="4" name="exlist" value="현찰 살 때" class="flag flag-fluid">
				<span style="color:var(--black-88);display:flex;">현찰 살 때<span id="a4" class="ml10" style="color:var(--red-300); display:none;">알림받는중</span></span>
				<span id="l4" class="mr5" style="color:var(--blue-400);">1479.50원</span>
			</button>
		</div>
		<div class="exchange-list">
			<button id="5" name="exlist" value="현찰 팔 때" class="flag flag-fluid">
				<span style="color:var(--black-88);display:flex;">현찰 팔 때<span id="a5" class="ml10" style="color:var(--red-300); display:none;">알림받는중</span></span>
				<span id="l5" class="mr5" style="color:var(--blue-400);">1479.50원</span>
			</button>
		</div>
	</div>
</div>