<!--
/*************************************************************************
* @ 서비스경로 : FNCPLS52P
* @ 파일명      : FNCPLS52P.html  금융+ > 실시간 환율조회 > [P] 환율정보 조회
* @ 작성자      : 90196258
* @ 작성일      : 2024-11-25
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-11-25       90196258                 최초작성
*************************************************************************/
-->
<div class="content">
	<div class="flag px8 py16" id="iconNm"><strong id="cucd"></strong><span id="nlKrNm"></span></div>
	<div class="table-col px8">
		<table>
			<caption>환율정보 조회</caption>
			<tbody>
				<tr>
					<th scope="row" class="al">고시기준일</th>
					<td class="ar" id="xrtntcDt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">고시시각</th>
					<td class="ar" id="pblsTm"></td>
				</tr>
				<tr>
					<th scope="row" class="al">매매기준율</th>
					<td class="ar" id="rt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">전신환매도율</th>
					<td class="ar" id="tetSellRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">전신환매입율</th>
					<td class="ar" id="tetBuyRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">현찰매도율</th>
					<td class="ar" id="cshSellRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">현찰매입율</th>
					<td class="ar" id="cshBuyRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">대미환산율</th>
					<td class="ar" id="faxcRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">미불당환산율</th>
					<td class="ar" id="pusdXcRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">본지점매도율</th>
					<td class="ar" id="ioffSellRt"></td>
				</tr>
				<tr>
					<th scope="row" class="al">본지점매입율</th>
					<td class="ar" id="ioffBuyRt"></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>