<!--
/*************************************************************************
* @ 서비스경로 : FND01M.html
* @ 파일명      : FND01M.html 펀드 - [T]펀드
* @ 화면ID 	 : PBWMA010000	
* @ 작성자      : 90194835
* @ 작성일      : 2025-02-10
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-02-10            윤은정                 최초작성
*************************************************************************/
-->

<!-- tab-content -->
<div class="tab-content tab-fluid tab-sticky">
  <ul class="tab-list tab-col overflow-list" role="tablist">
    <li id="tab1" class="tab-active">
      <a role="tab" name="fundTab" data-id="fund" href="javascript:void(0)"
        >펀드</a
      >
    </li>
    <li id="tab2" class="tab">
      <a role="tab" name="etfTab" data-id="etf" href="javascript:void(0)"
        >ETF</a
      >
    </li>
  </ul>
</div>
<!-- //tab-content -->

<!-- main-fund-section -->
<div class="main-fund-section">
  <div class="main-section-title">
    <strong class="headline-small" id="infoTxt"></strong>
    <a
      href="javascript:void(0);"
      aria-label="설정"
      class="p4"
      id="btnMyFnd"
      style="display: none"
    >
      <i class="icon-only icon-24 icon-setting bg-icon-gray_2"></i>
    </a>
  </div>

  <div class="tab-content mt24">
    <!-- tab-content -->
    <div class="tab-content mt24">
      <ul class="tab-list tab-button" role="tablist">
        <li class="tab">
          <button role="tab" name="tmTab" value="1">1개월</button>
        </li>
        <li class="tab tab-active">
          <button role="tab" name="tmTab" value="2">3개월</button>
        </li>
        <li class="tab">
          <button role="tab" name="tmTab" value="3">6개월</button>
        </li>
        <li class="tab">
          <button role="tab" name="tmTab" value="4">12개월</button>
        </li>
      </ul>
    </div>
    <!-- //tab-content -->
    <div class="chart-wrap mt24">
      <div id="fnd01Chart"></div>

      <div class="group pb16 px24">
        <div class="right">
          <span class="divide-list">
            <!-- 						<span class="fs-14" id="basicDate"></span> -->
            <!-- 						<span class="division h14 mx8"></span> -->
            <span class="fs-14">자료제공: 제로인</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //main-fund-section -->

<div class="btn-wrap content-fluid py24 bg-background-bg_lightGray">
  <div class="ac">
    <button
      type="button"
      class="btn-medium btn-primary btn-round"
      id="btnChart"
    >
      펀드 VS 지수 비교해보기<i class="ico-chevron bg-icon-white"></i>
    </button>
  </div>
</div>

<div class="main-fund-banner content-fluid mb-24">
  <figure>
    <picture>
      <source srcset="../../resources/images/PBWMA/image_fund01.png 2x" />
      <img src="../../resources/images/PBWMA/image_fund01.png" alt="" />
    </picture>
    <figcaption>
      <span class="body-medium">수익률 BEST 키워드의 펀드가 궁금하신가요?</span>
      <strong class="headline-small mt8"
        >투자자 성향분석 없이 <br />
        원하는 펀드를 찾아 보세요!
      </strong>
      <span id="addFndTxt" class="body-medium mt8" style="display: none"
        >관심 펀드를 등록하면 수익률을 비교해드려요!</span
      >
      <a class="btn-medium btn-primary btn-round mt24" id="btnFnd"
        >펀드 찾기<i class="ico-search"></i
      ></a>
    </figcaption>
  </figure>
</div>
