
<!--
/*************************************************************************
* @ 서비스경로 : FND34P
* @ 파일명      : 펀드 > 펀드 상세 > 펀드 > 투자에 따른 위험
* @ 화면ID 	: PBWFU049904
* @ 작성자      : 90195654
* @ 작성일      : 2025-01-06
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-06    90195654                 최초작성
*************************************************************************/
-->

<div class="content">

	<p class="description error body-small fc-typography-caption">
	해당
		펀드는 연금손실위험, 시장위험, 신용위험, 펀드해지위험이 있을 수 있으므로 신중하게 투자해 주세요.
	</p>

	<strong class="title-large py16 px8 mt24">원금손실위험</strong>

	<div class="box-gray">
		<p class="body-medium fw-400">
		펀드는 운용실적에 따라 손익이 결정되는 실적배당형 상품으로 투자원금이 보장 또는 보호되지 않으며 투자금액의 손실위험은 모두 투자자가 부담합니다
		</p>
	</div>

	<strong class="title-large py16 px8 mt8">시장위험</strong>

	<div class="box-gray">
		<p class="body-medium fw-400">
		주가, 금리 등 거시경제지표의 변화 뿐만 아니라 예상치 못한 정치/경제 상황, 세제 변경 등이 펀드 수익률에 영향을 줄 수 있습니다. 
		</p>
	</div>

	<strong class="title-large py16 px8 mt8">신용위험</strong>

	<div class="box-gray">
		<p class="body-medium fw-400">
		투자대상 증권을 발행한 회사의 영업환경, 재무상황, 신용상태 등이 악화되는 경우 펀드수익률에 영향을 줄 수 있습니다. 
		</p>
	</div>

	<strong class="title-large py16 px8 mt8">펀드해지위험</strong>

	<div class="box-gray">
		<p class="body-medium fw-400">
		펀드 설정 후 1년이 되는 날에 펀드 원본액이 50억원 미만이거나, 펀드를 설정하고 1년이 지난 후 1개월간 계속해 펀드 원본액이 50억원 미만인 경우 투자자의 동의 없이 펀드가 해지될 수 있습니다
		</p>
	</div>

</div>