<!--
/*************************************************************************
* @ 서비스경로 : FND31P
* @ 파일명      : 펀드 > 펀드 상세 > 펀드 > 기간별 기준가/수익률
* @ 화면ID 	: PBWFU049901	
* @ 작성자      : 90195654
* @ 작성일      : 2025-01-06
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-06    90195654                 최초작성
*************************************************************************/
-->
<div class="content content-fluid">

	<strong class="title-large py16 px24 month"></strong>

	<div class="table-col content-fluid overflow-visible px0">
		<table class="column01-sticky">
			<caption>기간별 기준가/수익률 <span class="month"></span></caption>
			<colgroup>
				<col style="width: 15%">
				<col>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">기준일</th>
					<th scope="col" id="fndNm"></th>
					<th scope="col">BM</th>
					<th scope="col">유형평균</th>
				</tr>
			</thead>
			<tbody id="inq5Grid">
			</tbody>

		</table>
	</div>

</div>