
<!--
/*************************************************************************
* @ 서비스경로 : FND33P
* @ 파일명      : 펀드 > 펀드 상세 > 펀드 > 투자설명서 및 약관
* @ 화면ID 	: PBWFU049903
* @ 작성자      : 90195654
* @ 작성일      : 2025-01-06
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-06    90195654                 최초작성
*************************************************************************/
-->


<div class="content">

	<div class="content-fluid px0">
		<button type="button" name="pdfViewer" class="anchor chevron anchor-fluid w100 py16" id="DS003" style="display:none;">
			<strong class="title-medium fw-500"
				data-micromodal-trigger="modal-popup04">집합투자 규약</strong>
		</button>
		<button type="button" name="pdfViewer" class="anchor chevron anchor-fluid w100 py16" id="DS010" style="display:none;">
			<strong class="title-medium fw-500">투자설명서</strong>
		</button>
		<button type="button" name="pdfViewer" class="anchor chevron anchor-fluid w100 py16" id="DS012" style="display:none;">
			<strong class="title-medium fw-500">간이설명서</strong>
		</button>
		<button type="button" name="pdfViewer" class="anchor chevron anchor-fluid w100 py16" id="DS020" style="display:none;">
			<strong class="title-medium fw-500">자산운용보고서</strong>
		</button>
	</div>

</div>