<div>
  <div class="ui-guide-section">
    <div class="ui-guide-box">
      <div class="guide-column-list">
        <p>기본 alert 창</p>
        <button id="btn1" type="button" class="btn-large btn-primary">Alert</button>
        <br>
        <br>
        <p>아이콘 alert 창</p>
        <button id="btn4" type="button" class="btn-large btn-primary">AlertWithIcon</button>
        <br>
        <br>
        <p>confirm 창</p>
        <button id="btn2" type="button" class="btn-large btn-primary">Confirm</button>
        <br>
        <br>
        <p>innerHtml 창</p>
        <button id="btn3" type="button" class="btn-large btn-primary">HTML Popup</button>
        <br>
        <br>
        <p></p>
        <button id="btn5" type="button" class="btn-large btn-primary">Alert5</button>
      </div>
    </div>
  </div>
</div>