<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
    <style></style>
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Button</h1>
      <p>Anchor, Button 혼용 가능합니다.</p>

      <div class="ui-guide-section">
        <h2>CTA <span>Color</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-large btn-primary">
            btn-primary
          </button>
          <button type="button" class="btn-large btn-secondary">
            btn-secondary
          </button>
          <button type="button" class="btn-large btn-outlined">
            btn-outlined
          </button>
          <button type="button" class="btn-large btn-ghost">btn-ghost</button>
          <button type="button" class="btn-large btn-ghost-white">
            btn-ghost-white
          </button>
        </div>
        <hr />

        <h2>CTA <span>Inner Icon</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-large btn-primary">
            <i class="ico-check"></i>btn-primary
          </button>
          <button type="button" class="btn-large btn-secondary">
            <i class="ico-check"></i>btn-secondary
          </button>
          <button type="button" class="btn-large btn-outlined">
            <i class="ico-check"></i>btn-outlined
          </button>
          <button type="button" class="btn-large btn-ghost">
            <i class="ico-check"></i>btn-ghost
          </button>
          <button type="button" class="btn-large btn-primary">
            btn-primary<i class="ico-check"></i>
          </button>
          <button type="button" class="btn-large btn-secondary">
            btn-secondary<i class="ico-check"></i>
          </button>
          <button type="button" class="btn-large btn-outlined">
            btn-outlined<i class="ico-check"></i>
          </button>
          <button type="button" class="btn-large btn-ghost">
            btn-ghost<i class="ico-check"></i>
          </button>
        </div>
        <hr />
        <h2>CTA <span>Disabled</span></h2>
        <div class="guide-column-list">
          <button
            type="button"
            class="btn-large btn-primary"
            aria-disabled="true"
          >
            btn-primary
          </button>
          <button
            type="button"
            class="btn-large btn-secondary"
            aria-disabled="true"
          >
            btn-secondary
          </button>
          <button
            type="button"
            class="btn-large btn-outlined"
            aria-disabled="true"
          >
            btn-outlined
          </button>
          <button
            type="button"
            class="btn-large btn-ghost"
            aria-disabled="true"
          >
            btn-ghost
          </button>
        </div>
        <hr />

        <h2>CTA <span>Size</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-large btn-primary">btn-large</button>
          <button type="button" class="btn-medium btn-primary">
            btn-medium
          </button>
          <button type="button" class="btn-small btn-primary">btn-small</button>
          <button type="button" class="btn-xsmall btn-primary">
            btn-xsmall
          </button>
        </div>
        <hr />

        <h2>CTA <span>Radius</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-xsmall btn-primary btn-round">
            btn-round
          </button>
        </div>
        <hr />

        <h2>CTA <span>Text</span></h2>
        <div class="guide-column-list">
          <a href="#" class="anchor chevron fs-16">레이블 Small</a>
          <a href="#" class="anchor chevron fs-15">레이블 Xsmall</a>
          <a href="#" class="anchor chevron chevron-up fs-15">접기</a>
          <a href="#" class="anchor chevron chevron-down fs-15">더보기</a>
          <a href="#" class="anchor underline fs-15">레이블 Underline</a>
          <button type="button" class="anchor chevron anchor-fluid">
            업종 전체
          </button>
          <button
            type="button"
            class="anchor chevron anchor-fluid anchor-border"
          >
            <span class="body-large fw-700">업종 전체</span>
          </button>
          <a href="#" class="anchor chevron anchor-fluid anchor-bg"
            ><span class="title-small fw-700 fc-typography-body"
              >피델리티글로벌배당인컴증권자투자신탁(주식-재간접형)</span
            ></a
          >
        </div>
        <hr />

        <h2>CTA <span>FAB</span></h2>
        <div class="guide-column-list a-start">
          <button
            type="button"
            class="fab fab-primary fab-square"
            aria-label="더보기"
          >
            <i class="ico-add"></i>
          </button>
          <button
            type="button"
            class="fab fab-primary fab-square"
            aria-label="일정 추가"
          >
            <i class="ico-calendar"></i>
          </button>
          <button
            type="button"
            class="fab fab-secondary fab-circle"
            aria-label="일정 검색"
          >
            <i class="ico-search bg-icon-default"></i>
          </button>

          <button
            type="button"
            class="fab fab-secondary fab-circle"
            aria-label="최상단으로 이동"
          >
            <i class="ico-gototop"></i>
          </button>
        </div>
        <hr />
      </div>
    </div>
  </body>
</html>
