<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Form</h1>
      <p>Checkbox</p>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>Large</h2>
          <dl>
            <dt></dt>
            <dd>
              <div class="inp-column-list">
                <div class="inp inp-large">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">텍스트를 입력해주세요</span>
                  </label>
                </div>
                <div class="stroke my16"></div>
                <div class="inp inp-large">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">텍스트를 입력해주세요</span>
                    <span class="label-subtitle"
                      >서브텍스트를 입력해주세요</span
                    >
                  </label>
                </div>
                <div class="stroke my16"></div>
                <div class="inp inp-large">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title"
                      >텍스트를 입력해주세요 텍스트를 입력해주세요 텍스트를
                      입력해주세요</span
                    >
                    <span class="label-subtitle"
                      >서브텍스트를 입력해주세요 서브텍스트를 입력해주세요
                      서브텍스트를 입력해주세요</span
                    >
                  </label>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <hr />
        <div class="ui-guide-box">
          <h2>Medium</h2>
          <dl>
            <dt></dt>
            <dd>
              <div class="inp-column-list">
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">텍스트를 입력해주세요</span>
                  </label>
                </div>
                <div class="stroke my16"></div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">텍스트를 입력해주세요</span>
                    <span class="label-subtitle"
                      >서브텍스트를 입력해주세요</span
                    >
                  </label>
                </div>
                <div class="stroke my16"></div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title"
                      >텍스트를 입력해주세요 텍스트를 입력해주세요 텍스트를
                      입력해주세요</span
                    >
                    <span class="label-subtitle"
                      >서브텍스트를 입력해주세요 서브텍스트를 입력해주세요
                      서브텍스트를 입력해주세요</span
                    >
                  </label>
                </div>
              </div>
            </dd>
            <dt>disabled</dt>
            <dd>
              <div class="inp-column-list">
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" disabled />
                    <span class="label-title">텍스트를 입력해주세요</span>
                  </label>
                </div>
                <div class="stroke my16"></div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" checked disabled />
                    <span class="label-title">텍스트를 입력해주세요</span>
                    <span class="label-subtitle"
                      >서브텍스트를 입력해주세요</span
                    >
                  </label>
                </div>
                <div class="stroke my16"></div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" checked disabled />
                    <span class="label-title"
                      >텍스트를 입력해주세요 텍스트를 입력해주세요 텍스트를
                      입력해주세요</span
                    >
                    <span class="label-subtitle"
                      >서브텍스트를 입력해주세요 서브텍스트를 입력해주세요
                      서브텍스트를 입력해주세요</span
                    >
                  </label>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <hr />
      <div class="ui-guide-box">
        <h2>Small</h2>
        <dl>
          <dt></dt>
          <dd>
            <div class="inp-column-list">
              <div class="inp inp-small">
                <label>
                  <input type="checkbox" />
                  <span class="label-title">텍스트를 입력해주세요</span>
                </label>
                <a
                  href="#"
                  class="chevron-only"
                  aria-label="상세 내용 보기"
                ></a>
              </div>
              <div class="stroke my16"></div>
              <div class="inp inp-small">
                <label>
                  <input type="checkbox" />
                  <span class="label-title"
                    >텍스트를 입력해주세요 텍스트를 입력해주세요 텍스트를
                    입력해주세요 텍스트를 입력해주세요</span
                  >
                </label>
                <a
                  href="#"
                  class="chevron-only"
                  aria-label="상세 내용 보기"
                ></a>
              </div>
              <div class="stroke my16"></div>
              <div class="inp inp-small">
                <label>
                  <input type="checkbox" />
                  <span class="label-title">텍스트를 입력해주세요</span>
                </label>
              </div>
            </div>
          </dd>
        </dl>
      </div>
      <hr />
      <div class="ui-guide-box">
        <h2>Tnput Tab</h2>
        <dl>
          <dt>Three Tabs</dt>
          <dd>
            <div class="inp inp-board">
              <input type="checkbox" aria-label="텍스트" />
              <input type="checkbox" aria-label="텍스트" />
              <input type="checkbox" aria-label="텍스트" />
            </div>
          </dd>
        </dl>
        <dl>
          <dt>Tabs wrap</dt>
          <dd>
            <div class="inp inp-board">
              <input type="checkbox" aria-label="텍스트" />
              <input type="checkbox" aria-label="텍스트" />
              <input type="checkbox" aria-label="텍스트" />
              <input type="checkbox" aria-label="텍스트" />
              <input type="checkbox" aria-label="텍스트" />
            </div>
          </dd>
        </dl>
      </div>
      <hr />
      <div class="ui-guide-box">
        <h2>Color Checkbox</h2>
        <dl>
          <dt>Red, Purple, Cyan</dt>
          <dd>
            <div class="inp-group">
              <div class="inp inp-medium">
                <label>
                  <input type="checkbox" class="type-yellow" />
                  <span class="label-title">개인 일정</span>
                </label>
              </div>
              <div class="inp inp-medium">
                <label>
                  <input type="checkbox" class="type-purple" />
                  <span class="label-title">고객 생일</span>
                </label>
              </div>
              <div class="inp inp-medium">
                <label>
                  <input type="checkbox" class="type-cyan" />
                  <span class="label-title">수신 만기</span>
                </label>
              </div>
            </div>
          </dd>
        </dl>
      </div>

      <hr />
      <div class="ui-guide-box">
        <h2>Inp Box</h2>
        <dl>
          <dt></dt>
          <dd>
            <div class="inp-box">
              <div class="inp inp-medium">
                <label>
                  <input type="checkbox" />
                  <span class="label-title">
                    <span class="user">
                      <i class="icon-only icon-16 icon-user2"></i>
                      <span>김우리</span>
                      <span>부부장</span>
                    </span>
                    <span class="section">자산관리플랫폼부</span>
                  </span>
                </label>
              </div>
              <div class="inp inp-medium">
                <label>
                  <input type="checkbox" />
                  <span class="label-title">
                    <span class="user">
                      <i class="icon-only icon-16 icon-user2"></i>
                      <span>김우리</span>
                      <span>부부장</span>
                    </span>
                    <span class="section"
                      >자산관리플랫폼부 자산관리플랫폼부</span
                    >
                  </span>
                </label>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </body>
</html>
