<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <style></style>
    <!-- //ui source -->
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Tab</h1>

      <div class="ui-guide-section">
        <h2>Tab <span>Col</span></h2>

        <h3>Type Button</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-col overflow-list" role="tablist">
            <li class="tab tab-active">
              <button type="button" data-controls="tab-subpanel01" role="tab">
                tab-sub01
              </button>
            </li>
            <li class="tab">
              <button type="button" data-controls="tab-subpanel02" role="tab">
                tab-sub02
              </button>
            </li>
            <li class="tab">
              <button type="button" data-controls="tab-subpanel03" role="tab">
                tab-sub03
              </button>
            </li>
          </ul>
          <div id="tab-subpanel01" class="tabpanel">
            <h3 class="blind">tab-sub01</h3>
            <div>tab-sub01</div>
          </div>
          <div id="tab-subpanel02" class="tabpanel">
            <h3 class="blind">tab-sub02</h3>
            <div>tab-sub02</div>
          </div>
          <div id="tab-subpanel03" class="tabpanel">
            <h3 class="blind">tab-sub03</h3>
            <div>tab-sub03</div>
          </div>
        </div>
        <!-- //tab-content -->

        <hr />
        <h3>Type Anchor</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-col overflow-list" role="tablist">
            <li class="tab tab-active"><a role="tab" href="#">tab-sub01</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub02</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
          </ul>
        </div>
        <!-- //tab-content -->

        <hr />
        <h3>Type scrollable</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-col overflow-list" role="tablist">
            <li class="tab tab-active"><a role="tab" href="#">tab-sub01</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub02</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
          </ul>
        </div>
        <!-- //tab-content -->
      </div>
      <hr />

      <div class="ui-guide-section">
        <h2>Tab <span>Anchor</span></h2>

        <h3>Type Button</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-anchor overflow-list" role="tablist">
            <li class="tab tab-active">
              <button type="button" data-controls="tab-subpanel04" role="tab">
                tab-sub01
              </button>
            </li>
            <li class="tab">
              <button type="button" data-controls="tab-subpanel05" role="tab">
                tab-sub02
              </button>
            </li>
            <li class="tab">
              <button type="button" data-controls="tab-subpanel06" role="tab">
                tab-sub03
              </button>
            </li>
          </ul>
          <div id="tab-subpanel04" class="tabpanel">
            <h3 class="blind">tab-sub01</h3>
            <div>tab-sub01</div>
          </div>
          <div id="tab-subpanel05" class="tabpanel">
            <h3 class="blind">tab-sub02</h3>
            <div>tab-sub02</div>
          </div>
          <div id="tab-subpanel06" class="tabpanel">
            <h3 class="blind">tab-sub03</h3>
            <div>tab-sub03</div>
          </div>
        </div>
        <!-- //tab-content -->

        <hr />
        <h3>Type Anchor</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-anchor overflow-list" role="tablist">
            <li class="tab tab-active"><a role="tab" href="#">tab-sub01</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub02</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
          </ul>
        </div>
        <!-- //tab-content -->

        <hr />
        <h3>Type scrollable</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-anchor overflow-list" role="tablist">
            <li class="tab tab-active"><a role="tab" href="#">tab-sub01</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub02</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
          </ul>
        </div>
        <!-- //tab-content -->
      </div>

      <div class="ui-guide-section">
        <h2>Tab <span>Button</span></h2>

        <h3>Type Button</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-button" role="tablist">
            <li class="tab tab-active">
              <button type="button" data-controls="tab-subpanel04" role="tab">
                tab-sub01
              </button>
            </li>
            <li class="tab">
              <button type="button" data-controls="tab-subpanel05" role="tab">
                tab-sub02
              </button>
            </li>
            <li class="tab">
              <button type="button" data-controls="tab-subpanel06" role="tab">
                tab-sub03
              </button>
            </li>
          </ul>
          <div id="tab-subpanel04" class="tabpanel">
            <h3 class="blind">tab-sub01</h3>
            <div>tab-sub01</div>
          </div>
          <div id="tab-subpanel05" class="tabpanel">
            <h3 class="blind">tab-sub02</h3>
            <div>tab-sub02</div>
          </div>
          <div id="tab-subpanel06" class="tabpanel">
            <h3 class="blind">tab-sub03</h3>
            <div>tab-sub03</div>
          </div>
        </div>
        <!-- //tab-content -->

        <hr />
        <h3>Type Anchor</h3>
        <!-- tab-content -->
        <div class="tab-content">
          <ul class="tab-list tab-button" role="tablist">
            <li class="tab tab-active"><a role="tab" href="#">tab-sub01</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub02</a></li>
            <li class="tab"><a role="tab" href="#">tab-sub03</a></li>
          </ul>
        </div>
        <!-- //tab-content -->
      </div>
    </div>
  </body>
</html>
