<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Alert</h1>
      <p>Modal Popup</p>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <div class="guide-column-list">
            <button
              type="button"
              class="btn-large btn-primary"
              onclick="$swal.fire01('삭제하시겠\n습니까', '예', true, '아니요')"
            >
              Alert1
            </button>
            <button
              type="button"
              class="btn-large btn-primary"
              onclick="
                $swal.fire02(
                  '등록하시겠습니까',
                  'success',
                  '예',
                  true,
                  '아니요',
                )
              "
            >
              등록 & 확인 & 정보성 문구
            </button>
            <button
              type="button"
              class="btn-large btn-primary"
              onclick="
                $swal.fire02(
                  '삭제하시겠습니까',
                  'caution',
                  '예',
                  true,
                  '아니요',
                )
              "
            >
              삭제 & 수정 & 경고 & 주의 문구
            </button>
            <button
              type="button"
              class="btn-large btn-primary"
              onclick="$swal.fire03('삭제하시겠습니까', '예', true, '아니요')"
            >
              Alert3
            </button>
            <button
              type="button"
              class="btn-large btn-primary"
              onclick="
                $swal.fire04(
                  '삭제하시겠습니까',
                  '예',
                  'icon-locked',
                  `<i class='ico-check'></i>확인`,
                )
              "
            >
              Alert4
            </button>
            <button
              type="button"
              class="btn-large btn-primary"
              onclick="swalFire2()"
            >
              AlertCamera
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function swalFire2() {
        Swal.fire({
          showCloseButton: true,
          reverseButtons: true,
          confirmButtonText: `<i class='ico-check'></i>확인`,
          customClass: {
            htmlContainer: "mt40",
            actions: "btn-wrap pt40",
            cancelButton: "btn-large btn-outlined",
            confirmButton: "btn-large btn-primary inflex",
          },
          // allowOutsideClick: false,
          buttonsStyling: false,
          html: `
						<i class="icon-only icon-48 icon-camera bg-icon-gray_1"></i>
						<strong class="title-large mt8">명함 촬영 안내</strong>
						<p class="body-large mt8">휴대폰 세로 모드로 촬영하세요.</p>
						<picture class="d-flex j-center mt16">
							<source srcset="../../resources/images/PBWBU/img_bc_info.svg">
							<img src="../../resources/images/PBWBU/img_bc_info.svg" alt="">
						</picture>
						`,
        });
      }
    </script>
  </body>
</html>
