<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />
    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
  </head>

  <body>
    <div class="ui-guide content">
      <h1>List</h1>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>Sorting list</h2>
          <div id="sortingBusinessCard" class="businesscard-list">
            <div class="list-group-item">
              <strong class="title-medium">Item 1</strong>
              <button
                type="button"
                class="handler"
                aria-label="순서 이동"
              ></button>
            </div>
            <div class="list-group-item">
              <strong class="title-medium">Item 2</strong>
              <button
                type="button"
                class="handler"
                aria-label="순서 이동"
              ></button>
            </div>
            <div class="list-group-item">
              <strong class="title-medium">Item 3</strong>
              <button
                type="button"
                class="handler"
                aria-label="순서 이동"
              ></button>
            </div>
          </div>
        </div>
        <hr />
        <div class="ui-guide-box">
          <h2>business-card-info</h2>
          <!-- business-card-info -->
          <div class="business-card-info mt40">
            <div class="info-title">
              <div class="info-name">
                <div class="info-thumb">
                  <picture>
                    <source
                      srcset="../../resources/images/ico/ico_profile.svg"
                    />
                    <img
                      src="../../resources/images/ico/ico_profile.svg"
                      alt=""
                    />
                  </picture>
                  <strong class="headline-small">나고객</strong>
                </div>
                <div class="tags tags-medium tags-lightBlue">
                  <i class="icon-only icon-18 icon-keyman"></i>키맨
                </div>
              </div>
              <div class="divide-list mt16">
                <span>부서명</span>
                <div class="division h14 mx8"></div>
                <span>부서명</span>
              </div>
            </div>
            <div class="info-detail-list mt24">
              <div class="info-table">
                <div class="info-body">
                  <div class="info-row">
                    <div class="info-th">회사</div>
                    <div class="info-td">
                      <div class="group gap10 py0">
                        회사이름
                        <a href="#" class="anchor chevron fs-16">기업조회</a>
                      </div>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-th">휴대폰</div>
                    <div class="info-td">010-****-5736</div>
                  </div>
                  <div class="info-row">
                    <div class="info-th">이메일</div>
                    <div class="info-td">**c@a**.com</div>
                  </div>
                  <div class="info-row">
                    <div class="info-th">전화번호</div>
                    <div class="info-td">02-****-5678</div>
                  </div>
                  <div class="info-row">
                    <div class="info-th">팩스번호</div>
                    <div class="info-td">02-****-4321</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //business-card-info -->
        </div>

        <hr />

        <div class="ui-guide-box">
          <h2>divide-list</h2>
          <!-- divide-list -->
          <div class="divide-list">
            <span>부서명</span>
            <div class="division h14 mx8"></div>
            <span>부서명</span>
          </div>
          <!-- //divide-list -->
        </div>
        <hr />

        <div class="ui-guide-box">
          <h2>memo-list</h2>

          <!-- memo-list -->
          <div class="memo-list">
            <div class="memo-inner" data-toggle="toggle-wrap">
              <p>
                이곳에 내용이 들어갑니다 이곳에 내용이 들어갑니다 이곳에 내용이
                들어갑니다 이곳에 내용이 들어갑니다 이곳에 내용이 들어갑니다
                이곳에 내용이 들어갑니다 이곳에 내용이 들어갑니다 이곳에 내용이
                들어갑니다
              </p>
              <div class="memo-btn">
                <div class="left">
                  <button type="button" class="btn-noborder">
                    <i class="ico-modify"></i>수정
                  </button>
                  <button type="button" class="btn-noborder">
                    <i class="ico-delete"></i>삭제
                  </button>
                </div>
                <div class="right">
                  <button
                    type="button"
                    class="anchor chevron chevron-down fs-15"
                    data-toggle="toggle-trigger"
                    data-switch-before="chevron-down"
                    data-switch-after="chevron-up"
                  >
                    <span class="toggle-off">더보기</span>
                    <span class="toggle-on">접기</span>
                  </button>
                </div>
              </div>
              <dl>
                <dt>작성자이름</dt>
                <dd>2024-11-06 10:48</dd>
              </dl>
              <div class="divide-list">
                <span>부서명</span>
                <div class="division h14 mx8"></div>
                <span>부서명</span>
              </div>
            </div>
          </div>
          <!-- //memo-list -->
        </div>
        <hr />

        <div class="ui-guide-box">
          <h2>figure-list</h2>
          <!-- figure-list -->
          <div class="figure-list">
            <ul class="flex-wrap">
              <li>
                <figure>
                  <picture>
                    <source
                      srcset="../../resources/images/PBWMA/ico-fig-list01.svg"
                    />
                    <img
                      src="../../resources/images/PBWMA/ico-fig-list01.svg"
                      alt=""
                    />
                  </picture>
                  <figcaption>수익률 BEST</figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <picture>
                    <source
                      srcset="../../resources/images/PBWMA/ico-fig-list02.svg"
                    />
                    <img
                      src="../../resources/images/PBWMA/ico-fig-list02.svg"
                      alt=""
                    />
                  </picture>
                  <figcaption>판매 BEST</figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <picture>
                    <source
                      srcset="../../resources/images/PBWMA/ico-fig-list03.svg"
                    />
                    <img
                      src="../../resources/images/PBWMA/ico-fig-list03.svg"
                      alt=""
                    />
                  </picture>
                  <figcaption>이달의 추천 펀드</figcaption>
                </figure>
              </li>
            </ul>
          </div>
          <!-- //figure-list -->
        </div>
        <hr />
      </div>
    </div>

    <script>
      // sortable
      var sortableOption = {
        group: "shared",
        animation: 150,
        handle: ".handler", // handle's class
      };
      sortableLeft = Sortable.create(sortingBusinessCard, sortableOption);
    </script>
  </body>
</html>
