<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Form</h1>
      <p>Input</p>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>Input</h2>
          <hr />
          <dl>
            <dt>Default</dt>
            <dd>
              <div class="form">
                <div class="input-wrap">
                  <input
                    type="text"
                    placeholder="Placeholder"
                    aria-label="input"
                    maxlength="30"
                  />
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Value</dt>
            <dd>
              <div class="form">
                <div class="input-wrap">
                  <input
                    type="text"
                    placeholder="Placeholder"
                    value="Text"
                    aria-label="input"
                  />
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Readonly</dt>
            <dd>
              <div class="form">
                <div class="input-wrap readonly">
                  <input
                    type="text"
                    readonly
                    placeholder="Placeholder"
                    value="Readonly"
                    aria-label="input"
                  />
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Disabled</dt>
            <dd>
              <div class="form">
                <div class="input-wrap disabled">
                  <input
                    type="text"
                    disabled
                    placeholder="Placeholder"
                    value="Disabled"
                    aria-label="input"
                  />
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Textarea</dt>
            <dd>
              <div class="form">
                <div class="input-wrap" id="textarea1">
                  <textarea aria-label="메모"></textarea>
                </div>
                <div class="textarea-length">
                  <div class="left">0/300자</div>
                  <div class="right">
                    <button
                      type="button"
                      class="btn-xsmall btn-primary btn-round"
                      id="btn1"
                    >
                      저장
                    </button>
                  </div>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Textarea</dt>
            <dd>
              <div class="form">
                <div class="input-wrap" id="textarea2">
                  <textarea aria-label="메모"></textarea>
                </div>
                <div class="textarea-length">
                  <div class="left">0/300자</div>
                  <div class="right">
                    <button
                      type="button"
                      class="btn-xsmall btn-primary btn-round"
                      id="btn2"
                    >
                      저장
                    </button>
                  </div>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>Input Inner Button</h2>
          <hr />
          <dl>
            <dt>Remove Button</dt>
            <dd>
              <div class="form">
                <div class="input-wrap input-btn">
                  <input type="text" placeholder="Placeholder" />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt style="text-decoration: line-through">
              Search Button(Browser default)
              <span class="fc-red-600">사용안함</span>
            </dt>
            <dd>
              <div class="form">
                <div class="input-wrap">
                  <input type="search" placeholder="Placeholder" value="Text" />
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Type Text <span>With Button</span></dt>
            <dd>
              <div class="form">
                <div class="input-wrap input-btn">
                  <input type="text" placeholder="Placeholder" value="Text" />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                  <button
                    type="button"
                    class="input-search"
                    aria-label="입력 내용 검색"
                  ></button>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Type Tel <span>With Button</span></dt>
            <dd>
              <div class="form">
                <div class="input-wrap input-btn">
                  <input type="tel" placeholder="Placeholder" value="Text" />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                  <button
                    type="button"
                    class="input-search"
                    aria-label="입력 내용 검색"
                  ></button>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>password</dt>
            <dd>
              <div class="form">
                <div class="input-wrap input-btn">
                  <input
                    type="password"
                    placeholder="Placeholder"
                    value="Text"
                  />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                  <button
                    type="button"
                    class="input-password"
                    aria-label="비밀번호 표시"
                  ></button>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>inner label</dt>
            <dd>
              <div class="form form-invalid">
                <div class="label">
                  예치금액 <span class="right">5억5000만원</span>
                </div>
                <div class="input-wrap input-placeholder">
                  <input
                    type="number"
                    class="ar"
                    placeholder="금액입력"
                    aria-label="예치금액"
                    pattern="[0-9]*"
                    inputmode="decimal"
                  />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                  <div class="visible-placeholder">원</div>
                </div>
                <p class="validate-text">필수 항목 입니다.</p>
                <div class="shortcut-button-wrap">
                  <button
                    type="button"
                    class="btn-xsmall btn-outlined btn-round"
                  >
                    +100만
                  </button>
                  <button
                    type="button"
                    class="btn-xsmall btn-outlined btn-round"
                  >
                    +500만
                  </button>
                  <button
                    type="button"
                    class="btn-xsmall btn-outlined btn-round"
                  >
                    +1천만
                  </button>
                  <button
                    type="button"
                    class="btn-xsmall btn-outlined btn-round"
                  >
                    +5천만
                  </button>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>input-medium</dt>
            <dd>
              <div class="form">
                <div class="label"></div>
                <div class="input-wrap input-placeholder input-medium">
                  <div class="visible-placeholder">매월 같은 날</div>
                  <input
                    type="number"
                    class="ar"
                    placeholder="1"
                    aria-label="반복주기"
                  />
                  <div class="visible-placeholder">일에</div>
                </div>
              </div>
            </dd>
            <dd>
              <div class="form">
                <div class="label"></div>
                <div class="input-wrap input-placeholder input-medium">
                  <input
                    type="number"
                    class="ar"
                    placeholder="1"
                    aria-label="주"
                  />
                  <div class="visible-placeholder">주마다</div>
                  <button
                    type="button"
                    class="text-button ar"
                    data-placeholder="월"
                  ></button>
                  <div class="visible-placeholder">요일에 반복</div>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>inner select</dt>
            <dd>
              <div class="form">
                <div class="label"></div>
                <div class="input-wrap input-placeholder input-select">
                  <button
                    class="select"
                    data-micromodal-trigger="modal-select-list"
                    data-placeholder="선택하세요"
                  >
                    <span>선택</span>
                  </button>
                  <input
                    type="number"
                    class="ar"
                    placeholder="금액입력"
                    aria-label="예치금액"
                  />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                  <button
                    type="button"
                    class="input-search"
                    aria-label="입력 내용 검색"
                  ></button>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>Input/Label/Caption</h2>
          <hr />
          <dl>
            <dt>Default</dt>
            <dd>
              <div class="form">
                <div class="label">레이블</div>
                <div class="input-wrap">
                  <input type="text" placeholder="Placeholder" />
                </div>
                <p class="validate-text"></p>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Value</dt>
            <dd>
              <div class="form">
                <div class="label">레이블</div>
                <div class="input-wrap">
                  <input
                    type="text"
                    placeholder="Placeholder"
                    value="Validation"
                  />
                </div>
                <p class="validate-text">Info message</p>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Invalid</dt>
            <dd>
              <div class="form form-invalid">
                <div class="label">레이블</div>
                <div class="input-wrap">
                  <input
                    type="text"
                    placeholder="Placeholder"
                    value="Invalid"
                  />
                </div>
                <p class="validate-text">필수 항목 입니다.</p>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>Valid</dt>
            <dd>
              <div class="form form-valid">
                <div class="label">레이블</div>
                <div class="input-wrap">
                  <input type="text" placeholder="Placeholder" value="Valid" />
                </div>
                <p class="validate-text">Valid message</p>
              </div>
            </dd>
          </dl>
          <hr />
        </div>
      </div>
    </div>

    <!-- micromodal -->
    <div
      class="micromodal-slide micromodal-slide-select modal"
      id="modal-select-list"
    >
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true">
          <div class="modal__header modal__header__alert">
            <button
              type="button"
              class="modal__close"
              aria-label="팝업 닫기"
              data-micromodal-close=""
            ></button>
          </div>
          <div class="modal__content">
            <div class="content content-fluid">
              <div class="select-option">
                <ul>
                  <li>
                    <button
                      type="button"
                      data-micromodal-close
                      onclick="console.log(1)"
                    >
                      <span>키워드</span>
                    </button>
                  </li>
                  <li class="select-active">
                    <button
                      type="button"
                      aria-label="선택됨"
                      data-micromodal-close
                      onclick="console.log(1)"
                    >
                      <span>펀드명</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //micromodal -->
  </body>
</html>
