<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
    <style>
      .ui-guide .guide-column-list {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .ui-guide .guide-column-list > * {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Badge</h1>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>Selector</h2>
          <div class="guide-column-list">
            <div class="select-option">
              <ul>
                <li class="select-all">
                  <button type="button">
                    <span>전체</span><i class="badge">10</i>
                  </button>
                </li>
                <li class="select-active">
                  <button type="button" aria-label="선택됨">
                    <span>PB 1팀</span><i class="badge">3</i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="ui-guide-box">
          <h2>Tab</h2>
          <div class="guide-column-list">
            <div class="tab-content">
              <ul class="tab-list tab-col overflow-list" role="tablist">
                <li class="tab">
                  <button
                    type="button"
                    data-controls="tab-subpanel01"
                    role="tab"
                    aria-selected="false"
                  >
                    tab-sub01<i class="badge">10</i>
                  </button>
                </li>
                <li class="tab tab-active">
                  <button
                    type="button"
                    data-controls="tab-subpanel02"
                    role="tab"
                    aria-selected="true"
                  >
                    tab-sub02<i class="badge">10</i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <h2>Tab Overflow</h2>
          <div class="guide-column-list">
            <div class="tab-content">
              <ul class="tab-list tab-col overflow-list" role="tablist">
                <li class="tab">
                  <button
                    type="button"
                    data-controls="tab-subpanel03"
                    role="tab"
                    aria-selected="false"
                  >
                    tab-sub01<i class="badge">10</i>
                  </button>
                </li>
                <li class="tab">
                  <button
                    type="button"
                    data-controls="tab-subpanel04"
                    role="tab"
                    aria-selected="false"
                  >
                    tab-sub01<i class="badge">10</i>
                  </button>
                </li>
                <li class="tab">
                  <button
                    type="button"
                    data-controls="tab-subpanel04"
                    role="tab"
                    aria-selected="false"
                  >
                    tab-sub01<i class="badge">10</i>
                  </button>
                </li>
                <li class="tab tab-active">
                  <button
                    type="button"
                    data-controls="tab-subpanel05"
                    role="tab"
                    aria-selected="true"
                  >
                    tab-sub02<i class="badge">10</i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
