<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Toast</h1>
      <div class="ui-guide-section">
        <h2>Toast <span>Type</span></h2>
        <div class="guide-column-list">
          <button class="btn-large btn-outlined" id="alert">alert</button>
          <button class="btn-large btn-outlined" id="success">Success</button>
          <button class="btn-large btn-outlined" id="info">Info</button>
          <button class="btn-large btn-outlined" id="caution">caution</button>
          <button class="btn-large btn-outlined" id="error">Error</button>
          <button class="btn-large btn-outlined" id="alert2">alert2</button>
          <button class="btn-large btn-outlined" id="alert3">alert3</button>
        </div>
      </div>
    </div>

    <script>
      $("#alert").click(function (event) {
        toastr.alert(
          `<div class="btn-toast-wrap"><button type="button" class="btn-xsmall btn-ghost-white">Small 버튼명</button>`,
          "You clicked alert toast",
          {
            timeOut: 0,
            extendedTimeOut: 0,
            preventDuplicates: false,
            disableTimeOut: true,
          },
        );
      });
      $("#success").click(function (event) {
        toastr.success(``, "등록 되었습니다.", {
          timeOut: 0,
          extendedTimeOut: 0,
          preventDuplicates: false,
          disableTimeOut: true,
        });
      });
      $("#info").click(function (event) {
        toastr.info("", "You clicked Info toast", {
          timeOut: 0,
          extendedTimeOut: 0,
          preventDuplicates: false,
          disableTimeOut: true,
        });
      });
      $("#caution").click(function (event) {
        toastr.caution("", "삭제 되었습니다.", {
          timeOut: 0,
          extendedTimeOut: 0,
          preventDuplicates: false,
          disableTimeOut: true,
        });
      });
      $("#error").click(function (event) {
        toastr.error("", "더 이상 등록할 수 없습니다.", {
          timeOut: 0,
          extendedTimeOut: 0,
          preventDuplicates: false,
          disableTimeOut: true,
          positionClass: "toast-bottom-center",
        });
      });

      $("#alert2").click(function (event) {
        toastr.alert(
          `<p class="fs-14 fw-500 mt-10">파일 크기나 네트워크 상태에 따라 60초 이상 걸릴 수 있습니다.</p> `,
          '<div class="file-attach-loading fs-16 fc-brandPrimary-blue400 gap6">파일 다운로드중입니다. (1/4)</div>',
          {
            positionClass: "toast-top-center",
            // "closeButton": true,
            timeOut: 0,
            tapToDismiss: false,
            extendedTimeOut: 0,
            preventDuplicates: false,
            disableTimeOut: true,
          },
        );
      });
      $("#alert3").click(function (event) {
        toastr.alert(
          ``,
          '<a href="#" class="anchor chevron fs-14 fc-typography-white normal-wrap mr30"><span class="ellipsis">불완전 판매사례 안내.hwp</span></a>',
          {
            positionClass: "toast-top-center",
            closeButton: true,
            timeOut: 0,
            tapToDismiss: false,
            extendedTimeOut: 0,
            preventDuplicates: false,
            disableTimeOut: true,
          },
        );
      });
    </script>
  </body>
</html>
