<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->
    <script src="../../resources/js/common/html2canvas.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->

    <style>
      .ui-guide.content {
        padding: 0 16px 24px;
      }

      .ui-guide .ui-guide-box {
        border: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Alert</h1>
      <p>Modal Popup</p>

      <div class="ui-guide-section">
        <div class="ui-guide-box">
          <h2>A타입</h2>
          <div class="guide-column-list">
            <!-- bs-card-wrap -->
            <div class="bs-card-wrap" id="main_capture1">
              <input type="radio" name="rad001" />
              <div class="bs-card">
                <div class="bs-typeA">
                  <div class="top">
                    <div class="left">
                      <picture class="top-logo01">
                        <source
                          srcset="
                            ../../resources/images/bs_card/bs_a_top_logo01.png
                          "
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_top_logo01.png"
                          alt="우리 마음속 첫번째 금융"
                        />
                      </picture>
                    </div>
                    <div class="right">
                      <picture class="top-aff01">
                        <source
                          srcset="../../resources/images/bs_card/bs_a_aff.png"
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_aff.png"
                          alt="우리금융그룹"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="line">
                    <picture>
                      <source
                        srcset="../../resources/images/bs_card/bs_a_line.svg"
                      />
                      <img
                        src="../../resources/images/bs_card/bs_a_line.svg"
                        alt=""
                      />
                    </picture>
                  </div>
                  <div class="center">
                    <div class="title">
                      <div class="left">
                        <picture class="center-logo01">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_a_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_a_center_logo01.png"
                            alt="우리은행"
                          />
                        </picture>
                        <picture class="center-cfp">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_b_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_b_center_logo01.png"
                            alt="CFP"
                          />
                        </picture>
                      </div>
                      <div class="right">
                        <dl>
                          <dt>김우리</dt>
                          <dd>직위/호칭</dd>
                          <dd>소속</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="info">
                      <div class="left">
                        <div class="location">
                          04632 서울특별시 중구 소공로 51
                        </div>
                        <div class="email">woori@woorifg.com</div>
                      </div>
                      <div class="right">
                        <div class="contact">
                          <div class="row">
                            <div class="th">Mobile</div>
                            <div class="td">010.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">Tel</div>
                            <div class="td">02.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">내선</div>
                            <div class="td">123</div>
                          </div>
                          <div class="row">
                            <div class="th">Fax</div>
                            <div class="td">0505.001.6161</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>LevelⅢ</li>
                      <li>CFP(국제공인재무설계사)</li>
                      <li>신용위험분석사(CRA)2차</li>
                      <li>신용위험분석사(CRA)1차</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- //bs-card-wrap -->
          </div>
        </div>
        <hr />
        <div class="ui-guide-box">
          <h2>A타입 사진</h2>
          <div class="guide-column-list">
            <!-- bs-card-wrap -->
            <div class="bs-card-wrap" id="main_capture2">
              <input type="radio" name="rad001" />
              <div class="bs-card">
                <div class="bs-typeA">
                  <div class="top">
                    <div class="left">
                      <picture class="top-logo01">
                        <source
                          srcset="
                            ../../resources/images/bs_card/bs_a_top_logo01.png
                          "
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_top_logo01.png"
                          alt="우리 마음속 첫번째 금융"
                        />
                      </picture>
                    </div>
                    <div class="right">
                      <picture class="top-aff01">
                        <source
                          srcset="../../resources/images/bs_card/bs_a_aff.png"
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_aff.png"
                          alt="우리금융그룹"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="line">
                    <picture>
                      <source
                        srcset="../../resources/images/bs_card/bs_a_line.svg"
                      />
                      <img
                        src="../../resources/images/bs_card/bs_a_line.svg"
                        alt=""
                      />
                    </picture>
                  </div>
                  <div class="center">
                    <div class="title">
                      <div class="left">
                        <figure>
                          <picture>
                            <source
                              srcset="../../resources/@temp/thumb_w.png"
                            />
                            <img
                              src="../../resources/@temp/thumb_w.png"
                              alt=""
                            />
                          </picture>
                        </figure>
                        <picture class="center-cfp">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_b_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_b_center_logo01.png"
                            alt="CFP"
                          />
                        </picture>
                      </div>
                      <div class="right">
                        <dl>
                          <dt>김우리</dt>
                          <dd>직위/호칭</dd>
                          <dd>소속</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="info">
                      <div class="left">
                        <picture class="info-logo01">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_a_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_a_center_logo01.png"
                            alt="우리은행"
                          />
                        </picture>
                        <div class="location">
                          04632 서울특별시 중구 소공로 51
                        </div>
                        <div class="email">woori@woorifg.com</div>
                      </div>
                      <div class="right">
                        <div class="contact">
                          <div class="row">
                            <div class="th">Mobile</div>
                            <div class="td">010.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">Tel</div>
                            <div class="td">02.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">내선</div>
                            <div class="td">123</div>
                          </div>
                          <div class="row">
                            <div class="th">Fax</div>
                            <div class="td">0505.001.6161</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>CFP(국제공인재무설계사)</li>
                      <li>신용위험분석사(CRA)2차</li>
                      <li>신용위험분석사(CRA)1차</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- //bs-card-wrap -->
          </div>
        </div>
        <hr />

        <div class="ui-guide-box">
          <h2>위비프렌즈 타입</h2>
          <div class="guide-column-list">
            <!-- bs-card-wrap -->
            <div class="bs-card-wrap" id="main_capture3">
              <input type="radio" name="rad001" />
              <div class="bs-card">
                <div class="bs-typeA">
                  <div class="top">
                    <div class="left">
                      <picture class="top-logo02">
                        <source
                          srcset="
                            ../../resources/images/bs_card/bs_a_top_logo02.png
                          "
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_top_logo02.png"
                          alt="위비프렌즈"
                        />
                      </picture>
                    </div>
                    <div class="right">
                      <picture class="top-aff01">
                        <source
                          srcset="../../resources/images/bs_card/bs_a_aff.png"
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_aff.png"
                          alt="우리금융그룹"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="line">
                    <picture>
                      <source
                        srcset="../../resources/images/bs_card/bs_a_line.svg"
                      />
                      <img
                        src="../../resources/images/bs_card/bs_a_line.svg"
                        alt=""
                      />
                    </picture>
                  </div>
                  <div class="center">
                    <div class="title">
                      <div class="left">
                        <picture class="center-logo01">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_a_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_a_center_logo01.png"
                            alt="우리은행"
                          />
                        </picture>
                        <picture class="center-cfp">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_b_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_b_center_logo01.png"
                            alt="CFP"
                          />
                        </picture>
                      </div>
                      <div class="right">
                        <dl>
                          <dt>김우리</dt>
                          <dd>직위/호칭</dd>
                          <dd>소속</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="info">
                      <div class="left">
                        <div class="location">
                          04632 서울특별시 중구 소공로 51
                        </div>
                        <div class="email">woori@woorifg.com</div>
                      </div>
                      <div class="right">
                        <div class="contact">
                          <div class="row">
                            <div class="th">Mobile</div>
                            <div class="td">010.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">Tel</div>
                            <div class="td">02.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">내선</div>
                            <div class="td">123</div>
                          </div>
                          <div class="row">
                            <div class="th">Fax</div>
                            <div class="td">0505.001.6161</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>CFP(국제공인재무설계사)</li>
                      <li>신용위험분석사(CRA)2차</li>
                      <li>신용위험분석사(CRA)1차</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- //bs-card-wrap -->
          </div>
        </div>
        <hr />
        <div class="ui-guide-box">
          <h2>TC타입</h2>
          <div class="guide-column-list">
            <!-- bs-card-wrap -->
            <div class="bs-card-wrap" id="main_capture4">
              <input type="radio" name="rad001" />
              <div class="bs-card">
                <div class="bs-typeB">
                  <div class="top">
                    <div class="left">
                      <picture class="top-logo03">
                        <source
                          srcset="
                            ../../resources/images/bs_card/bs_b_top_logo01.png
                          "
                        />
                        <img
                          src="../../resources/images/bs_card/bs_b_top_logo01.png"
                          alt="TWO CHAIRS"
                        />
                      </picture>
                    </div>
                    <div class="right">
                      <picture class="top-aff01">
                        <source
                          srcset="../../resources/images/bs_card/bs_a_aff.png"
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_aff.png"
                          alt="우리금융그룹"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="center">
                    <div class="title">
                      <div class="left">
                        <picture class="center-cfp">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_b_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_b_center_logo01.png"
                            alt="CFP"
                          />
                        </picture>
                      </div>
                      <div class="right">
                        <dl>
                          <dt>김우리</dt>
                          <dd>직위/호칭</dd>
                          <dd>소속</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="info">
                      <div class="left">
                        <div class="left">
                          <picture class="info-logo01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_center_logo01.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_center_logo01.png"
                              alt="우리은행"
                            />
                          </picture>
                          <div class="location">
                            04632 서울특별시 중구 소공로 51
                          </div>
                          <div class="email">woori@woorifg.com</div>
                        </div>
                      </div>
                      <div class="right">
                        <div class="contact">
                          <div class="row">
                            <div class="th">Mobile</div>
                            <div class="td">010.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">Tel</div>
                            <div class="td">02.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">내선</div>
                            <div class="td">123</div>
                          </div>
                          <div class="row">
                            <div class="th">Fax</div>
                            <div class="td">0505.001.6161</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>CFP(국제공인재무설계사)</li>
                      <li>신용위험분석사(CRA)2차</li>
                      <li>신용위험분석사(CRA)1차</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- //bs-card-wrap -->
          </div>
        </div>
        <hr />
        <div class="ui-guide-box">
          <h2>TC사진 타입</h2>
          <div class="guide-column-list">
            <!-- bs-card-wrap -->
            <div class="bs-card-wrap" id="main_capture5">
              <input type="radio" name="rad001" />
              <div class="bs-card">
                <div class="bs-typeB">
                  <div class="top">
                    <div class="left">
                      <picture class="top-logo03">
                        <source
                          srcset="
                            ../../resources/images/bs_card/bs_b_top_logo01.png
                          "
                        />
                        <img
                          src="../../resources/images/bs_card/bs_b_top_logo01.png"
                          alt="TWO CHAIRS"
                        />
                      </picture>
                    </div>
                    <div class="right">
                      <picture class="top-aff01">
                        <source
                          srcset="../../resources/images/bs_card/bs_a_aff.png"
                        />
                        <img
                          src="../../resources/images/bs_card/bs_a_aff.png"
                          alt="우리금융그룹"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="center">
                    <div class="title">
                      <div class="left">
                        <figure>
                          <picture>
                            <source
                              srcset="../../resources/@temp/thumb_h.png"
                            />
                            <img
                              src="../../resources/@temp/thumb_h.png"
                              alt=""
                            />
                          </picture>
                        </figure>
                        <picture class="center-cfp">
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_b_center_logo01.png
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_b_center_logo01.png"
                            alt="CFP"
                          />
                        </picture>
                      </div>
                      <div class="right">
                        <dl>
                          <dt>김우리</dt>
                          <dd>직위/호칭</dd>
                          <dd>소속</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="info">
                      <div class="left">
                        <div class="left">
                          <picture class="info-logo01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_center_logo01.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_center_logo01.png"
                              alt="우리은행"
                            />
                          </picture>
                          <div class="location">
                            04632 서울특별시 중구 소공로 51
                          </div>
                          <div class="email">woori@woorifg.com</div>
                        </div>
                      </div>
                      <div class="right">
                        <div class="contact">
                          <div class="row">
                            <div class="th">Mobile</div>
                            <div class="td">010.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">Tel</div>
                            <div class="td">02.1234.5678</div>
                          </div>
                          <div class="row">
                            <div class="th">내선</div>
                            <div class="td">123</div>
                          </div>
                          <div class="row">
                            <div class="th">Fax</div>
                            <div class="td">0505.001.6161</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <ul>
                      <li>CFP(국제공인재무설계사)</li>
                      <li>신용위험분석사(CRA)2차</li>
                      <li>신용위험분석사(CRA)1차</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- //bs-card-wrap -->
          </div>
        </div>
        <hr />
      </div>
      <button type="button" id="pick1">pickpickpickpickpickpick</button>
      <button type="button" id="pick2">pickpickpickpickpickpick</button>
      <button type="button" id="pick3">pickpickpickpickpickpick</button>
      <button type="button" id="pick4">pickpickpickpickpickpick</button>
      <button type="button" id="pick5">pickpickpickpickpickpick</button>
    </div>

    <script>
      $(function () {
        $("#pick1").on("click", function () {
          document.querySelector("#main_capture1").classList.add("capturing");
          html2canvas(document.querySelector("#main_capture1"), {
            scale: 5,
          }).then((canvas) => {
            saveAs(canvas.toDataURL("image/jpg"), "lime.jpg"); //다운로드 되는 이미지 파일 이름 지정
          });
          document
            .querySelector("#main_capture1")
            .classList.remove("capturing");
        });

        $("#pick2").on("click", function () {
          document.querySelector("#main_capture2").classList.add("capturing");
          html2canvas(document.querySelector("#main_capture2"), {
            scale: 5,
          }).then((canvas) => {
            saveAs(canvas.toDataURL("image/jpg"), "lime.jpg"); //다운로드 되는 이미지 파일 이름 지정
          });
          document
            .querySelector("#main_capture2")
            .classList.remove("capturing");
        });

        $("#pick3").on("click", function () {
          document.querySelector("#main_capture3").classList.add("capturing");
          html2canvas(document.querySelector("#main_capture3"), {
            scale: 5,
          }).then((canvas) => {
            saveAs(canvas.toDataURL("image/jpg"), "lime.jpg"); //다운로드 되는 이미지 파일 이름 지정
          });
          document
            .querySelector("#main_capture3")
            .classList.remove("capturing");
        });

        $("#pick4").on("click", function () {
          document.querySelector("#main_capture4").classList.add("capturing");
          html2canvas(document.querySelector("#main_capture4"), {
            scale: 5,
          }).then((canvas) => {
            saveAs(canvas.toDataURL("image/jpg"), "lime.jpg"); //다운로드 되는 이미지 파일 이름 지정
          });
          document
            .querySelector("#main_capture4")
            .classList.remove("capturing");
        });

        $("#pick5").on("click", function () {
          html2canvas(document.querySelector("#main_capture5")).then(
            (canvas) => {
              var link = document.createElement("a");
              if (typeof link.download === "string") {
                link.href = uri;
                link.download = filename;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
              } else {
                window.open(uri);
              }
            },
          );
        });

        function saveAs(uri, filename) {
          // 캡처된 파일을 이미지 파일로 내보냄
          var link = document.createElement("a");
          if (typeof link.download === "string") {
            link.href = uri;
            link.download = filename;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          } else {
            window.open(uri);
          }
        }
      });
    </script>
  </body>
</html>
