<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
    <style>
      .ui-guide .guide-column-list {
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Group</h1>

      <div class="ui-guide-section">
        <div class="guide-column-list">
          <h2>Group</h2>

          <!-- group -->
          <div class="group py0">
            <div class="right">
              <button
                type="button"
                class="btn-noborder"
                data-micromodal-trigger="modal-businesscard"
              >
                <i class="ico-order"></i>순서 설정
              </button>
            </div>
          </div>
          <!-- //group -->

          <!-- group -->
          <div class="group">
            <strong class="title-medium">별칭명</strong>
            <div class="btn-wrap gap4 p0">
              <button
                type="button"
                class="btn-xsmall btn-outlined btn-round"
                onclick="swalFire()"
              >
                <i class="ico-delete"></i>삭제
              </button>
              <button type="button" class="btn-xsmall btn-outlined btn-round">
                <i class="ico-modify"></i>수정
              </button>
            </div>
          </div>
          <!-- //group -->
          <hr />

          <h2>Group Form</h2>

          <!-- group-form -->
          <div class="group-form">
            <div class="group-title">
              <strong class="title-medium"
                >별칭 <i class="apos" aria-label="필수 입력">*</i></strong
              >
            </div>
            <div class="group-content">
              <div class="form">
                <div class="label"></div>
                <div class="input-wrap">
                  <input type="text" placeholder="별칭" />
                  <button
                    type="button"
                    class="input-remove"
                    aria-label="입력 내용 삭제"
                  ></button>
                </div>
                <p class="validate-text"></p>
              </div>
            </div>
          </div>
          <!-- //group-form -->

          <!-- group-form -->
          <div class="group-form mt40">
            <div class="group-title">
              <strong class="title-medium">직급</strong>
            </div>
            <div class="group-content">
              <div class="inp-group">
                <div class="inp inp-medium">
                  <label>
                    <input type="radio" name="rad002" />
                    <span class="label-title">과장</span>
                  </label>
                </div>
                <div class="inp inp-medium">
                  <label>
                    <input type="radio" name="rad002" />
                    <span class="label-title">팀장</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- //group-form -->

          <div class="stroke my40"></div>

          <!-- group -->
          <div class="group-form mt40">
            <div class="group-title">
              <strong class="title-medium">자격증</strong>
              <!-- <p class="description info body-small">최대 <span class="fc-status-error">N</span>개 선택할 수 있습니다.</p> -->
            </div>
            <div class="group-content">
              <div class="inp-column-list">
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">선택안함</span>
                  </label>
                </div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">신용위험분석사(CRA)1차</span>
                  </label>
                </div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">공인신용분석사</span>
                  </label>
                </div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title">CFP(국제공인재무설계사)</span>
                  </label>
                </div>
                <div class="inp inp-medium">
                  <label>
                    <input type="checkbox" />
                    <span class="label-title"
                      >CDCS(국제공인신용장전문가자격증)</span
                    >
                  </label>
                </div>
              </div>
              <p class="description caution body-small">
                지점 주소와 전화번호는 우리금융 Portal Service &gt; 직원조회에서
                본인이 속한 부점명으로 검색 후 결과에서 본인 정보를 클릭 후
                수정할 수 있습니다.
              </p>
            </div>
          </div>
          <!-- //group -->

          <!-- group-form -->
          <div class="group-form py16">
            <div class="group-title">
              <strong class="title-large fw-500">최근 검색어</strong>
            </div>
            <div class="group-content content-fluid px0 mt14">
              <ul class="d-flex overflow-list px16">
                <li>
                  <div class="btn-xsmall btn-outlined btn-round">
                    <button class="btn-inner">반도체</button>
                    <button aria-label="검색어 삭제">
                      <i class="ico-close-16"></i>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="btn-xsmall btn-outlined btn-round">
                    <button class="btn-inner">배당</button>
                    <button aria-label="검색어 삭제">
                      <i class="ico-close-16"></i>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="btn-xsmall btn-outlined btn-round">
                    <button class="btn-inner">레버리지</button>
                    <button aria-label="검색어 삭제">
                      <i class="ico-close-16"></i>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="btn-xsmall btn-outlined btn-round">
                    <button class="btn-inner">키워드</button>
                    <button aria-label="검색어 삭제">
                      <i class="ico-close-16"></i>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="btn-xsmall btn-outlined btn-round">
                    <button class="btn-inner">키워드</button>
                    <button aria-label="검색어 삭제">
                      <i class="ico-close-16"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- //group-form -->
        </div>
      </div>
    </div>
  </body>
</html>
