<!doctype html>
<html lang="ko">
  <head>
    <title>자산관리 영업지원 App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"
    />

    <script src="../../resources/plugins/jquery/jquery.min.js"></script>

    <!-- [plugins] -->
    <!-- micromodal -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/micromodal/0.4.10/micromodal.css"
    />
    <script src="../../resources/plugins/micromodal/0.4.10/micromodal.min.js"></script>
    <!-- sortable -->
    <script src="../../resources/plugins/sortable/1.15.2/Sortable.min.js"></script>
    <!-- sweetalert2 -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.css"
    />
    <script src="../../resources/plugins/sweetalert2/11.11.0/sweetalert2.min.js"></script>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.css"
    />
    <script src="../../resources/plugins/swiper/11.1.1/swiper-bundle.min.js"></script>
    <!-- tippy -->
    <script src="../../resources/plugins/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../../resources/plugins/popper.js/2.11.8/umd/tippy-bundle.umd.min.js"></script>
    <!-- toastr -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/toastr/2.1.4/toastr.min.css"
    />
    <script src="../../resources/plugins/toastr/2.1.4/toastr.min.js"></script>
    <!-- jquery-ui -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/jquery-ui/jquery-ui.css"
    />
    <script src="../../resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- pinch-zoom -->
    <script src="../../resources/plugins/pinch-zoom/pinch-zoom.umd.js"></script>
    <!-- apexcharts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/apexcharts/3.50.0/apexcharts.css"
    />
    <script src="../../resources/plugins/apexcharts/3.50.0/apexcharts.min.js"></script>
    <!-- AOS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../resources/plugins/aos/3.0.0-beta.6/aos.css"
    />
    <script src="../../resources/plugins/aos/3.0.0-beta.6/aos.js"></script>
    <!-- jquery-ui-monthpicker-master -->
    <script src="../../resources/plugins/jquery-ui-monthpicker-master/monthpicker.js"></script>
    <!-- jquery-touchSwipe -->
    <script src="../../resources/plugins/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <!-- //[plugins] -->

    <!-- ui source -->
    <link rel="stylesheet" href="../../resources/css/ui-fonts.css" />
    <link rel="stylesheet" href="../../resources/css/ui-variable.css" />
    <link rel="stylesheet" href="../../resources/css/ui-default.css" />
    <link rel="stylesheet" href="../../resources/css/ui-layout.css" />
    <link rel="stylesheet" href="../../resources/css/ui-style.css" />
    <link rel="stylesheet" href="../../resources/css/ui-content.css" />
    <link rel="stylesheet" href="../../resources/css/ui-bscard.css" />
    <link rel="stylesheet" href="../../resources/css/ui-plugins.css" />

    <link rel="stylesheet" href="../../resources/css/ui-skeletone.css" />
    <link rel="stylesheet" href="../../resources/css/ui-mediaquery.css" />
    <link rel="stylesheet" href="../../resources/css/ui-guide.css" />

    <script src="../../resources/js/ui-script.js"></script>
    <script src="../../resources/js/ui-temp.js"></script>
    <!-- 개발서버에서 include 제외해주세요 -->
    <!-- //ui source -->
    <style>
      .ui-guide .guide-column-list {
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="ui-guide content">
      <h1>Button Inner Icon</h1>
      <p>Anchor, Button 혼용 가능합니다.</p>

      <div class="ui-guide-section">
        <h2>Button <span>Large</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-large btn-primary">
            <i class="ico-share"></i>공유
          </button>
          <button type="button" class="btn-large btn-primary">
            <i class="ico-check"></i>Check
          </button>
          <button type="button" class="btn-large btn-primary">
            <i class="ico-add"></i>명함 등록
          </button>
          <button type="button" class="btn-large btn-primary">
            <i class="ico-bio-auth-ios"></i>생체인증 로그인
          </button>
          <button type="button" class="btn-large btn-primary">
            <i class="ico-bio-auth-android"></i>생체인증 로그인
          </button>
          <button type="button" class="btn-large btn-primary">
            <i class="ico-refresh"></i>다시 시도
          </button>
          <button type="button" class="btn-large btn-primary">
            <i class="ico-login02"></i>통합 로그인
          </button>
          <button type="button" class="btn-large btn-primary">
            비교담기<i class="ico-compare"></i>
          </button>
          <button type="button" class="btn-large btn-primary">
            비교담기<i class="ico-check"></i>
          </button>
          <button type="button" class="btn-large btn-primary">
            비교담기<i class="ico-chevron-large bg-icon-white"></i>
          </button>
        </div>
        <hr />
        <h2>Button <span>Medium</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-medium btn-secondary btn-round">
            펀드 찾기<i class="ico-search"></i>
          </button>
          <button type="button" class="btn-medium btn-primary btn-round">
            지수 찾기<i class="ico-chevron bg-icon-white"></i>
          </button>
        </div>
        <hr />
        <h2>Button <span>Small</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-delete"></i>삭제
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-modify"></i>수정
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-refresh"></i>다시 시도
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-memo"></i>메모 등록
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            바로가기<i class="ico-chevron"></i>
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            반도체<i class="ico-close-16"></i>
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-reply"></i>답글
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-grid"></i>표 보기
          </button>
          <button type="button" class="btn-xsmall btn-outlined btn-round">
            <i class="ico-speaker"></i>전체 듣기
          </button>
          <div class="btn-xsmall btn-outlined btn-round">
            <button class="btn-inner">반도체</button>
            <button aria-label="검색어 삭제">
              <i class="ico-close-16"></i>
            </button>
          </div>
        </div>
        <hr />
        <h2>Button <span>Noborder</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-noborder">
            <i class="ico-modify"></i>수정
          </button>
        </div>
        <h2>Button <span>Noborder Shadow</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-noborder text-shadow">
            <i class="ico-delete-shadow"></i>삭제
          </button>
        </div>
        <h2>Button <span>Border</span></h2>
        <div class="guide-column-list">
          <button type="button" class="btn-border" aria-label="정렬">
            <i class="ico-sorting"></i>
          </button>
          <button type="button" class="btn-border is-active" aria-label="정렬">
            <i class="ico-sorting"></i>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
