<div class="memo-inner is-toggled">
	<div class="tag-wrap mb12" data-bind="hdnYn">
		<div class="tags tags-small tags-white tags-round">나만보기</div>
	</div>
	<p data-bind="mNmcrMemoTxt">이곳에 내용이 들어갑니다</p>
	<div class="memo-btn">
		<div class="right">
			<button type="button" class="btn-noborder" data-micromodal-trigger="modal-memo-write" id="btnMemoMod" data-bind="mBtnMod"><i class="ico-modify"></i>수정</button>
			<button type="button" class="btn-noborder" id="btnMemoDel" data-bind="mBtnDel"><i class="ico-delete"></i>삭제</button>
		</div>
	</div>
	<dl>
		<dt data-bind="mEmpNm">작성자이름</dt>
		<dd data-bind="mLstAmdDt">2024-11-06 10:48</dd>
	</dl>
	<div class="divide-list">
		<span data-bind="mDeptNm">부서명</span>
		<div class="division h14 mx8"></div>
		<span data-bind="mTeamNm">부서명</span>
	</div>
</div>
