<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG21M
* @ 파일명      : NMCRMNG21M.html 고객명함 관리 - 지점 명함첩 - 상세
* @ 화면ID 	 : PBWBU040000	
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-10
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-10            윤은정                 최초작성
*************************************************************************/
-->

<style>
  @media (min-width: 768px) and (orientation: landscape) {
    .main-inner > #container > .content {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .section-tablet-row .section-tablet-right {
      padding-bottom: 138px;
    }
  }
</style>
<!-- section-tablet -->
<div class="section-tablet section-tablet-row">
  <!-- section-tablet-left -->
  <div class="section-tablet-left">
    <!-- upload-picture -->
    <div class="upload-picture mt16">
      <button
        type="button"
        class="upload-picture-anchor"
        id="modalTrigger"
        aria-label="이미지 확대보기"
      >
        <picture>
          <source srcset="" id="nmcrFullNmSrc" />
          <img src="" alt="" id="nmcrFullNm" />
        </picture>
      </button>
    </div>
    <!-- //upload-picture -->
    <!-- business-card-info -->
    <div class="business-card-info mt40">
      <div class="info-title">
        <div class="info-name">
          <div class="info-thumb">
            <picture>
              <source srcset="../../resources/images/ico/ico_profile.svg" />
              <img src="../../resources/images/ico/ico_profile.svg" alt="" />
            </picture>
            <strong class="headline-small" id="nmcrNm"></strong>
          </div>
          <button
            type="button"
            class="btn-more"
            data-micromodal-trigger="modal-dropdown-list"
            aria-label="수정 및 삭제"
            id="btnMore"
          ></button>
        </div>
        <div class="divide-list mt16 px4">
          <div class="tags-wrap mr10">
            <div
              class="tags tags-medium tags-lightBlue"
              id="favtUsgYn"
              style="display: none"
            >
              <i class="icon-only icon-18 icon-keyman"></i>키맨
            </div>
            <div
              class="tags tags-medium tags-lightCyan"
              id="nmcrShrgYn"
              style="display: none"
            >
              <i class="icon-only icon-18 icon-privacy"></i>나만보기
            </div>
          </div>
          <span id="nmcrDepNm"></span>
          <div class="division h12 mx8" id="nmcrDLine"></div>
          <span id="nmcrDtsNm"></span>
        </div>
      </div>
    </div>
    <!-- //business-card-info -->
  </div>
  <!-- //section-tablet-left -->

  <!-- section-tablet-right -->
  <div class="section-tablet-right">
    <!-- group -->
    <div class="is-tablet mt-8">
      <div class="group py0 px4 mt24">
        <strong class="title-large">기본정보</strong>
      </div>
      <!-- group -->
    </div>

    <div class="info-detail-list">
      <div class="info-table">
        <div class="info-body">
          <div class="info-row">
            <div class="info-th">회사</div>
            <div class="info-td">
              <div class="group gap10 py0">
                <span id="nmcrComNm"></span>
                <button type="button" class="anchor chevron fs-16" id="btnCom">
                  기업조회
                </button>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="info-th">휴대폰</div>
            <div class="info-td" id="nmcrHpNo"></div>
          </div>
          <div class="info-row" id="mailArea">
            <div class="info-th">이메일</div>
            <div class="info-td" id="nmcrEmail"></div>
          </div>
          <div class="info-row" id="inlxNoArea">
            <div class="info-th">전화번호</div>
            <div class="info-td" id="nmcrInlxNo"></div>
          </div>
          <div class="info-row" id="faxNoArea">
            <div class="info-th">팩스번호</div>
            <div class="info-td" id="nmcrFaxNo"></div>
          </div>
          <div class="info-row" id="adrArea">
            <div class="info-th">주소</div>
            <div class="info-td" id="adr"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="memoData">
      <!-- group -->
      <div class="group py0 px4 mt24">
        <strong class="title-large">메모</strong>
      </div>
      <!-- group -->

      <!-- memo-list -->
      <div class="memo-list mt8" id="listContainer"></div>
      <!-- //memo-list -->

      <div class="btn-wrap">
        <button
          type="button"
          class="btn-small btn-outlined btn-round"
          data-micromodal-trigger="modal-memo"
          id="memoAll"
          style="display: none"
        >
          전체보기
        </button>
      </div>

      <div id="memoNoData">
        <div class="stroke my24"></div>
        <!-- nodata-wrap -->
        <div class="nodata-wrap mt8 py32">
          <p class="description caution body-large ac">
            등록된 메모가 없습니다.
          </p>
          <div class="btn-wrap pb0">
            <button
              type="button"
              class="btn-small btn-outlined btn-round"
              data-micromodal-trigger="modal-memo-write"
              id="memoBtn"
            >
              <i class="ico-memo"></i>메모 등록
            </button>
          </div>
        </div>
        <!-- //nodata-wrap -->
      </div>
    </div>
    <div class="stroke my24"></div>

    <!-- group -->
    <div class="group py0 px4">
      <strong class="title-large">등록/만료 정보</strong>
      <button
        type="button"
        class="anchor chevron fs-16"
        data-micromodal-trigger="modal-bscard-change-history"
        id="btnHistory"
      >
        변경 내역
      </button>
    </div>
    <!-- group -->

    <!-- info-detail-list -->
    <div class="info-detail-list mt10 pb32">
      <div class="info-table">
        <div class="info-body">
          <div class="info-row">
            <div class="info-th">등록자</div>
            <div class="info-td">
              <span id="regEmpNm"></span>
              <div class="divide-list mt4">
                <span id="regDeptNm"></span>
                <div class="division h12 mx8"></div>
                <span id="regTeamNm"></span>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="info-th">등록일</div>
            <div class="info-td" id="regFstDt"></div>
          </div>
          <div class="info-row" id="lstEmpArea">
            <div class="info-th" id="lstEmpTxt">최종수정자</div>
            <div class="info-td">
              <span id="lstEmpNm"></span>
              <div class="divide-list mt4">
                <span id="lstDeptNm"></span>
                <div class="division h12 mx8"></div>
                <span id="lstTeamNm"></span>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="info-th" id="lstEmpDtArea">최종수정일</div>
            <div class="info-td" id="lstAmdDt"></div>
          </div>
          <div class="info-row">
            <div class="info-th">만료일</div>
            <div class="info-td">
              <div class="group gap8 py0 j-start flex-wrap">
                <div id="expyDt"></div>
                <div class="tags tags-small tags-lightRed" id="expyDay">
                  삭제예정
                </div>
                <button
                  type="button"
                  class="btn-small btn-outlined btn-round"
                  id="btnExpy"
                >
                  연장
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //info-detail-list -->
    <!-- //section-tablet-right -->
  </div>
  <!-- //section-tablet -->

  <!-- btn-wrap -->
  <!-- <div class="btn-wrap"> -->
  <!-- 	<button type="button" class="btn-large btn-outlined" id="btnDelNmcr">삭제</button> -->
  <!-- 	<button type="button" class="btn-large btn-primary" id="btnModNmcr">수정</button> -->
  <!-- </div> -->
  <!-- //btn-wrap -->

  <!-- bottom-btn -->
  <div id="btn-bottom-group" class="bottom-btn bottom-btn-contact">
    <div class="info-anchor">
      <ul>
        <li id="btnHp">
          <button type="button" name="btnAction">
            <i
              class="icon-only icon-36 icon-phone bg-icon bg-status-active"
            ></i>
            <span>휴대폰</span>
          </button>
        </li>
        <li id="btnSms">
          <button type="button" name="btnAction">
            <i class="icon-only icon-36 icon-sms bg-icon bg-status-active"></i>
            <span>문자</span>
          </button>
        </li>
        <li id="btnMail">
          <button type="button" name="btnAction">
            <i class="icon-only icon-36 icon-mail bg-icon bg-status-active"></i>
            <span>이메일</span>
          </button>
        </li>
        <li id="btnOffTel">
          <button type="button" name="btnAction">
            <i class="icon-only icon-36 icon-call bg-icon bg-status-active"></i>
            <span>회사전화</span>
          </button>
        </li>
        <li id="btnMemo">
          <button type="button">
            <i class="icon-only icon-36 icon-memo bg-icon bg-status-active"></i>
            <span>메모 </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <!-- //bottom-btn -->

  <div
    class="micromodal-slide micromodal-slide-dropdown modal"
    id="modal-dropdown-list"
  >
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true">
        <div class="modal__header modal__header__alert">
          <button
            type="button"
            class="modal__close"
            aria-label="팝업 닫기"
            data-micromodal-close=""
          ></button>
        </div>
        <div class="modal__content">
          <div class="content content-fluid pb0">
            <div class="dropdown-option">
              <ul>
                <li>
                  <button type="button" id="btnModNmcr">
                    <i class="ico-reply"></i>수정
                  </button>
                </li>
                <li>
                  <button type="button" id="btnDelNmcr">
                    <i class="ico-delete"></i>삭제
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
