<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG10M
* @ 파일명      : NMCRMNG10M.html 내명함공유 - 목록
* @ 화면ID		: PBWBU000000
* @ 작성자      : 90194835
* @ 작성일      : 2024-11-28
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-11-28            윤은정                 최초작성
*************************************************************************/
-->

<!-- content -->
<!-- <div class="content"> -->
<div id="nmcrData">

    <p class="description error body-small fc-typography-caption mt16">내 명함은 상대방 동의 없이 마케팅 목적으로 공유할 수 없습니다.</p>

        <!-- group -->
        <div class="group content-fluid pt10">
		<div class="right">
			<button type="button" class="btn-small btn-outlined btn-round" data-micromodal-trigger="modal-businesscard" id="sortBtn"><i class="ico-order"></i>순서 설정</button>
		</div>
	</div>
	<!-- //group -->

	<div id="listContainer" >
	</div>

</div>
<!-- //nmcrData -->
	
<!-- division-center -->
<div class="division-center" id="nmcrNoData" style="display: none;">
	<!-- init-regist -->
	<div class="init-regist" id="nmcrSave">
		<picture>
			<source srcset="../../resources/images/PBWBU/init_business_card.svg">
			<img src="../../resources/images/PBWBU/init_business_card.svg" alt="">
		</picture>
		<p class="body-large ac">내 명함을 등록하고 공유해 보세요.</p>
	</div>
	<!-- //init-regist -->
</div>
<!-- //division-center -->
