<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG23P
* @ 파일명      : NMCRMNG23P.html 고객명함 관리 - 지점 명함첩 - 메모 등록
* @ 화면ID 	: PBWBU059900	
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-12
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-12            윤은정                 최초작성
*************************************************************************/
-->

<div class="content pt16">

	<div class="inp inp-medium">
		<label>
			<input type="checkbox" name="hdnYn" id="hdnYn">
			<span class="label-title">나만보기</span>
		</label>
	</div>

	<div class="form mt10">
		<div class="input-wrap">
			<textarea aria-label="메모" id="mNmcrMemoTxt"></textarea>
		</div>
		<div class="textarea-length">
			<div class="left" id="memoTxtLen">0/300자</div>
			<div class="right">
				<button type="button" class="btn-xsmall btn-primary btn-round" id="btnMemoSave">저장</button>
			</div>
		</div>
	</div>

	<p class="description error body-small mt10 fc-typography-caption">개인정보 또는 부적절한 내용 작성을 금지하며, 마케팅 정보로 이용할 수 없습니다.</p>

</div>
