<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG25P
* @ 파일명      : NMCRMNG25P.html 고객명함 관리 - 지점 명함첩 - 전체 메모
* @ 화면ID 	 : PBWBU050002
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-12
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-12            윤은정                 최초작성
* 2024-12-19            윤은정                 모달에서 일반 페이지 이동으로 변경
*************************************************************************/
-->

<div class="tablet-maxwidth">
	<div class="memo-user-info">
		<strong class="title-medium px4" id="mNmcrNm">나고객</strong>
		<div class="group pt0 j-start gap8">
			<div class="divide-list px4">
				<span id="mNmcrDepNm">부서명</span>
				<div class="division h14 mx8"></div>
				<span id="mNmcrDtsNm">직책</span>
			</div>
			<div class="body-medium fw-400" id="mNmcrComNm">회사명</div>
		</div>
	</div>
	
	<!-- memo-list -->
	<div  class="memo-list" id="listContainer"></div>
	<!-- //memo-list -->
</div>

