<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG26P
* @ 파일명      : NMCRMNG26P.html 고객명함 관리 - 지점 명함첩 - 변경내역
* @ 화면ID 	 : PBWBU069900	
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-13
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-13            윤은정                 최초작성
*************************************************************************/
-->

<div class="content">

	<div id="modalListContainer" >
	</div>

</div>
