<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG27P
* @ 파일명      : NMCRMNG27P.html 고객명함 관리 - 지점 명함첩 - 조회조건
* @ 화면ID 	 : PBWBU030000	
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-19
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-19            윤은정                 최초작성
*************************************************************************/
-->

<div class="content content-fluid">
	<div class="select-option">
		<strong class="title-large">필터</strong>
		<ul>
			<div id="searchTeam"></div>
		</ul>
		<div class="stroke stroke4"></div>
		<strong class="title-large">정렬</strong>
		<ul>
			<li class="select-active"><button type="button" aria-label="선택됨" name="sort" value="1" data-sel="selSort"><span>최신순</span></button></li>
			<li><button type="button" name="sort" value="2" data-sel="selSort"><span>이름순</span></button></li>
			<li><button type="button" name="sort" value="3" data-sel="selSort"><span>회사명순</span></button></li>
			<li><button type="button" name="sort" value="4" data-sel="selSort"><span>만료일</span></button></li>
		</ul>
	</div>
</div>
