<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG12P
* @ 파일명      : NMCRMNG12P.html 내명함공유 - 등록
* @ 화면ID 	 : PBWBU009902
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-02
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-02            윤은정                 최초작성
*************************************************************************/
-->

<div class="content">
  <!-- group-form -->
  <div class="group-form mt16">
    <div class="group-title">
      <strong class="title-medium"
        >명함 스타일 <i class="apos" aria-label="필수 입력">*</i></strong
      >
    </div>
    <div class="group-content content-fluid mt8 px0">
      <div class="swiper swiper-business-card">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide">
            <!-- card-select -->
            <div class="card-select">
              <div class="inp inp-large">
                <span class="tags tags-medium tags-black-80">A타입</span>
                <label
                  ><input type="radio" name="mNmcrStylCd" value="A"
                /></label>
                <!-- bs-card-wrap -->
                <div class="bs-card-wrap">
                  <div class="bs-card">
                    <div class="bs-typeA">
                      <div class="top">
                        <div class="left">
                          <picture class="top-logo01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_top_logo01.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_top_logo01.png"
                              alt="우리 마음속 첫번째 금융"
                            />
                          </picture>
                        </div>
                        <div class="right">
                          <picture class="top-aff01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_aff.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_aff.png"
                              alt="우리금융그룹"
                            />
                          </picture>
                        </div>
                      </div>
                      <div class="line">
                        <picture>
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_a_line.svg
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_a_line.svg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="center">
                        <div class="title">
                          <div class="left">
                            <picture class="center-logo01">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_a_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_a_center_logo01.png"
                                alt="우리은행"
                              />
                            </picture>
                            <picture class="center-cfp">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_b_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_b_center_logo01.png"
                                alt="CFP"
                              />
                            </picture>
                          </div>
                          <div class="right">
                            <dl>
                              <dt>김우리</dt>
                              <dd>직위/호칭</dd>
                              <dd>소속</dd>
                            </dl>
                          </div>
                        </div>
                        <div class="info">
                          <div class="left">
                            <div class="location">
                              04632 서울특별시 중구 소공로 51
                            </div>
                            <div class="email">woori@woorifg.com</div>
                          </div>
                          <div class="right">
                            <div class="contact">
                              <div class="row">
                                <div class="th">Mobile</div>
                                <div class="td">010-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">Tel</div>
                                <div class="td">02-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">내선</div>
                                <div class="td">123</div>
                              </div>
                              <div class="row">
                                <div class="th">Fax</div>
                                <div class="td">0504-000-0000</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bottom">
                        <ul>
                          <li>CFP(국제공인재무설계사)</li>
                          <li>신용위험분석사(CRA)2차</li>
                          <li>신용위험분석사(CRA)1차</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //bs-card-wrap -->
              </div>
            </div>
            <!-- //card-select -->
          </div>

          <div class="swiper-slide">
            <!-- card-select -->
            <div class="card-select">
              <div class="inp inp-large">
                <span class="tags tags-medium tags-black-80">A사진 타입</span>
                <label
                  ><input type="radio" name="mNmcrStylCd" value="B"
                /></label>
                <!-- bs-card-wrap -->
                <div class="bs-card-wrap">
                  <div class="bs-card">
                    <div class="bs-typeA">
                      <div class="top">
                        <div class="left">
                          <picture class="top-logo01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_top_logo01.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_top_logo01.png"
                              alt="우리 마음속 첫번째 금융"
                            />
                          </picture>
                        </div>
                        <div class="right">
                          <picture class="top-aff01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_aff.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_aff.png"
                              alt="우리금융그룹"
                            />
                          </picture>
                        </div>
                      </div>
                      <div class="line">
                        <picture>
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_a_line.svg
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_a_line.svg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="center">
                        <div class="title">
                          <div class="left">
                            <figure>
                              <picture>
                                <source
                                  srcset="
                                    ../../resources/images/bs_card/bs_photo.png
                                  "
                                />
                                <img
                                  src="../../resources/images/bs_card/bs_photo.png"
                                  alt=""
                                />
                              </picture>
                            </figure>
                            <picture class="center-cfp">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_b_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_b_center_logo01.png"
                                alt="CFP"
                              />
                            </picture>
                          </div>
                          <div class="right">
                            <dl>
                              <dt>김우리</dt>
                              <dd>직위/호칭</dd>
                              <dd>소속</dd>
                            </dl>
                          </div>
                        </div>
                        <div class="info">
                          <div class="left">
                            <picture class="info-logo01">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_a_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_a_center_logo01.png"
                                alt="우리은행"
                              />
                            </picture>
                            <div class="location">
                              04632 서울특별시 중구 소공로 51
                            </div>
                            <div class="email">woori@woorifg.com</div>
                          </div>
                          <div class="right">
                            <div class="contact">
                              <div class="row">
                                <div class="th">Mobile</div>
                                <div class="td">010-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">Tel</div>
                                <div class="td">02-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">내선</div>
                                <div class="td">123</div>
                              </div>
                              <div class="row">
                                <div class="th">Fax</div>
                                <div class="td">0504-000-0000</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bottom">
                        <ul>
                          <li>CFP(국제공인재무설계사)</li>
                          <li>신용위험분석사(CRA)2차</li>
                          <li>신용위험분석사(CRA)1차</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //bs-card-wrap -->
              </div>
            </div>
            <!-- //card-select -->
          </div>

          <div class="swiper-slide">
            <!-- card-select -->
            <div class="card-select">
              <div class="inp inp-large">
                <span class="tags tags-medium tags-black-80"
                  >위비프렌즈 타입</span
                >
                <!-- 화면에 표시되는 input은 추후 숨길 예정, 개발 작업 시 swiper-slide-active slide 안 input에 checked 시키게끔 작업 부탁드립니다. -->
                <label
                  ><input type="radio" name="mNmcrStylCd" value="C"
                /></label>
                <!-- bs-card-wrap -->
                <div class="bs-card-wrap">
                  <div class="bs-card">
                    <div class="bs-typeA">
                      <div class="top">
                        <div class="left">
                          <picture class="top-logo02">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_top_logo02.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_top_logo02.png"
                              alt="위비프렌즈"
                            />
                          </picture>
                        </div>
                        <div class="right">
                          <picture class="top-aff01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_aff.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_aff.png"
                              alt="우리금융그룹"
                            />
                          </picture>
                        </div>
                      </div>
                      <div class="line">
                        <picture>
                          <source
                            srcset="
                              ../../resources/images/bs_card/bs_a_line.svg
                            "
                          />
                          <img
                            src="../../resources/images/bs_card/bs_a_line.svg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="center">
                        <div class="title">
                          <div class="left">
                            <picture class="center-logo01">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_a_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_a_center_logo01.png"
                                alt="우리은행"
                              />
                            </picture>
                            <picture class="center-cfp">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_b_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_b_center_logo01.png"
                                alt="CFP"
                              />
                            </picture>
                          </div>
                          <div class="right">
                            <dl>
                              <dt>김우리</dt>
                              <dd>직위/호칭</dd>
                              <dd>소속</dd>
                            </dl>
                          </div>
                        </div>
                        <div class="info">
                          <div class="left">
                            <div class="location">
                              04632 서울특별시 중구 소공로 51
                            </div>
                            <div class="email">woori@woorifg.com</div>
                          </div>
                          <div class="right">
                            <div class="contact">
                              <div class="row">
                                <div class="th">Mobile</div>
                                <div class="td">010-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">Tel</div>
                                <div class="td">02-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">내선</div>
                                <div class="td">123</div>
                              </div>
                              <div class="row">
                                <div class="th">Fax</div>
                                <div class="td">0504-000-0000</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bottom">
                        <ul>
                          <li>CFP(국제공인재무설계사)</li>
                          <li>신용위험분석사(CRA)2차</li>
                          <li>신용위험분석사(CRA)1차</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //bs-card-wrap -->
              </div>
            </div>
            <!-- //card-select -->
          </div>

          <div class="swiper-slide">
            <!-- card-select -->
            <div class="card-select">
              <div class="inp inp-large">
                <span class="tags tags-medium tags-black-80">TC타입</span>
                <label
                  ><input type="radio" name="mNmcrStylCd" value="D"
                /></label>
                <!-- bs-card-wrap -->
                <div class="bs-card-wrap">
                  <div class="bs-card">
                    <div class="bs-typeB">
                      <div class="top">
                        <div class="left">
                          <picture class="top-logo03">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_b_top_logo01.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_b_top_logo01.png"
                              alt="TWO CHAIRS"
                            />
                          </picture>
                        </div>
                        <div class="right">
                          <picture class="top-aff01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_aff.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_aff.png"
                              alt="우리금융그룹"
                            />
                          </picture>
                        </div>
                      </div>
                      <div class="center">
                        <div class="title">
                          <div class="left">
                            <picture class="center-cfp">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_b_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_b_center_logo01.png"
                                alt="CFP"
                              />
                            </picture>
                          </div>
                          <div class="right">
                            <dl>
                              <dt>김우리</dt>
                              <dd>직위/호칭</dd>
                              <dd>소속</dd>
                            </dl>
                          </div>
                        </div>
                        <div class="info">
                          <div class="left">
                            <div class="left">
                              <picture class="info-logo01">
                                <source
                                  srcset="
                                    ../../resources/images/bs_card/bs_a_center_logo01.png
                                  "
                                />
                                <img
                                  src="../../resources/images/bs_card/bs_a_center_logo01.png"
                                  alt="우리은행"
                                />
                              </picture>
                              <div class="location">
                                04632 서울특별시 중구 소공로 51
                              </div>
                              <div class="email">woori@woorifg.com</div>
                            </div>
                          </div>
                          <div class="right">
                            <div class="contact">
                              <div class="row">
                                <div class="th">Mobile</div>
                                <div class="td">010-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">Tel</div>
                                <div class="td">02-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">내선</div>
                                <div class="td">123</div>
                              </div>
                              <div class="row">
                                <div class="th">Fax</div>
                                <div class="td">0504-000-0000</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bottom">
                        <ul>
                          <li>CFP(국제공인재무설계사)</li>
                          <li>신용위험분석사(CRA)2차</li>
                          <li>신용위험분석사(CRA)1차</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //bs-card-wrap -->
              </div>
            </div>
            <!-- //card-select -->
          </div>

          <div class="swiper-slide">
            <!-- card-select -->
            <div class="card-select">
              <div class="inp inp-large">
                <span class="tags tags-medium tags-black-80">TC사진 타입</span>
                <label
                  ><input type="radio" name="mNmcrStylCd" value="E"
                /></label>
                <!-- bs-card-wrap -->
                <div class="bs-card-wrap">
                  <div class="bs-card">
                    <div class="bs-typeB">
                      <div class="top">
                        <div class="left">
                          <picture class="top-logo03">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_b_top_logo01.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_b_top_logo01.png"
                              alt="TWO CHAIRS"
                            />
                          </picture>
                        </div>
                        <div class="right">
                          <picture class="top-aff01">
                            <source
                              srcset="
                                ../../resources/images/bs_card/bs_a_aff.png
                              "
                            />
                            <img
                              src="../../resources/images/bs_card/bs_a_aff.png"
                              alt="우리금융그룹"
                            />
                          </picture>
                        </div>
                      </div>
                      <div class="center">
                        <div class="title">
                          <div class="left">
                            <figure>
                              <picture>
                                <source
                                  srcset="
                                    ../../resources/images/bs_card/bs_photo.png
                                  "
                                />
                                <img
                                  src="../../resources/images/bs_card/bs_photo.png"
                                  alt=""
                                />
                              </picture>
                            </figure>
                            <picture class="center-cfp">
                              <source
                                srcset="
                                  ../../resources/images/bs_card/bs_b_center_logo01.png
                                "
                              />
                              <img
                                src="../../resources/images/bs_card/bs_b_center_logo01.png"
                                alt="CFP"
                              />
                            </picture>
                          </div>
                          <div class="right">
                            <dl>
                              <dt>김우리</dt>
                              <dd>직위/호칭</dd>
                              <dd>소속</dd>
                            </dl>
                          </div>
                        </div>
                        <div class="info">
                          <div class="left">
                            <div class="left">
                              <picture class="info-logo01">
                                <source
                                  srcset="
                                    ../../resources/images/bs_card/bs_a_center_logo01.png
                                  "
                                />
                                <img
                                  src="../../resources/images/bs_card/bs_a_center_logo01.png"
                                  alt="우리은행"
                                />
                              </picture>
                              <div class="location">
                                04632 서울특별시 중구 소공로 51
                              </div>
                              <div class="email">woori@woorifg.com</div>
                            </div>
                          </div>
                          <div class="right">
                            <div class="contact">
                              <div class="row">
                                <div class="th">Mobile</div>
                                <div class="td">010-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">Tel</div>
                                <div class="td">02-0000-0000</div>
                              </div>
                              <div class="row">
                                <div class="th">내선</div>
                                <div class="td">123</div>
                              </div>
                              <div class="row">
                                <div class="th">Fax</div>
                                <div class="td">0504-000-0000</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bottom">
                        <ul>
                          <li>CFP(국제공인재무설계사)</li>
                          <li>신용위험분석사(CRA)2차</li>
                          <li>신용위험분석사(CRA)1차</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //bs-card-wrap -->
              </div>
            </div>
            <!-- //card-select -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //group-form -->

  <!-- group-form -->
  <div class="group-form mt40">
    <div class="group-title">
      <strong class="title-medium"
        >별칭 <i class="apos" aria-label="필수 입력">*</i></strong
      >
    </div>
    <div class="group-content">
      <div class="form">
        <div class="label"></div>
        <div class="input-wrap">
          <input
            type="text"
            aria-label="별칭"
            placeholder="예) 자주쓰는 명함, OO고객 전용"
            id="mNmcrNm"
            data-bind="mNmcrNm"
            maxlength="20"
          />
          <button
            type="button"
            class="input-remove"
            aria-label="입력 내용 삭제"
          ></button>
        </div>
        <p class="validate-text"></p>
      </div>
    </div>
  </div>
  <!-- //group-form -->

  <!-- group-form -->
  <div class="group-form mt40">
    <div class="group-title">
      <strong class="title-medium">직급</strong>
    </div>
    <div class="group-content">
      <div class="inp-group">
        <div class="inp inp-medium">
          <label>
            <input type="radio" name="mLvjpEstCd" id="mLvjpEstCd1" checked />
            <span class="label-title" id="mLvjpEstNm">과장</span>
          </label>
        </div>
        <div class="inp inp-medium">
          <label>
            <input
              type="radio"
              name="mLvjpEstCd"
              id="mLvjpEstCd2"
              value="000000"
            />
            <span class="label-title">팀장</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- //group-form -->

  <!-- group-form -->
  <div class="group-form mt40">
    <div class="group-title">
      <strong class="title-medium">전화번호</strong>
    </div>
    <div class="group-content">
      <div class="inp-group flex-column">
        <div class="inp inp-medium">
          <label>
            <input
              type="radio"
              name="mTelNoDscd"
              id="mTelNoDscd1"
              value="S"
              checked
            />
            <span class="label-title" id="mEstTelNm">02-1588-6161</span>
          </label>
        </div>
        <div class="inp inp-medium flex-column">
          <label>
            <input type="radio" name="mTelNoDscd" id="mTelNoDscd2" value="I" />
            <span class="label-title"
              >전화번호 직접 입력
              <span
                id="checkTelText"
                style="display: none; font-size: 13px; color: #ff0000"
                >* 전화번호 형식이 틀립니다.</span
              >
            </span>
          </label>
          <div class="form">
            <div class="label"></div>
            <div class="input-wrap">
              <input
                type="tel"
                placeholder="‘-’ 없이 숫자만 입력"
                aria-label="전화번호"
                id="mEstTelNo"
                data-bind="mEstTelNo"
                maxlength="12"
              />
              <button
                type="button"
                class="input-remove"
                aria-label="입력 내용 삭제"
              ></button>
            </div>
            <p class="validate-text"></p>
          </div>
        </div>
        <div id="inTelNoDiv" class="inp inp-medium" style="padding-left: 0px">
          <label style="width: 30%; display: table">
            <strong
              class="label-title"
              style="display: table-cell; vertical-align: middle"
              >내선번호</strong
            >
          </label>
          <div class="form">
            <div class="input-wrap">
              <input
                type="tel"
                placeholder="숫자만 입력"
                aria-label="내선번호"
                id="mInTelNo"
                data-bind="mInTelNo"
                maxlength="4"
              />
              <button
                type="button"
                class="input-remove"
                aria-label="입력 내용 삭제"
              ></button>
            </div>
            <p class="validate-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //group-form -->

  <div class="stroke my40"></div>

  <!-- group -->
  <div class="group-form mt40">
    <div class="group-title">
      <strong class="title-medium">자격증</strong>
      <div class="inp inp-toggle mx16">
        <label>
          <input type="checkbox" aria-label="자격증 노출" id="licNoSel" />
        </label>
      </div>
    </div>
    <div class="group-content" id="yesLicNm">
      <!-- 			<p class="description info body-small fc-typography-caption mt24">최대 5개 선택할 수 있습니다.</p> -->
      <div class="inp-column-list form" id="licListContainer"></div>
      <p class="description caution body-small fc-typography-caption">
        지점 주소와 전화번호는 우리금융 Portal Service &gt; 직원조회에서 본인이
        속한 부점명으로 검색해 수정할 수 있습니다.
      </p>
    </div>

    <div class="group-content" id="noLicNm" style="display: none">
      <div class="py24">
        <p class="description caution body-small fc-typography-caption ac my12">
          자격증 정보가 없습니다.
        </p>
      </div>
      <p class="description caution body-small fc-typography-caption">
        지점 주소와 전화번호는 우리금융 Portal Service &gt; 직원조회에서 본인이
        속한 부점명으로 검색해 수정할 수 있습니다.
      </p>
    </div>
    <!-- //group -->
  </div>

  <div class="modal__footer">
    <div class="bottom-btn">
      <div class="btn-wrap">
        <button type="button" class="btn-large btn-primary" id="btmSave">
          <i class="ico-check"></i>저장
        </button>
      </div>
    </div>
  </div>
</div>
