<!--
/*************************************************************************
* @ 서비스경로 : NMCRMNG22P
* @ 파일명      : NMCRMNG22P.html 고객명함 관리 - 지점 명함첩 - 상세 - 이미지
* @ 화면ID 	: PBWBU049901
* @ 작성자      : 90194835
* @ 작성일      : 2024-12-18
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-118           윤은정                 최초작성
*************************************************************************/
-->

<div class="content content-fluid">
	<div class="pinch-zoom-wrap">
		<div class="pinch-zoom">
			<picture>
				<source srcset="" id="mDtlImgS">
				<img src="" alt="" id="mDtlImg">
			</picture>

		</div>
	</div>
</div>

