<div>
	<div class="change-history">
		<div class="tags tags-small tags-lightGray" id="chgTxt">변경</div>
		<div class="body-medium" data-bind="wrkTxt">키맨 ON 변경, 이름 변경, 부서명 변경, 직책 변경, 회사 변경, 부서 변경</div>
		<dl>
			<dt><strong data-bind="empNm">나고객</strong> <span data-bind="wrkDtm">2024-12-03 15:31:12</span></dt>
			<dd ><b>부서명</b> 
				<span data-bind="deptNm">회사명</span>
				<div class="division h12 mx8"></div>
				<span data-bind="teamNm">회사명</span>
			</dd>
		</dl>
	</div>
	<div class="stroke my8"></div>
</div>