<!--
/*************************************************************************
* @ 서비스경로 : LGIN50M
* @ 파일명      : LGIN50M.html 로그인 - 사용자 이용동의 
* @ 화면ID		: PBWLO010003
* @ 작성자      : 90194835
* @ 작성일      : 2024-11-25
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-02-21            윤은정                 최초작성
*************************************************************************/
-->


<div class="inp-check-all mt40">
	<div class="inp inp-small">
		<label>
			<input type="checkbox" id="chkAgreeAll">
			<span class="label-title">전체 동의</span>
		</label>
	</div>
</div>
<div class="inp-column-list mt8">
	<div class="inp inp-medium">
		<label>
			<input type="checkbox" name="agree">
			<span class="label-title">서비스 이용 약관</span>
		</label>
	</div>
	<div class="stroke my16"></div>
	<div class="inp inp-medium">
		<label>
			<input type="checkbox" name="agree">
			<span class="label-title">App-Push 이용 동의</span>
		</label>
	</div>
</div>
<div class="bottom-btn">
	<div class="btn-wrap">
		<button type="button" class="btn-large btn-primary" id="btnAgree"><i class="ico-check"></i>전체 동의</button>
	</div>
</div>