<!--
/*************************************************************************
* @ 서비스경로 : IVINF29P
* @ 파일명      : IVINF29P.html 투자정보 - 종합 주요지수 - 관심 - 관심지수 편집
* @ 화면ID		: PBWIV070000
* @ 작성자      : 90194835
* @ 작성일      : 2025-01-09
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-09            윤은정                 최초작성
*************************************************************************/
-->

<div class="content px24">
	<p class="description info body-large my24">순서를 바꿀 관심지수를 끌어 순서를 변경하세요.</p>

	<div id="sortCncrNidx" class="businesscard-list" >
	</div>
</div>
<div class="btn-wrap">
	<button type="button" class="btn-large btn-primary" id="btnSave"><i class="ico-check"></i>저장</button>
</div>