<!--
/*************************************************************************
* @ 서비스경로 : IVINF52P
* @ 파일명      : IVINF52P.html  투자정보 > 금융 뉴스 > [T]전체 > [P] 상세
* @ 작성자      : 90196258
* @ 작성일      : 2025-01-31
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-31       90196258                 최초작성
*************************************************************************/
-->

<div class="content" style="padding-bottom:100px;">
	<article class="news-article pt16">
		<div class="news-article-title">
			<div class="tags tags-medium" id="newsType"></div>
			<div class="media" id="nspbNm"></div>
		</div>
		<h2 class="headline-medium" id="newsTitle"></h2>
		<div class="date" id="newsPostDTM"></div>
		<div class="btn-wrap py0">
			<button type="button" class="btn-xsmall btn-outlined btn-round" id="openNewsPlay" name="openNewsPlay"><i class="ico-speaker"></i>뉴스 듣기</button>
		</div>

		<div class="tag-wrap flex-wrap gap4 mt32" id="products">
			<div class="tags tags-small tags-lightGray" id="keyword1" style="display : none;"></div>
			<div class="tags tags-small tags-lightGray" id="keyword2" style="display : none;"></div>
			<div class="tags tags-small tags-lightGray" id="keyword3" style="display : none;"></div>
			<div class="tags tags-small tags-lightGray" id="keyword4" style="display : none;"></div>
		</div>
		<div class="stroke my32"></div>
		<p id="newsTxt"></p>
	</article>
</div>