<!--
/*************************************************************************
* @ 서비스경로 : IVINF50P
* @ 파일명      : IVINF50P.html  투자정보 > 금융 뉴스 > [T]전체 > [P] 뉴스검색
* @ 작성자      : 90196258
* @ 작성일      : 2025-01-31
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-31       90196258                 최초작성
*************************************************************************/
-->

<div class="content pt16">
	<!-- group-form -->
	<div class="group-form">
		<div class="group-title">
			<strong class="title-medium">키워드 검색</strong>
		</div>
		<div class="group-content">
			<div class="form">
				<div class="label"></div>
				<div class="input-wrap">
					<input id="searchKeyword" type="text" placeholder="키워드로 검색해 보세요." aria-label="검색">
					<button type="button" class="input-remove" aria-label="입력 내용 삭제"></button>
				</div>
				<p class="validate-text"></p>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt24">
		<div class="group-title">
			<strong class="title-medium">언론사 선택</strong>
		</div>
		<div class="group-content">
			<div class="inp inp-board">
				<input type="checkbox" aria-label="전체" id="chkAll" checked>
				<input type="checkbox" aria-label="매일경제" id="chk01" >
				<input type="checkbox" aria-label="한국경제" id="chk02" >
				<input type="checkbox" aria-label="연합뉴스" id="chk03" >
				<input type="checkbox" aria-label="이데일리" id="chk04" >
			</div>
		</div>
	</div>
	<!-- //group-form -->

</div>