<!--
/*************************************************************************
* @ 서비스경로 : IVINF28P
* @ 파일명      : IVINF28P.html 투자정보 - 종합 주요지수 - 주요지수 - 상세 - 일자별보기
* @ 화면ID		: PBWIV010001
* @ 작성자      : 90194835
* @ 작성일      : 2025-01-02
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-02            윤은정                 최초작성
*************************************************************************/
-->
<div class="content">
	<div class="table-col">
		<table class="table-layout-auto">
			<caption>일자별 보기</caption>
			<thead>
				<tr>
					<th scope="col">기준일</th>
					<th scope="col">지수값</th>
					<th scope="col">등락폭</th>
				</tr>
			</thead>
			<tbody id="listContainer">
				
			</tbody>
		</table>
	</div>
</div>