<!--
/*************************************************************************
* @ 서비스경로 : IVINF25S
* @ 파일명      : IVINF25S.html 투자정보 - 종합 주요지수 - 경제지표 - 목록
* @ 화면ID		: PBWIV050000
* @ 작성자      : 90194835
* @ 작성일      : 2025-01-02
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-02            윤은정                 최초작성
*************************************************************************/
-->


<!-- tab-content -->
<div class="tab-content tab-fluid tab-sticky">
	<ul class="tab-list tab-col overflow-list px24" role="tablist">
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf20s">주요지수</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf22s">주가지수</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf23s">채권금리</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf24s">환율/원자재</a></li>
		<li class="tab tab-active"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf25s">경제지표</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf26s">섹터지수</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf27s">관심지수</a></li>
	</ul>
</div>
<!-- //tab-content -->

<div class="stock-index">
	<div class="body-caption px4 ar mt16">
<!-- 		<span data-bind="stockTime" id="stockTime"> </span> -->
<!-- 		<span > 기준</span> -->
	</div>

	<div class="stock-index-list content-fluid px0 mt16">
		<ul id="listContainer">
		</ul>
	</div>
</div>
