<!--
/*************************************************************************
* @ 서비스경로 : IVINF50S
* @ 파일명      : IVINF50S.html 투자정보 > AI 시장지수 분석(데자View)
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
-->
<style>
body {
	background-color: var(--background-bg_lightGray);
}
</style>

<!-- sort-wrap -->
<div class="sort-wrap py0 mt40">
    <!-- sort-list -->
    <button class="sort-list mrauto" data-micromodal-trigger="modal-select-filter" aria-label="정렬" id="searchOptionBtn">
        <span class="filter">
            <span id="searchTemDcntTxt"></span>
        </span> 
        <span class="division mx8"></span> 
        <span class="filter"> 
            <span id="searchRicTxt">코스피</span>
        </span>
        <span class="division mx8"></span> 
        <span class="filter">
            <span class="sort" id="searchYcntTxt">과거 5년</span>
        </span>
    </button>
    <!-- sort-list -->
</div>
<!-- sort-wrap -->


<div class="stock-analyze mt32 headline-small">
    <div class="top">
    	최근 
    	<span class="fc-brandPrimary-blue600" id="ricTxt"></span> 
    	지수는 
    	<span class="fc-brandPrimary-blue600" id="yearTxt"></span>
    	내
    </div>
    <div class="middle mt8">
        <div class="tags tags-medium tags-lightBlue br12" id="dateTxt"></div> 의
    </div>
    <div class="bottom mt8">
    	지수와
    	<span class="fc-brandPrimary-blue600" id="dataSimTxt"></span>합니다
    </div>
</div>

<div class="content-fluid mt32 px0 mb-24">
    <div class="box" style="padding:0px 24px">
        <!-- <h2 class="headline-small">과거지수로 본 미래 예측</h2> -->
		<div class="group pb16 px10">
			<div class="right">
				<span class="divide-list">
					<span class="fs-14">기준일자 :&nbsp;</span><span class="fs-14" id="basDt"></span> 
				</span>
			</div>
		</div>
        <div class="mt0">
            <div>
                <div id="chart1" ></div>
            </div>
        </div>
		
		<div class="stroke my20"></div>
		
        <p class="body-large fw-400 px0" id="aiTxtContent"></p>

        <p class="description caution body-small fc-typography-caption mt24">우리은행 AI데이터 기반의 검색결과로, 예측값을 보장할 수 없습니다.</p>
    </div>

    <div class="stroke stroke4"></div>

    <div class="box">
        <h2 class="headline-small">그 당시 주요 경제지표는?</h2>

        <!-- tab-content -->
        <div class="tab-content mt24">
            <ul class="tab-list tab-button" role="tablist">
                <li class="tab tab-active"><a role="tab" name="tabNode" data-id="1">달러/원</a></li>
                <li class="tab"><a role="tab" name="tabNode" data-id="2">유로/달러</a></li>
                <li class="tab"><a role="tab" name="tabNode" data-id="3">WTI</a></li>
                <li class="tab"><a role="tab" name="tabNode" data-id="4">금</a></li>
            </ul>
        </div>
        <!-- //tab-content -->


        <div class="mt24">
            <div>
                <div id="chart2" ></div>
            </div>
        </div>

        <div class="stroke my24"></div>

        <p
            class="description caution body-small fc-typography-caption fw-400 mt24">
            본 자료는 경제 및 투자여건에 대한 이해를 돕기 위한 정보제공 목적으로 작성, 배포되는 조사분석 자료로서
            특정 금융상품에 대한 투자를 유도하거나 특정 금융상품 또는 관련 서비스를 광고하기 위한 목적이 아니고,
            투자자의 투자판단에 참고할 수 있는 정보제공만을 목적으로 합니다. 따라서 투자 최종 결정은 투자자 자신의
            판단으로 하시기 바랍니다.
        </p>
        <p
            class="description caution body-small fc-typography-caption fw-400 mt24">
            본 자료에 수록된 정보(시황에 대한 예측 또는 전망)는 그 정확성이나 완전성을 보장할 수 없으며,
            어떠한 경우라도 고객의 투자 결과에 대한 법적 책임 소재에 대한 증빙자료로 사용될 수 없습니다.
            본 자료의 지적재산권은 우리은행에 있으므로 당행의 사전 서면동의 없이 어떠한 형태로든 무단복제, 
            배포, 전송, 대여가 금지됩니다.
        </p>
    </div>
</div>

