<!--
/*************************************************************************
* @ 서비스경로 : IVINF20S
* @ 파일명      : IVINF20S.html 투자정보 - 종합 주요지수 - 주요지수 - 목록
* @ 화면ID		: PBWIV010000
* @ 작성자      : 90194835
* @ 작성일      : 2025-01-02
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-02            윤은정                 최초작성
*************************************************************************/
-->

<style>
	body {
		background-color: var(--background-bg_lightGray);
	}
</style>

<!-- tab-content -->
<div class="tab-content tab-fluid tab-sticky">
	<ul class="tab-list tab-col overflow-list px24" role="tablist">
		<li class="tab tab-active"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf20s">주요지수</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf22s">주가지수</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf23s">채권금리</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf24s">환율/원자재</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf25s">경제지표</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf26s">섹터지수</a></li>
		<li class="tab"><a role="tab" href="javascript:void(0);" name="ivinfTab" data-id="ivinf27s">관심지수</a></li>
	</ul>
</div>
<!-- //tab-content -->

<div class="stock-index">
	<div class="body-caption px4 ar mt16">
		<span data-bind="stockTime" id="stockTime"></span>
		<span > 기준</span>
	</div>

	<div class="stock-index-core mt8 content-fluid px0">
		<ul id="bestContainer" class="overflow-list gap0 px16">
		</ul>
	</div>

	<div class="stock-index-list mt16">
		<ul id="etcListContainer">
		</ul>
	</div>

	<!-- <p class="description caution body-small fc-typography-caption mt16">장 시작(8:30~9:30)과 장마감(15:00~16:00)중에는 일부 투자금액이 맞지 않을 수 있습니다.</p> -->
</div>
