<!-- 
/*************************************************************************
* @ 서비스경로 : IVINF51M
* @ 파일명      : IVINF51M 전문가 리포트
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
 -->

<style>
  body {
    background-color: var(--background-bg_lightGray);
  }
</style>

<!-- content-visual -->
<div class="content-visual content-fluid picture-left" style="height: 156px">
  <picture>
    <source srcset="../../resources/images/PBWRE/img_visual01.png 2x" />
    <img src="../../resources/images/PBWRE/img_visual01.png" alt="" />
  </picture>
  <div class="text" style="margin-top: 56px">
    <strong class="title-medium px0">매일매일 확인하는 </strong>
    <h2 class="headline-large px0">전 세계 경제 이슈</h2>
  </div>
</div>
<!-- //content-visual -->

<!-- report-list -->
<div class="report-list mt24">
  <ul>
    <li>
      <a href="#" id="dlyBrfgLink"
        ><span class="title-medium px0">Daily 모닝브리핑</span></a
      >
      <div class="inp inp-toggle-inner-text">
        <label>
          <input
            type="checkbox"
            aria-label="구독"
            id="dlyBrfg"
            data-label-checked="구독"
            data-label="해지"
          />
        </label>
      </div>
    </li>
    <li>
      <a href="#" id="weeklyLink"
        ><span class="title-medium px0">Weekly 투자전략</span></a
      >
      <div class="inp inp-toggle-inner-text">
        <label>
          <input
            type="checkbox"
            aria-label="구독"
            id="weekIvstStg"
            data-label-checked="구독"
            data-label="해지"
          />
        </label>
      </div>
    </li>
    <li>
      <a href="#" id="monthlyLink"
        ><span class="title-medium px0">Monthly View</span></a
      >
    </li>
    <li>
      <a href="#" id="issueLink"
        ><span class="title-medium px0">이슈 리포트</span></a
      >
    </li>
  </ul>
</div>
<!-- report-list -->

<!-- main-banner-section -->
<div class="main-banner-section" id="bannerArea">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper" id="bnrSwiper">
      <!-- 			<div class="swiper-slide"> -->
      <!-- 				<a href="javascript:void(0);"> -->
      <!-- 					<picture> -->
      <!-- 						<source srcset="../../resources/images/PBWMA/img_banner01.png"> -->
      <!-- 						<img src="../../resources/images/PBWMA/img_banner01.png" alt=""> -->
      <!-- 					</picture> -->
      <!-- 				</a> -->
      <!-- 			</div> -->
      <!-- 			<div class="swiper-slide"> -->
      <!-- 				<a href="javascript:void(0);"> -->
      <!-- 					<picture> -->
      <!-- 						<source srcset="../../resources/images/PBWMA/img_banner01.png"> -->
      <!-- 						<img src="../../resources/images/PBWMA/img_banner01.png" alt=""> -->
      <!-- 					</picture> -->
      <!-- 				</a> -->
      <!-- 			</div> -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- main-banner-section -->

<!--  기획 요청으로 숨김처리 2025.03.20 -->
<!-- <div class="mt24">
	<a href="#" id="techLink" class="banner"> <picture>
		<source srcset="../../resources/images/PBWRE/img_banner01.png">
		<img src="../../resources/images/PBWRE/img_banner01.png" alt=""> </picture>
	</a>
</div> -->
