<!--
/*************************************************************************
* @ 서비스경로 : IVINF21S
* @ 파일명      : IVINF21S.html 투자정보 - 종합 주요지수 - 주요지수 - 상세
* @ 화면ID		: PBWIV010001
* @ 작성자      : 90194835
* @ 작성일      : 2025-01-02
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-02            윤은정                 최초작성
*************************************************************************/
-->

<style>
	body {
		background-color: var(--background-bg_lightGray);
	}
</style>

<div class="body-caption px4 ar mt16"><span id="basDateInfo"></span> 기준</div>

<div class="stock-detail">
	<div class="stock-detail-title">
		<dl>
			<dt>
				<strong class="headline-medium">
					<span data-bind="nidxNm" id="nidxNm">코스피</span>
					<i class="live-on" aria-label="실시간" data-bind="live_on" id="live_on"></i>
<!--                     <i class="live-off" aria-label="비 실시간" data-bind="live_off" id="live_off"></i> -->
				</strong>
			</dt>
			<dd>
				<strong class="headline-large" data-bind="kospiVal" id="kospiVal">9,999.99</strong>
				<div class="stock" data-bind="kospiFluc" id="kospiFluc">888.88</div>
				<div class="tags tags-small" aria-label="등락율" data-bind="kospiRate" id="kospiRate">+99.99%</div>
			</dd>
		</dl>
	</div>

	<div class="favorite-btn-wrap" data-toggle="toggle-wrap">
		<button type="button" data-toggle="toggle-trigger" id="btnFav">
			<i class="icon-only icon-36 icon-fav" data-switch-inner="true" data-switch-inner-before="icon-fav" data-switch-inner-after="icon-fav-active"></i>
			<span class="toggle-off blind">관심펀드 등록</span>
			<span class="toggle-on blind">관심펀드 등록해제</span>
		</button>
	</div>

	<div class="stock-graph pt24 pb32 px16 mt24" >

		<!-- tab-content -->
		<div class="tab-content">
			<ul class="tab-list tab-button" role="tablist">
				<li class="tab"><button role="tab" href="javascript:void(0);" value="1" name="period">1개월</button></li>
				<li class="tab tab-active"><button role="tab" href="javascript:void(0);" aria-selected="false" name="period" value="2" aria-selected="true" >3개월</button></li>
				<li class="tab"><button role="tab" href="javascript:void(0);" aria-selected="false" name="period" value="3">6개월</button></li>
				<li class="tab"><button role="tab" href="javascript:void(0);" aria-selected="false" name="period" value="4">1년</button></li>
				<li class="tab"><button role="tab" href="javascript:void(0);" aria-selected="false" name="period" value="5">3년</button></li>
			</ul>
		</div>
		<!-- //tab-content -->
		
		<div id="ivinfDetailView">

			<div class="stock-rate mt16">
				<dl>
					<dt>
						<span data-bind="periodTxt" id="periodTxt"></span>
						<span> 전보다</span>
					</dt>
					<dd>
						<div class="stock" data-bind="afKospiFluc" id="afKospiFluc">888.88</div>
						<div class="tags tags-small" aria-label="등락율" data-bind="afKospiRate" id="afKospiRate">+99.99%</div>
					</dd>
				</dl>
			</div>
	
			<div class="mt16">
					<div id="ivinf21sChart"></div>
			</div>
	
	
			<div class="stroke px0 mt32"></div>
			<dl class="group pb0 flex-wrap">
				<dt class="fs-18 fw-400 px-4">기초종가</dt>
				<dd class="fs-18 fw-400 fc-status-info mlauto" data-bind="basicVal" id="basicVal">9999.99</dd>
			</dl>
			<dl class="group pb0 pt12 flex-wrap">
				<dt class="fs-18 fw-400 px-4">기말종가</dt>
				<dd class="fs-18 fw-400 fc-status-info mlauto" data-bind="finalVal" id="finalVal">9999.99</dd>
			</dl>
			<dl class="group pb0 pt12 flex-wrap">
				<dt class="fs-18 fw-400 px-4">기간 최고(일)</dt>
				<dd class="fs-18 fw-400 fc-status-info mlauto" data-bind="maxVal" id="maxVal">9999.99(2024-11-21)</dd>
			</dl>
			<dl class="group pb0 pt12 flex-wrap">
				<dt class="fs-18 fw-400 px-4">기간 최저(일)</dt>
				<dd class="fs-18 fw-400 fc-status-info mlauto" data-bind="minVal" id="minVal">9999.99(2024-11-21)</dd>
			</dl>
	
			<div class="stroke px0 mt24"></div>
	
			<div class="btn-wrap flex-column pt24 pb0">
				<button type="button" class="btn-small btn-outlined btn-round w100" id="dayView">일자별 보기</button>
				<button type="button" class="btn-small btn-outlined btn-round w100" id="mpiView">펀드/지수 비교</button>
				<button type="button" class="btn-small btn-outlined btn-round w100" id="exrView" style="display: none;">환율조회</button>
			</div>
		
		</div>
		
	</div>
	
	<div class="division-center" id="noData" style="display: none;">
		<br><br><br>
		<div class="no-result">
			<i class="icon-only icon-48 icon-noresult bg-icon-gray_1"></i>
			<p class="body-medium fw-400">해당 기간 데이터가 없습니다.</p>
		</div>
	</div>
</div>
