<li id="rowDay" class="is-schedule">
	<a class="date">
		<div class="text" data-bind="dd"></div>
		<div class="schedule-wrap">
			<div class="sc-label label02" data-bind="isExpy" style="display: none;"></div>
			<div class="sc-label label03" data-bind="isBirt" style="display: none;"></div>
			<div class="sc-label label01" data-bind="isSchd" style="display: none;"></div>
		</div>
	</a>
	<div data-bind="today" style="display: none;"></div>
	<div data-bind="isHoliday" style="display: none;"></div>
	<div data-bind="isday" style="display: none;"></div>
</li>
