<!--
/*************************************************************************
* @ 서비스경로 : MN11P
* @ 파일명      : MN11P.html 메인 - [T] 홈 > 공지팝업
* @ 화면ID		: PBWMA000000
* @ 작성자      : 90194835
* @ 작성일      : 2025-01-20
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-20            윤은정                 최초작성
*************************************************************************/
-->

<div class="content">
	<div class="message-notice">
		<strong class="fc-status-error">공지</strong>
		<h2 class="title-large px0 mb12" id="popTitTxt">RM WON이 RM과 PB가 모두 편리한 앱으로 확대 개편됩니다!</h2>
		<p class="body-small fc-typography-gray" id="popBlbrTxt">자산관리 전문인력 여러분을 위한 새로운 앱이 오픈하였습니다. <br><br>
			효율적인 고객관리와 영업활동을 지원하는 다양한 기능을 제공하여 자산관리 역량과 영업력을 강화하는데 중요한 역할을 할 것입니다.
			업무에 많은 활용 부탁드리겠습니다.</p>
	</div>
</div>

<div class="btn-wrap pt16 pb0">
	<button type="button" class="btn-large btn-primary" id="btnPopView">자세히 보기<i class="ico-chevron-large bg-icon-white"></i></button>
</div>