<!-- 
/*************************************************************************
* @ 서비스경로 : DSCMNG30P
* @ 파일명      : DSCMNG30P 일정관리 > 영업 캘린더 > 만기 상세 팝업
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
 -->
 
<div class="content">
	<div class="schedule-section-title content-fluid">
		<i class="icon-only icon-24 icon-wallet bg-cyan-500" aria-label="수신만기"></i>
		<strong class="headline-medium" id="name"></strong>
	</div>

	<div class="stroke"></div>

	<!-- group-form -->
	<div class="group-form mt32">
		<div class="group-title">
			<strong class="title-medium">고객등급</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="cusGdcd"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">만기일</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="actXprDt"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">계좌잔액</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="afcKrwBal"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">통합고객번호</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="itemId"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">상품명</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="prdNm"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">계좌번호</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="crmpAcvtActSrno"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">이율(수익률)</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="aplIrt"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">KYC재확인일</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="kycReCnfScdDt"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->


</div>