<!-- 
/*************************************************************************
* @ 서비스경로 : DSCMNG12P
* @ 파일명      : DSCMNG12P 일정관리 > 영업 캘린더 > 목록 > 반복/단독일정 팝업
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
 -->

<div class="content">
	<div class="inp-group">
		<div class="inp inp-medium">
			<label> 
				<input type="radio" name="recurringRad001" value="N" checked> 
				<span class="label-title">이 일정만 열기</span>
			</label>
		</div>
		<div class="inp inp-medium">
			<label> 
				<input type="radio" name="recurringRad001" value="Y"> 
				<span class="label-title">모든 반복 일정 열기</span>
			</label>
		</div>
	</div>
</div>