<!-- 
/*************************************************************************
* @ 서비스경로 : DSCMNG40P
* @ 파일명      : DSCMNG40P 일정관리 > 영업 캘린더 > 생일 상세 팝업
* @ 작성자      : 90195467
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26            이혜성                 최초작성
*************************************************************************/
 -->

<!-- content -->
<div class="content">

	<div class="schedule-section-title content-fluid">
		<i class="icon-only icon-24 icon-birth bg-purple-600" aria-label="생일"></i>
		<strong class="headline-medium" id="name">홍길동 생일</strong>
	</div>

	<div class="stroke"></div>

	<!-- group-form -->
	<div class="group-form mt32">
		<div class="group-title">
			<strong class="title-medium">일시</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="basDt"></div>
				<div>
					<div class="tags tags-small tags-lightCyan tag-round" id="birthDscd"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">통합고객번호</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="itemId"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt40">
		<div class="group-title">
			<strong class="title-medium">고객등급</strong>
		</div>
		<div class="group-content">
			<div class="d-flex a-center gap8 px4">
				<div class="body-large" id="cusGdcd"></div>
			</div>
		</div>
	</div>
	<!-- //group-form -->


</div>