<!--
/*************************************************************************
* @ 서비스경로 : ETFGUIDE02M
* @ 파일명      : ETFGUIDE02M.html ETF 가이드북 > 상세
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="notice-wrap pt16">
	<div class="notice-title">
		<div class="notice-title-inner">
			<div class="tag-wrap" id="uppoFix" style="display:none;">
				<div class="tags tags-small tags-lightRed">중요</div>
			</div>
			<div class="date" id="bltnStaDt"></div>
		</div>
		<h2 class="title-large px0" id="blbrTitleNm"></h2>
	</div>
	<div class="stroke my32"></div>
	<div class="notice-content">
		<ul class="file-attach-list" id="fileList">
		</ul>
		<picture>
		<source id="imgSrcset" style="display:none;">
		<img alt="" id="imgUrl" style="display:none;"> </picture>
		
		<div class="text" style="display:none;">
			<pre id="blbrTxt">
			</pre>
		</div>
		<ul class="message-link">
			<li><a id="link"></a></li>
		</ul>
	</div>
	<div class="btn-wrap mt32 py0">
		<button type="button" id="goList" class="btn-small btn-outlined btn-round">목록으로
			돌아가기</button>
	</div>
</div>