<!--
/*************************************************************************
* @ 서비스경로 : SAFEBOARD01M
* @ 파일명      : SAFEBOARD01M.html 공지사항 > 목록
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="group-content mt0">
	<div class="inp-toggle-group">
		<div class="inp inp-toggle">
			<label>
				<span class="label-title">알림설정</span>
				<input type="checkbox" id="sbsc0004">
			</label>
		</div>
	</div>
</div>

<div class="notice-list mt16">
	<ul id="noticeList">

	</ul>
</div>

<div class="division-center" id="no-result" style="display:none;">
<style>
body {
	background-color: var(--background-bg_lightGray);
}
</style>
	<div class="no-result">
		<i class="icon-only icon-48 icon-notebook bg-icon-gray_1"></i>
		<p class="body-medium fw-400">S.A.F.E Script 목록이 없습니다.</p>
	</div>
</div>