<!--
/*************************************************************************
* @ 서비스경로 : MENU13S
* @ 파일명      : MENU13S.html  [P] 전체 메뉴 > 구독 설정
* @ 작성자      : 90196258
* @ 작성일      : 2025-01-17
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-17       90196258                 최초작성
*************************************************************************/
-->

<p class="description info body-small fc-typography-caption fw-400 my16">알림이 오지 않는다면, 휴대폰의 설정&gt;알림&gt;WON Click에서 알림을 허용해주세요.</p>

<!-- group-form -->
<div class="group-form">
	<div class="group-title p16">
		<strong class="title-large px0">구독 설정</strong>
	</div>
	<div class="group-content mt0">
		<div class="inp-toggle-group">
			<div class="inp inp-toggle">
				<label>
					<span class="label-title">Daily 모닝브리핑</span>
					<input type="checkbox" id="sbsc0001">
				</label>
			</div>
			<div class="inp inp-toggle">
				<label>
					<span class="label-title">Weekly 투자전략</span>
					<input type="checkbox" id="sbsc0002">
				</label>
			</div>
			<div class="inp inp-toggle">
				<label>
					<span class="label-title">TWO CHAIRS 웹진</span>
					<input type="checkbox" id="sbsc0003">
				</label>
			</div>
			<div id="safeScriptAlim" class="inp inp-toggle">
				<label>
					<span class="label-title">S.A.F.E Script</span>
					<input type="checkbox" id="sbsc0004">
				</label>
			</div>
		</div>
	</div>
</div>
<!-- //group-form -->



<!-- 		$swal.fire02('Push 알림이 꺼져 있습니다. <br> 휴대폰의 설정->알림->RM/PB WON(가칭)에서 알림을 허용해주세요.', 'caution', '예', true, '아니요');
 -->