<!--
/*************************************************************************
* @ 서비스경로 : MENU21M
* @ 파일명      : MENU21M.html  [P] 전체 메뉴 > 서비스 해지
* @ 작성자      : 90196258
* @ 작성일      : 2025-01-17
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-17       90196258                 최초작성
*************************************************************************/
-->

<!-- division-center -->
<div class="division-center">
  <!-- init-regist -->
  <div class="init-regist">
    <picture>
      <source srcset="../../resources/images/icon_only/icon_leave.svg" />
      <img src="../../resources/images/icon_only/icon_leave.svg" alt="" />
    </picture>
    <p
      class="description caution body-large ac fc-typography-title fw-700 mt32"
    >
      서비스를 해지하시겠습니까?
    </p>
    <p class="fc-typography-gray ac fs-16 mt16">
      이용 해지하실 경우, 자동으로 로그아웃 <br />
      되며, 로그인 시 재 동의를 하셔야만 <br />
      서비스를 이용할 수 있습니다.
    </p>
  </div>
  <!-- //init-regist -->
</div>
<!-- //division-center -->
