<div class="ui-guide">
	<h1>Home</h1>
	<p>Welcome Home Page!!</p>

	<br/>
	<br/>
	<br/>

	<div class="ui-guide-section">
		<h2>Home <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/home">Home</button>
		</div>
		<hr>

		<h2>샘플메인 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/sample">샘플메인</button>
		</div>
		<hr>

		<h2>퍼블리싱 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/public">퍼블리싱</button>
		</div>
		<hr>
		
		<h2>로그인 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/lgin40m">로그인</button>
		</div>
		<hr>
		
		<h2>메인 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/mn10m">메인</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ivinf10s">투자정보-메인</button>
		</div>
		<hr>
		
		<h2>예적금계산기 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fncpls10s">예적금계산기</button>
		</div>
		<hr>
		
		<h2>기업정보조회 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/crmpmng40m">기업정보조회 </button>
		</div>
		<hr>
		
		<h2>고객기여도 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/crmpmng30m">고객기여도 </button>
		</div>
		<hr>

		<h2>AI 지식상담 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/aiCnslng">AI 지식상담</button>
		</div>
		<hr>

		<h2>명함관리 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/nmcrmng10m">내 명함 관리 - 목록</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/nmcrmng20m">고객 명함 관리 - 목록</button>
		</div>
		<hr>
		
		<h2>대출 계산기 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fncpls20s">대출계산기</button>
		</div>
		<hr>
		
		<h2>실시간 환율 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fncpls50m">실시간 환율</button>
		</div>
		<hr>
		
		<h2>환율 계산기 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fncpls40m">환율 계산기</button>
		</div>
		<hr>
		
		<h2>펀드 찾기 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fnd10m">펀드 찾기</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/fnd60m">관심 펀드</button>
		</div>
		<hr>
		
		<h2>투자정보 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ivinf50s">AI 시장지수 분석(데자View)</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ivinf20s">주요지수</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ivinf30m">경제캘린더</button>
		</div>
		<hr>
		
		<h2>영업캘린더 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/dscmng10m">영업캘린더</button>
		</div>
		<hr>
		
		<h2>전문가리포트 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ivinf51m">전문가리포트</button>
		</div>
		<hr>
		
		<h2>차트 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/chart">차트</button>
		</div>
		<hr>

		<h2>APP 설치 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/appUpDown">APP 설치</button>
		</div>
		<hr>
		
		<h2>공지사항 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ntar01m">공지사항</button>
		</div>
		<hr>
		
		<h2>관리 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/mng01m">고객명함메모관리</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/mng02m">커뮤니티 관리</button>
		</div>
		<hr>
		
		<h2>차트 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/chart10m">펀드/지수 비교</button>
		</div>
		<hr>
		
		<h2>금융뉴스 <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/ivinf50m">금융뉴스</button>
		</div>
		<hr>
		
		<h2>##### 로그인 테스트 중입니다. 누르지 마세요~~ ### <span></span></h2>
		<div class="guide-column-list">
			<button  type="button" class="btn-large btn-primary" data-navigate="app/lgin99m">생체로그인등록</button>
			<button  type="button" class="btn-large btn-primary" data-navigate="app/lgin20s">생체로그인진행</button>
		</div>
		<hr>

	</div>
</div>