
<!--
/*************************************************************************
* @ 서비스경로 : ETF34P
* @ 파일명      : ETF > ETF 상세 > ETF > 투자에 따른 위험
* @ 화면ID 	: PBWFU049904
* @ 작성자      : 90195654
* @ 작성일      : 2025-01-06
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-06    90195654                 최초작성
*************************************************************************/
-->

<div class="content">

	<p class="description error body-small fc-typography-caption" class="mt10" style="font-size:16px">
	이 상품은 원금의 전부 또는 일부 손실이 발생할 수 있습니다.
	</p>
	<strong class="title-large py16 px8 mt24">유의사항</strong>
	<div class="box-gray">
		<p class="body-medium fw-400">
			&nbsp;· &nbsp;신탁은 실적배당상품으로 고객이 신탁자금을 직접지정하고 은행은 그 지시에 따라 신탁자금을 운용하며, 운용결과 발생되는 수익 및 손실은 모두 수익자에게 귀속되어 손실이 발생하는 경우에도 은행은 이를 보전하지 않습니다.</br>
			&nbsp;· &nbsp;이 금융상품은 예금자보호법에 따라 보호되지 않습니다.</br>
		</p>
	</div>
	<strong class="title-large py16 px8 mt24">신탁계약</strong>
	<div class="box-gray">
		<p class="body-medium fw-400">
			&nbsp;· &nbsp;상품 위험등급 및 기초자산에 관한사항(종류, 위험요인 등), 발행회사(신용보강기관)의 위험, 신탁보수, 중도해지 수수료, 중도해지(조기상환 조건이 있는 경우 그에 관한 사항)를 포함한 해지관련 사항, 수익구조(약정수익률, 이익지급조건, 조기 또는 만기상환 시 손익조건, 원금 손실사례 등) 및 투자위험, 투자수익에 대한 과세방법신탁계약의 내용, 운용자산의 핵심 투자위험(신용위험, 시장위험, 환위험 등), 원금손실 가능성(예금자보호법 적용대상 아님), 수수료, 조기상환조건, 계약의 해제·해지, 과세특례 요건, 취약 금융소비자 우선설명에 관한 사항
		</p>
	</div>

</div>