
<!--
/*************************************************************************
* @ 서비스경로 : FND35P
* @ 파일명      : ETF > ETF 상세 > ETF > 클래스 비교
* @ 화면ID 	: PBWFU049904
* @ 작성자      : 90195654
* @ 작성일      : 2025-01-06
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2025-01-06    90195654                 최초작성
*************************************************************************/
-->
<div class="content">


	<div class="table-col content-fluid overflow-visible px0 scroll-end">
		<table class="column01-sticky">
			<caption>클래스 비교</caption>
			<colgroup>
				<col style="">
				<col style="">
				<col style="">
				<col style="">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">총보수(년)</th>
					<th scope="col">선취판매 수수료</th>
					<th scope="col">환매 수수료</th>
				</tr>
			</thead>
			<tbody id="clasCmrs">
			</tbody>

		</table>
	</div>

</div>