<!--
/*************************************************************************
* @ 서비스경로 : FND41P
* @ 파일명      : FND41P.html  ETF > ETF상세 > 커뮤니티 > 내정보관리
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="content pt16">
  <!-- group-form -->
  <div class="group-form">
    <div class="group-title">
      <strong class="title-medium">아바타</strong>
    </div>
    <div class="group-content">
      <div class="inp-image">
        <div class="inp">
          <label>
            <input type="radio" name="avtCd" value="01" class="blind" checked />
            <picture>
              <source
                srcset="../../resources/images/avatar/profile_type1.svg"
              />
              <img
                src="../../resources/images/avatar/profile_type1.svg"
                alt="위비"
              />
            </picture>
          </label>
        </div>
        <div class="inp">
          <label>
            <input type="radio" name="avtCd" value="02" class="blind" />
            <picture>
              <source
                srcset="../../resources/images/avatar/profile_type2.svg"
              />
              <img
                src="../../resources/images/avatar/profile_type2.svg"
                alt="쿠"
              />
            </picture>
          </label>
        </div>
        <div class="inp">
          <label>
            <input type="radio" name="avtCd" value="03" class="blind" />
            <picture>
              <source
                srcset="../../resources/images/avatar/profile_type3.svg"
              />
              <img
                src="../../resources/images/avatar/profile_type3.svg"
                alt="푸딩"
              />
            </picture>
          </label>
        </div>
        <div class="inp">
          <label>
            <input type="radio" name="avtCd" value="04" class="blind" />
            <picture>
              <source
                srcset="../../resources/images/avatar/profile_type4.svg"
              />
              <img
                src="../../resources/images/avatar/profile_type4.svg"
                alt="두지"
              />
            </picture>
          </label>
        </div>
        <div class="inp">
          <label>
            <input type="radio" name="avtCd" value="05" class="blind" />
            <picture>
              <source
                srcset="../../resources/images/avatar/profile_type5.svg"
              />
              <img
                src="../../resources/images/avatar/profile_type5.svg"
                alt="달보"
              />
            </picture>
          </label>
        </div>
        <div class="inp">
          <label>
            <input type="radio" name="avtCd" value="06" class="blind" />
            <picture>
              <source
                srcset="../../resources/images/avatar/profile_type6.svg"
              />
              <img
                src="../../resources/images/avatar/profile_type6.svg"
                alt="봄봄"
              />
            </picture>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- //group-form -->

  <!-- group-form -->
  <div class="group-form mt24">
    <div class="group-title">
      <strong class="title-medium"
        >닉네임 <i class="apos" aria-label="필수 입력">*</i></strong
      >
      <div class="body-caption fs-15" id="nicknameLength">0/8자</div>
    </div>
    <div class="group-content">
      <div class="form" id="nicknameForm">
        <div class="label"></div>
        <div class="input-wrap">
          <input
            type="text"
            placeholder="한글과 영문, 숫자만 입력해주세요."
            aria-label="닉네임"
            id="nickname"
            name="nickname"
            autocomplete="off"
          />
          <button
            type="button"
            class="input-remove"
            aria-label="입력 내용 삭제"
          ></button>
        </div>
        <p class="validate-text" id="nicknameErr"></p>
      </div>
    </div>
  </div>
  <!-- //group-form -->
</div>
