<!--
/*************************************************************************
* @ 서비스경로 : FND42P
* @ 파일명      : FND42P.html  ETF > ETF상세 > 커뮤니티 > 게시글 등록
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="content pt16">

	<div class="inp inp-medium">
		<label> <input type="checkbox" id="ncknNmUseYn"> <span
			class="label-title" id="nickname"></span>
		</label>
	</div>

	<div class="form mt10">
		<div class="input-wrap">
			<textarea aria-label="메모" id="cmtyTxt" data-bind="cmtyTxt"></textarea>
		</div>
		<div class="textarea-length">
			<div class="left" id="txtLength"></div>
			<div class="right">
				<button type="button" class="btn-xsmall btn-primary btn-round" 
				aria-disabled="true" id="regist_btn" disabled>저장</button>
			</div>
		</div>
	</div>

	<p class="description error body-small mt10 fc-typography-caption">ETF에
		대한 정보 및 영업 비법 등을 직원들과 자유롭게 나누는 공간입니다.</p>
	<p class="description error body-small mt10 fc-typography-caption">게시판
		취지에 맞지 않는 글&middot;댓글(단순불만, 민감한 주제, 위화감을 주는 글)은 삭제될 수 있습니다.</p>

</div>