<!--
/*************************************************************************
* @ 서비스경로 : FND61P
* @ 파일명      : FND61P.html ETF > 나의 관심 ETF > ETF 순서 설정
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="content px24">
	<p class="description info body-large my24">
		순서를 바꿀 ETF를 끌어 순서를 변경하세요. <br> 상위 3개의 ETF는 메인&gt;ETF 탭에서 수익률 비교 차트로
		조회할 수 있습니다.
	</p>

	<div id="sortingBusinessCard" class="businesscard-list"></div>
</div>