<!--
/*************************************************************************
* @ 서비스경로 : FND12S
* @ 파일명      : FND_INQ_CND.html ETF찾기 > 조회팝업
* @ 작성자      : 90195654
* @ 작성일      : 2024-12-26
************************** 수정이력 ****************************************
* 날짜                    작업자                 변경내용
*_________________________________________________________________________
* 2024-12-26       90195654                 최초작성
*************************************************************************/
-->
<div class="content">

	<!-- group-form -->
	<div class="group-form">
		<div class="group-title py16 px8">
			<strong class="title-large px0">정렬</strong>
		</div>
		<div class="group-content mt0">
			<div class="inp-group">
				<div class="inp inp-medium">
					<label> <input type="radio" name="sort" value="PP" checked> 
						<span class="label-title">수익률순</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> <input type="radio" name="sort" value="SB"> 
						<span class="label-title">판매순</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt16">
		<div class="group-title py16 px8">
			<strong class="title-large px0">기간</strong>
		</div>
		<div class="group-content mt0">
			<div class="inp-group">
				<div class="inp inp-medium">
					<label> <input type="radio" name="term" value="1"> 
						<span class="label-title">1개월</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> <input type="radio" name="term" value="3"> 
						<span class="label-title">3개월</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> <input type="radio" name="term" value="6"> 
						<span class="label-title">6개월</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> <input type="radio" name="term" value="12"> 
						<span class="label-title">12개월</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

	<!-- group-form -->
	<div class="group-form mt16">
		<div class="group-title py16 px8">
			<strong class="title-large px0">필터</strong>
		</div>
		<div class="group-content mt0">

			<div class="inp-group">
				<div class="inp inp-medium">
					<label> <input type="radio" name="filter" value="N" checked> 
						<span class="label-title">전체</span>
					</label>
				</div>
				<div class="inp inp-medium">
					<label> <input type="radio" name="filter" value="Y"> 
						<span class="label-title">추천ETF</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- //group-form -->

</div>