<div class="ui-guide">
    <h1>Sample Radio</h1>
    <p>Radio 샘플입니다.</p>

    <div class="ui-guide-section">
        <div class="ui-guide-box">
            <h2>Default</h2>
            <dl>
                <dt></dt>
                <dd>
                    <div class="inp inp-large">
                        <label>
                            <input type="radio" name="rad001" value="1-1">
                            <span class="label-title">1번</span>
                        </label>
                    </div>
                    <div class="inp inp-large">
                        <label>
                            <input type="radio" name="rad001" value="1-2">
                            <span class="label-title">2번</span>
                        </label>
                    </div>
                </dd>
            </dl>
        </div>
        <hr>
        <div class="ui-guide-box">
            <h2>Tab</h2>
            <dl>
                <dt>Two Tabs</dt>
                <dd>
                    <div class="inp inp-tab">
                        <input type="radio" name="rad002" aria-label="1번" value="2-1">
                        <input type="radio" name="rad002" aria-label="2번" value="2-2">
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>Three Tabs</dt>
                <dd>
                    <div class="inp inp-tab">
                        <input type="radio" name="rad003" aria-label="a" value="3-1">
                        <input type="radio" name="rad003" aria-label="b" value="3-2">
                        <input type="radio" name="rad003" aria-label="c" value="3-3">
                        <input type="radio" name="rad003" aria-label="d" value="3-4">
                        <input type="radio" name="rad003" aria-label="e" value="3-5">
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>