<div class="ui-guide">
    <h1>팝업</h1>
    <p>팝업 샘플입니다.</p>

    <br>
    <br>

    <div class="ui-guide-section">
        <div class="ui-guide-box">
            <h2>팝업 종류 선택</h2>
            <dl>
                <dt></dt>
                <dd>
                    <div class="inp inp-large">
                        <label>
                            <input type="radio" name="rad001" value="normal" checked>
                            <span class="label-title">투버튼</span>
                        </label>
                    </div>
                    <div class="inp inp-large">
                        <label>
                            <input type="radio" name="rad001" value="oneButton">
                            <span class="label-title">원버튼(닫기 없음 / dimmed 비활성화 )</span>
                        </label>
                    </div>
                    <div class="inp inp-large">
                        <label>
                            <input type="radio" name="rad001" value="full">
                            <span class="label-title">풀(버튼없고 닫기만 있음 / dimmed 활성화)</span>
                        </label>
                    </div>
                </dd>
            </dl>
        </div>

        <br>
        <br>

        <button id="popupBtn" type="button" class="btn-large btn-primary">팝업오픈</button>
    </div>
</div>