<div class="content content-fluid">
    <div class="select-option">
        <strong class="title-large">필터</strong>
        <ul>
            <li class="select-all"><button type="button"><span>전체</span><i class="badge">10</i></button></li>
            <li><button type="button"><span>키맨</span><i class="badge">2</i></button></li>
            <li><button type="button"><span>내가 등록한 명함</span><i class="badge">5</i></button></li>
            <li><button type="button"><span>내가 등록한 명함 내가 등록한 명함 내가 등록한 명함 내가 등록한 명함</span><i class="badge">5</i></button></li>
            <li class="select-active"><button type="button" aria-label="선택됨"><span>PB 1팀</span><i class="badge">3</i></button></li>
        </ul>
        <div class="stroke stroke4"></div>
        <strong class="title-large">정렬</strong>
        <ul>
            <li class="select-active"><button type="button" aria-label="선택됨"><span>최신순</span></button></li>
            <li><button type="button"><span>이름순</span></button></li>
            <li><button type="button"><span>회사명순</span></button></li>
            <li><button type="button"><span>만료일</span></button></li>
        </ul>
    </div>
</div>